.THIS .tbl {
   display: block;
    overflow-y: scroll;
   max-height:290px;
}
.THIS .slds-textarea {
    height:100px ;
    width:100%;
    word-wrap: break-word;
}
.THIS.slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0); /* This is the standard blue */
    z-index: 1; /* This is to counteract the -1 that the :before element has */
}

/* These are the gradients and image used in the Salesforce theme */
.THIS.slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0));
}
.THIS.slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}