.THIS .table
{
    table-layout: fixed;
     border-collapse: collapse;
    width: 450px;
    border: 1px;
}
.THIS .myCheckbox{
   display: inline-block;
  float: left;
}

.THIS .label{
    display: block;
  padding-left: 15px;
  text-indent: -15px;
}