.THIS .searchButton{
    margin-top:23px;
}
.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}
.THIS .hideLabel label.slds-form-element__label{
    display: none;
}
.THIS .hideHelptext .slds-button__icon { 
	display: none;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .errorFont {  
  color:red;   
}
.THIS .headerbgColor {  
  background-color:#E1E3E9;   
}
.THIS.slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0); /* This is the standard blue */
    z-index: 1; /* This is to counteract the -1 that the :before element has */
}

/* These are the gradients and image used in the Salesforce theme */
.THIS.slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0));
}
.THIS.slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}
.THIS .tbl {
   display: block;
    overflow-y: scroll;
   max-height:250px;
}