.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}
.THIS .hideLabel .slds-form-element__label{
    display:none;
}
.THIS .bottomBorder {
    border-bottom:1px solid #D9DBDD;
}
.THIS .borderClass {
    border:1px solid rgb(217, 219, 221);
}
.THIS .paddingClass {
    padding:3px;
}
.THIS .paddingleftClass {
    padding-left:1px;
}

.THIS .redBG{
    background-color:red !important;
}

.THIS .yellowBG{
    background-color:yellow !important; 
}

.THIS .greenBG {
    background-color:LimeGreen  !important;
}

.THIS .partner-scorecard-center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.THIS .align-top-left {
    vertical-align:top;
    text-align:left;
}