<apex:component controller="QuoteTemplateController" access="global">
    <apex:attribute name="QuoteId" type="Id" description="the Digital Asset ID" assignTo="{!quoId}"/>
    <div>
        <table>
            <tr>
                <td><apex:image url="https://samsungsea--qa.cs65.my.salesforce.com/servlet/servlet.ImageServer?id={!samsungBlueLogo.Id}&oid={!orgId}"  width="113px" height="35px"/><br/><br/></td>
                <!--<td><apex:image url="{!$Resource.SamsungPDFLogo}" width="113px" height="35px"/></td>-->
            </tr>
        </table>
    </div>
    <br/>
    <div>
        <left><b>Samsung Business Services - Authority to Quote</b></left>
    </div>
    <b><hr></hr></b>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        General Information
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Account Name</td>
            <td class="tdValue" style="font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.Account.name}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Opportunity Name</td>
            <td class="tdValue" style="font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.Opportunity.name}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Opportunity No</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Opportunity_Number__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Version</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.VersionNumber__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Valid From Date</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Valid_From_Date__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Valid Until Date</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.ExpirationDate}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Samsung Rep</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Owner.Name}"/><br/><apex:outputfield value="{!currentQuote.Opportunity.Owner.Email}"/></td>
        </tr>
    </table>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Conditions:
    </div>
    <div>
    <ul>
      <li>Signed NDA on file.</li>
      <li>Applicable taxes not included.</li>
      <li>Shipping and Handling will be invoiced according to customer requirements.</li>
    </ul>
    <apex:outputfield value="{!currentQuote.Additional_Conditions__c}" rendered="{!currentQuote.Additional_Conditions__c!=null && currentQuote.Additional_Conditions__c!=''}"/>
    </div>
    <br/>
    <div style="text-align:right">
    *Invoice Price = MSRP
    </div>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
        color: rgb(229,111,25);
        width:100%;
        font-size: 12.8px;
        border-style: none none solid;
        border-bottom-color: rgb(148,182,205);
        border-bottom-width: 1pt;
        padding: 0in;">
        Approved Pricing:
    </div>
    <br/>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt; background-color: #767676;">
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Line Item Description</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SAP Material ID</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Quantity</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Requested Price</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Requested Price</th>
        </tr>
        <apex:repeat value="{!productLineItems}" var="qli">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.Name}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Description}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Product2.SAP_Material_ID__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Quantity}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Requested_Price__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Total_Requested_Price__c}"/></td>
            </tr>
        </apex:repeat>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: right; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;" colspan="5" >Sub Total:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.Subtotal}"/></td>
        </tr>
    </table>
</apex:component>