<apex:component controller="QuoteTemplateController" access="global">
    <apex:attribute name="QuoteId" type="Id" description="the Digital Asset ID" assignTo="{!quoId}"/>
    
    <div>
        <center><u><b>Samsung Business Services</b></u></center>
        <center><u><b>Device Provisioning Quotation</b></u></center>
    </div>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Prepared for:
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Account Name</td>
            <td class="tdValue" style="width:25%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Account.name}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SPA ID</td>
            <td class="tdValue" style="width:25%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.External_SPID__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</td>
            <td class="tdValue" style="width:25%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.End_Customer_Address__c}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Valid From Date</td>
            <td class="tdValue" style="width:25%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Valid_From_Date__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Samsung Rep</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Opportunity.Owner.Name}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Expiration Date</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.ExpirationDate}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;"></td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Device Quantity</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Total_Device_Quantity__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;"></td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Minimum Order Quantity</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2">100</td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product Description</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2">Device Provisioning</td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Price</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.TotalPrice}"/></td>
        </tr>
        <tr style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Comments</td>
            <td style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="5">*Please Reference the Quote Number when placing your order.<br/>Customer may place additional orders (subject to Minimum Order requirements) until pricing expires.</td>
        </tr>
    </table>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Terms and Conditions:
    </div>
    <div>
    <ol>
      <li>The performance of the Provisioning Services are governed by the Samsung Terms and conditions located at http://www.samsung.com/us/business/services/samsung-business-services (the "Terms and Conditions"). All capitalized terms that are not defined in this Device Provisioning Quotation shall have the meaning ascribed to them in the Terms and Conditions. No pre-written terms of your purchase order will be binding on Samsung.</li>
      <li>After receipt of your Order, Samsung or your reseller will invoice you for the Set-up Fee. You will be invoiced upon shipment for each individual order into a single invoice at our sole discretion.</li>
      <li>If you decide to cancel your Order prior to completion of the total committed volume (individual, monthly or otherwise), you will still be invoiced for the Set-Up Fee and you agree to pay Samsung: 1) for any completed or partially completed Order up to the date of cancellation; and 2) shipping charges to return any devices and/or excess Customer Materials to you in the event you request a partial cancellation.</li>
      <li>Shipping will be billed separately based on your requirements (for example, split shipments). All shipping locations must be provided to Samsung before a final quote can be generated. You are responsible for payment of all transportation costs associated with shipping your devices and Customer Materials to Samsung and all transportation costs associated with shipping your provisioned devices and Customer Materials to you (or your designated locations). All transportation shall be via Samsung’s standard ground transportation service providers. You may request alternative modes of transportation, such as air transportation, at an additional cost.</li>
      <li>Title and risk of loss or damage to the devices and Customer Materials shall at all times remain with you.</li>      
    </ol>
    </div>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Operational Logistics:
    </div>
    <div>
    <ol>
      <li>Samsung will provide an FTP site for you to upload any files (wallpapers, application APK files and other software) required for the device configuration.</li>
      <li>You agree to securely package and ship your devices and all Customer Materials (e.g peripherals, custom packaging and documentation) to the Samsung ‘ship-to’ location at your expense. The Customer Materials and devices must be delivered to the Samsung facility a minimum of 2 business days before the start of scheduled provisioning Services. You must also provide an inventory of devices and Customer Materials prior to delivery so that Samsung can confirm receipt of all materials. Samsung will notify you if devices and/or Customer Materials received by Samsung do not conform to your inventory. You agree to promptly ship any missing devices and/or Customer Materials to Samsung. Samsung cannot partially provision devices or discount provisioning services for missing or damaged devices or accessories. You are responsible for supplying packaging if the existing device packaging is unsuitable. You will be charged fees for additional packaging if the packaging you provide is unsuitable. Samsung recommends sending an additional 5% of devices and accessories inventory to cover any faulty peripherals or damaged documentation.</li>
      <li>First article creation and inspection:
        <ul>
            <li>Test Device. Samsung will provide a test device with the device configuration (as described in Section 4) for first article inspection and verification by you (the “Sample Device”).</li>
            <li>Inspection. You have 5 business days (the “Inspection Period”) to test and inspect the Sample Device to confirm compliance with the device configuration. You agree to provide written notice of your acceptance or rejection to Samsung within the Inspection Period. If you fail to provide notice to Samsung within the Inspection Period, Samsung will consider the Sample Device accepted and will provision all remaining devices based on the Sample.</li>
            <li>Device Rework. If the Sample Device is rejected within the Inspection Period for failure to comply with the agreed device configuration, you must provide specific details of the rejection. Samsung will reload the device with the agreed device configuration and resubmit the Sample Device to you for a further Inspection Period. Additional charges may apply if the reason for rejection is outside the scope of the agreed device configuration.</li>
            <li>Changes to the Configuration. Once the Sample Device is accepted in accordance with this Section 3.3, any changes to the device configuration will incur additional provisioning charges.</li>
        </ul>
      </li>
      <li>Completion of the Device ProvisioningUpon completion, the provisioned devices and any Customer Materials will be dispatched to the “ship to” location(s) designated by you and a shipping tracking number will be sent to your primary contact. Samsung will invoice you for the Services upon shipment.</li>
    </ol>
    </div>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Customer Requirements:
    </div>
    <div>
    <p><i>Each step of the provisioning process should be described in this section with supporting details as necessary to define the complete scope of customer requirements:</i></p>
    <apex:outputfield value="{!currentQuote.Custom_Deliverable_Details__c}" rendered="{!currentQuote.Custom_Deliverable_Details__c!=null && currentQuote.Custom_Deliverable_Details__c!=''}"/>
    </div>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Vendor Information:
    </div>
    <div>
        <table>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td >
                Samsung Electronics America, Inc.<br/>85 Challenger Rd.<br/>Ridgefield Park, NJ 07660<br/>Phone Number:
            </td>
        </tr>
        </table>
    </div>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        To Place Order, Contact:
    </div>
    <div>
        <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td valign="Top" class="tdLabel" style="width: 15%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Samsung Contact:</td>
            <td class="tdValue" style="width:35%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Samsung_Contact__c}"/></td>
        </tr>
        </table>
    </div>
    <br/>
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
        color: rgb(229,111,25);
        width:100%;
        font-size: 12.8px;
        border-style: none none solid;
        border-bottom-color: rgb(148,182,205);
        border-bottom-width: 1pt;
        padding: 0in;">
    </div>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Quote Prepared For:
    </div>
    <br/>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td valign="Top" class="tdLabel" style="width: 15%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Sold To:</td>
            <td class="tdValue" style="width:35%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Sold_To__c}"/></td>
            <td valign="Top" class="tdLabel" style="width: 15%; font-weight: bold; background: rgb(216,237,248); text-align: left; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Ship To:</td>
            <td class="tdValue" style="width:35%;font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="2"><apex:outputfield value="{!currentQuote.Ship_To__c}"/></td>
        </tr>
    </table>
    <br/>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt; background-color: #767676;">
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Line Item Description</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SAP Material ID</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Quantity</th>
            <!--<th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Invoice Price</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Requested Price</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Requested Price</th>-->
        </tr>
        <apex:repeat value="{!productLineItems}" var="qli">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.Name}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Description}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.SAP_Material_ID__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Quantity}"/></td>
                <!--<td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.ListPrice}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Requested_Price__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Total_Requested_Price__c}"/></td>-->
            </tr>
        </apex:repeat>
        <!--<tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: right; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;" colspan="6" >Sub Total:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.subtotal}"/></td>
        </tr>-->
    </table>
        <tr>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: right; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;" colspan="7" >
                Plus Applicable taxes<br/>All Prices in USD.<br/>This Document is for Quotation purpose only. Order will be placed once PO is received and an invoice will be sent to you
            </td>
        </tr>
        <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Comments
    </div>
    <br/>
        <div>
        <tr>
            <td>
                Signed NDA on file<br/>Applicable taxes not included<br/>Shipping and Handling will be invoiced according to customer requirements
            </td>
        </tr>
    </div>
    <br/>
</apex:component>