<apex:component controller="QuoteTemplateController" access="global">
    <style>
        /*
        .tableClass {
        width: 100%;
        }
        
        .trClass {
        width: 100%;
        height: 15.75pt;
        }
        
        .tdLabel {
        width: 25%; 
        font-weight: bold;
        background: rgb(216,237,248);
        text-align: center;
        line-height: 11.25pt;
        font-size: 8.5pt;
        font-family: Tahoma,sans-serif;
        color: rgb(85,85,85);
        border-style: solid solid none;
        border-top-color: white;
        border-top-width: 1pt;
        border-left-color: rgb(181,202,216);
        border-left-width: 1pt;
        border-right-color: white;
        border-right-width: 1pt;
        padding: 2.25pt 0.75pt;
        height: 15.75pt;
        }
        
        .tdValue {
        width:25%; 
        font-size: 9pt;
        font-family: Tahoma,sans-serif;
        color: rgb(102,102,102);
        border-collapse: collapse;
        border-style: none solid solid none;
        border-bottom-color: rgb(228,228,228);
        border-bottom-width: 1pt;
        border-right-color: rgb(228,228,228);
        border-right-width: 1pt;
        padding: 0.75pt 3.75pt;
        height: 15.75pt;
        }
        
        .pText {
        font-size: 9pt;
        font-family: Tahoma,sans-serif;
        color: rgb(102,102,102);
        border-collapse: collapse;
        border-style: none solid solid none;
        border-bottom-color: rgb(228,228,228);
        border-bottom-width: 1pt;
        border-right-color: rgb(228,228,228);
        border-right-width: 1pt;
        padding: 0.75pt 3.75pt;
        height: 15.75pt;
        }
        
        .sectionHeader {
        font-family: Tahoma,sans-serif;
        color: rgb(229,111,25);
        width:100%;
        font-size: 12.8px;
        border-style: none none solid;
        border-bottom-color: rgb(148,182,205);
        border-bottom-width: 1pt;
        padding: 0in;
        }*/
    </style>
    <apex:attribute name="QuoteId" type="Id" description="the Digital Asset ID" assignTo="{!quoId}"/>
    <div>
        <table>
            <tr>
                <td><apex:image url="https://samsungsea.my.salesforce.com/servlet/servlet.ImageServer?id={!samsungLogo.Id}&oid={!orgId}"  width="113px" height="35px"/><br/><br/></td>
                <!--<td><apex:image url="{!$Resource.SamsungPDFLogo}" width="113px" height="35px"/></td>-->
                <td style="color:rgb(20,41,158); padding-left:30px;"><b>Samsung Electronics America, Inc.</b><br/>85 Challenger Rd Ste 1<br/>Ridgefield Park, NJ 07660<br/>Phone (201) 229-5000 Fax: (201) 229-5080</td>
            </tr>
        </table>
    </div>
    <br/>
    <div>
        <center><b>Special Pricing Agreement (SPA)</b></center>
    </div>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        General Information
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Name</td>
            <td class="tdValue" style="font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.Name}"/></td>
            <!--<td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;"></td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"></td>-->
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Opportunity No</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Opportunity_Number__c}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Request Type</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.RequestType__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SPA ID</td>
            <td class="tdValue" style="font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.External_SPID__c}"/></td>
            <!--<td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;"></td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"></td>-->
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">End Customer</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Account.Name}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Samsung Rep</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Owner.Name}"/><br/><apex:outputfield value="{!currentQuote.Opportunity.Owner.Email}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.End_Customer_Address__c}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Valid Period</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Valid_From_Date__c}"/> - &nbsp;<apex:outputfield value="{!currentQuote.ExpirationDate}"/></td>
        </tr>
    </table>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Partner
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Name</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Distributor__r.Name}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Contact</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Distributor_Contact_Details__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</td>
            <td class="tdValue" style="width:75%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.DistributorAddress__c}"/></td>
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Notes</td>
            <td class="tdValue" style="width:75%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.PricingNotes__c}"/></td>
        </tr>
    </table>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
        Resellers
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt; background-color: #767676;">
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Name</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Contact</th>
        </tr>
        <apex:repeat value="{!resellers}" var="res">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!res.Reseller_Name__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!res.BillingAddress__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!res.Reseller_Contact_Info__c}"/></td>
            </tr>
        </apex:repeat>
    </table>
    <br/>
    <!--
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
        color: rgb(229,111,25);
        width:100%;
        font-size: 12.8px;
        border-style: none none solid;
        border-bottom-color: rgb(148,182,205);
        border-bottom-width: 1pt;
        padding: 0in;">
        Products
    </div>
-->
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt; background-color: #767676;">
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product Name</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SAP Material ID</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Line Item Description</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Quantity</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Invoice Price</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Requested Price</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;Display:{!IF(currentQuote.Division__c !='IT', '', 'none')}">Discount</th>
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt; Display:{!IF(currentQuote.Division__c !='IT', '', 'none')}">Discount Amount</th>
            <!--
            <th class="tdLabel" style="width: 25%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Price</th>
            -->
        </tr>
        <apex:repeat value="{!productLineItems}" var="qli">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.Name}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Model_Name_Nickname__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.SAP_Material_ID__c }"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Description}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Quantity}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.ListPrice}"/> / <apex:outputfield value="{!qli.Total_List_Price__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Requested_Price__c}"/> / <apex:outputfield value="{!qli.Total_Requested_Price__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;Display:{!IF(currentQuote.Division__c !='IT', '', 'none')}"><apex:outputfield value="{!qli.Discount__c}"/></td>
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;Display:{!IF(currentQuote.Division__c !='IT', '', 'none')}"><apex:outputfield value="{!qli.TotalDiscount__c}"/></td>
                <!--
                <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.TotalPrice}"/></td>
                -->
            </tr>
        </apex:repeat>
        <tr class="trClass" style="width: 100%; height: 15.75pt; Display:{!IF(currentQuote.Division__c !='IT', '', 'none')}">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(216,237,248); text-align: right; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(181,202,216); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;" colspan="7" >Totals:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.TotalDiscount__c}"/></td>
            <!--
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.TotalCost__c}"/></td>
            -->
        </tr>
    </table>
    <br/>
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #dee5ec;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(148,182,205);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
    <!--
    <div style="background-color: #dee5ec; border: 1px solid #b2bfc9; color: #333; font: bold 90% Arial; height: 16px; line-height: 20px; padding-top: 4px; padding-bottom: 0;">        
    
    <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
        color: rgb(229,111,25);
        width:100%;
        font-size: 12.8px;
        border-style: none none solid;
        border-bottom-color: rgb(148,182,205);
        border-bottom-width: 1pt;
        padding: 0in;">-->
        Terms and Conditions
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <apex:outputPanel rendered="{!currentQuote.Division__c!='Mobile'}">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="pText"><apex:outputfield value="{!currentQuote.Terms__c}"/></td>
        </tr>
        </apex:outputPanel>
        <apex:outputPanel rendered="{!currentQuote.Division__c='Mobile'}">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="pText"><br/><apex:outputfield value="{!currentQuote.Additional_Terms__c}"/></td>
            </tr>
        </apex:outputPanel>
    </table>
</apex:component>