<apex:component controller="QuoteTemplateController" access="global">
    <apex:attribute name="QuoteId" type="Id" description="the Digital Asset ID" assignTo="{!quoId}"/>
     <div class="header">
        <br/>
        <apex:image url="{!$Resource.SamsungLogoWE}" width="350px" height="90px" /> 
        </div>
      <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #ffffff;
                                      font-weight:bold;
                                      color: #ffffff;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(255,255,255);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
      
    </div>
    <table>
        <tr>
            <td style="color:rgb(51,51,51); padding-left:30px;"><br/>1301 East Lookout Dr.<br/>Richardson, TX 75082<br/>Phone: 800-876-4782 <br/>Email: Sales@we-operations.com</td> 
        </tr>
        
    </table>
    
     <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #ffffff;
                                      font-weight:bold;
                                      color: #ffffff;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(255,255,255);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
      
    </div>
    <br></br>
     <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Opportunity Name:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Name}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Request Type:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.RequestType__c}"/></td>
         
            
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Opportunity No:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Opportunity_Number__c}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Samsung Rep:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Opportunity.Owner.Name}"/><br/><apex:outputfield value="{!currentQuote.Opportunity.Owner.Email}"/></td>
         
           
        </tr>
       
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
        <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Account Name:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Account.Name}"/></td>
           
        </tr>
        <tr></tr>
        
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
         <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.End_Customer_Address__c}"/></td>
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Date:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(51,51,51); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Valid_From_Date__c}"/> - &nbsp;<apex:outputfield value="{!currentQuote.ExpirationDate}"/></td>
         
           
        </tr>
    </table><br/>
       <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #ffffff;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(255,255,255);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
           Primary Reseller:
      
    </div>
    
      <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Name</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Reseller_Name__r.name}"/></td>
           
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,2558); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</td>
            <td class="tdValue" style="width:75%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.Reseller_Address__c}" rendered="{!Resellers.size>0}"/></td>
        </tr>
        
    </table>

    <br></br>
      <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #ffffff;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(255,255,255);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
          Primary Distributor:
      
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Name</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!currentQuote.Distributor__r.Name}"/></td>
           
        </tr>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,2558); text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(85,85,85); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Address</td>
            <td class="tdValue" style="width:75%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;" colspan="3"><apex:outputfield value="{!currentQuote.DistributorAddress__c}"/></td>
        </tr>
        
    </table>
    <br></br>
     <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt; background-color: #767676;">
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Product</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">SAP Material ID</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Quantity</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Invoice Price</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Total Invoice Price</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Requested Price</th>
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;"> Total Requested Price</th>
            
            <th class="tdLabel" style="width: 12.5%; font-weight: normal; text-align: center; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: #fff; border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(118, 118, 118); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;">Discount Amount</th>
            
        </tr>
        <apex:repeat value="{!productLineItems}" var="qli">
            <tr class="trClass" style="width: 100%; height: 15.75pt;">
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.Name}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt;"><apex:outputfield value="{!qli.Product2.SAP_Material_ID__c}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Quantity}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.ListPrice}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Total_List_Price__c}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Requested_Price__c}"/>  </td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Total_Requested_Price__c}"/></td>
                <td class="tdValue" style="width:12.5%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                    border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                    border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!qli.Discount__c}"/></td>
                
            </tr>
        </apex:repeat>
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" style="width: 25%; font-weight: bold; background: rgb(255,255,255); text-align: right; line-height: 11.25pt;
                font-size: 8.5pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-style: solid solid none; border-top-color: white;
                border-top-width: 1pt; border-left-color: rgb(255,255,255); border-left-width: 1pt; border-right-color: white; border-right-width: 1pt;
                padding: 2.25pt 0.75pt; height: 15.75pt;" colspan="7" >Totals Discount:</td>
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(255,255,255); border-bottom-width: 1pt; border-right-color: rgb(255,255,255);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.TotalDiscount__c}"/></td>
            <!--
            <td class="tdValue" style="width:25%; font-size: 9pt; font-family: Tahoma,sans-serif; color: rgb(102,102,102); border-collapse: collapse;
                border-style: none solid solid none; border-bottom-color: rgb(228,228,228); border-bottom-width: 1pt; border-right-color: rgb(228,228,228);
                border-right-width: 1pt; padding: 0.75pt 3.75pt; height: 15.75pt; text-align: right;"><apex:outputfield value="{!currentQuote.TotalCost__c}"/></td>
            -->
        </tr>
     </table>
      <div class="sectionHeader" style="font-family: Tahoma,sans-serif;
                                      background-color: #ffffff;
                                      font-weight:bold;
                                      color: #333;
                                      width:100%;
                                      font-size: 12.8px;
                                      border-style: none none solid;
                                      border-bottom-color: rgb(255,255,255);
                                      border-bottom-width: 1pt;
                                      padding: 4px;">
  
        Terms and Conditions
    </div>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr class="trClass" style="width: 100%; height: 15.75pt;">
            <td class="pText"><apex:outputfield value="{!currentQuote.Terms__c}"/></td>
        </tr>
    </table>
</apex:component>