@media (max-width: 48em) {
    .THIS .slds-max-medium-table_stacked-horizontal td,
    .THIS .slds-max-medium-table--stacked-horizontal td {
        text-align:left;
    }
}

.THIS .required:before {
    color: rgb(194, 57, 52);
    content: '*';
}

.THIS .sWrapTest {
   
}

.THIS iswidth{
      width:50%;
      box-sizing:border-box;
    }

.THIS .toggle {
    display: none;
}

.THIS .mb
{
    margin-bottom:24px;
}

.THIS .mt
{
    margin-top:8px;
}

.THIS {
    background-color:#8EB0E1;
}

.THIS .slds-button--icon-border span {
    box-sizing:content-box;
}

.cCallReportView_B2B {
   background-color:#8EB0E1; 
}

.cCallReportView_B2B .forceStyle.desktop .viewport .center {
       background-color:#8EB0E1;
}

.cCallReportView_B2B .tsize{
    font-size:15px;
}

.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}

.THIS .left{
    float:left;
}

.THIS .slds-button, .THIS .slds-button_neutral{
    float:right;
    margin-left:3px;
    font-size : 16px;
    font-weight: bold;
}
.THIS .slds-table .slds-form-element__label{
    display:none;
}

.THIS .slds-has-error .slds-form-element__help {
    display:none;
}
.THIS .slds-has-error .slds-input,
.THIS .slds-has-error .slds-select {
    border-color: rgb(221, 219, 218);
    box-shadow: none;
}
.THIS .dotted {
    border-bottom: 1px dotted #045EEE; 
}

.THIS .relatedDiv
{
    margin-bottom: 10px; 
    border:1px solid #d4d6d8;
    background-color: white;
}
.THIS .truncate
{
    word-break: break-all;
}
.THIS .fieldLabel{
    font-size : 12px;
    color : #777777;
}
.THIS .vertical-field .slds-form-element_horizontal .slds-form-element__label {
    max-width: 100%;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    float: none;
   }

.THIS .vertical-field .slds-form-element_horizontal .slds-form-element__control {
    padding-left: 0;
}