.THIS .errorFont {  
  color:red;   
}
.THIS .hideLabel label.slds-form-element__label{
    display: none;
}
.THIS .customRequired{
 font-weight: 400; 
}
.THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; 
}

.THIS .slds-modal__close {
    display: none !important;
}