@charset "utf-8";

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button, table {
	margin: 0;
	padding: 0;
}
fieldset, img {
	border: 0 none
}
dl, ul, ol, menu, li {
	list-style: none;
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
input, select, textarea, button {
	vertical-align: middle
}
button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer
}
html, body {
	-webkit-font-smoothing: antialiased;
	height: 100%;
	line-height: 20px;
	font-family: "맑은고딕", "Malgun Gothic", "돋움", Dotum, Shruti, Arial;
	font-size: 13px;
	color: #646464;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: justify;
}

body, th, td, input, select, textarea, button {
	font-size: 14px;
	color: #666;
}
a {
	color: #333;
	text-decoration: none;
	outline: none;
select-dummy: expression(this.hideFocus=true);
}
a:active, a:hover {
	text-decoration: none
}
address, caption, cite, code, dfn, em, var {
	font-style: normal;
	font-weight: normal
}




/* Table Type1 */
.table_type1 {width:100%; clear:both; }
.table_type1 table {width:100%;}
.table_type1 table thead th {padding:8px; color:#ffffff; text-align:center; background:#4bafcc;  border:1px solid #dcdcdc; font-weight:bold; font-size:12px;}
.table_type1 table thead th.year {background:#2f92af;}
.table_type1 table thead th.month {background:#4bafcc;}
.table_type1 table thead th.week {background:#6dc6e0;}

.table_type1 table tbody th {padding:0 8px 0 10px;height:25px; line-height:25px; color:#4d4d4d; text-align:left; border:1px solid #dcdcdc; font-weight:normal; font-size:12px;}
.table_type1 table tbody th.line {border-right:1px solid #4bafcc;}


.table_type1 table tbody th.bgWhite{background-color:#fff;}
.table_type1 table tbody th.bgBlue{background-color:#f0f9fc;}
.table_type1 table tbody th.bgGray{background-color:#fbfbfb;}

.table_type1 table tbody th.txtWhite{color:#fff;}
.table_type1 table tbody th.txtBlue{color:#0d7da1}
.table_type1 table tbody th.bold{font-weight:bold;}


.table_type1 table tbody th.total{padding:;}
.table_type1 table tbody th.sub{padding-left: 30px;}

.table_type1 table td {padding:0 8px 0 10px; height:25px; line-height:25px; text-align:center; font-size:12px; border:1px solid #dcdcdc; color:#000;}
.table_type1 table td.right {text-align:right;}
.table_type1 table td.left {text-align:left;}

.table_type1 table td.year {background-color:#f8f8f8;}
.table_type1 table td.month {background-color:#fff;}
.table_type1 table td.week {background-color:#f3f3f3;}
.table_type1 table td.line {border-right:1px solid #4bafcc;}

 /*.table_type1 table tr.bgBlue td{background-color:#f9f9f9;} */

