.THIS .hideLabel .slds-form-element__label{
    display:none;
}
.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}
.THIS .divBorder {
    border:1px solid rgb(217, 219, 221);
}
.THIS .inputPadding {
    padding-bottom:2px;
}
.THIS .field{
  padding: 5px;
  border: 1px solid #dce4ec;
  border-radius: 2px;
}
.THIS .errorFont{
  background-color:#C70039;
  color: white;
}

.THIS .partner-scorecard-center {
 	margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.THIS .align-top-left {
    vertical-align:top;
    text-align:left;
}

.THIS .slds-rich-text-area__content {
    min-height:15rem;
}