.THIS .label-hidden > label {
    display: none;
}
.THIS .slds-form-element__label{ 
    display: none;
   
}

.THIS .table {
        border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

.THIS .showhdr{
    display: none;
}
@media only screen and (max-width: 600px) {
    .THIS .showhdr{
    
   }
}