@media (max-width: 48em) {
    .THIS .slds-max-medium-table_stacked-horizontal td,
    .THIS .slds-max-medium-table--stacked-horizontal td {
        text-align:left;
    }
}

.THIS .required:before {
    color: rgb(194, 57, 52);
    content: '*';
}

.THIS .sWrapTest {
   
}

.THIS iswidth{
      width:50%;
      box-sizing:border-box;
    }

.THIS .toggle {
    display: none;
}

.THIS .mb
{
    margin-bottom:18px;
}

.THIS .mt
{
    margin-top:8px;
}

.THIS .LookupComp
{
    margin-bottom:8px;
}

.THIS {
    background-color:#fff;
}

.THIS .slds-button--icon-border span {
    box-sizing:content-box;
}

.cCallReport {
   background-color:#fff; 
}
.cCallReport .forceStyle.desktop .viewport .center {
       background-color:#fff;
}

.cCallReport .tsize{
    font-size:15px;
}

.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}

.THIS .left{
    float:left;
}
.THIS .slds-table .slds-form-element__label{
    display:none;
}

.THIS .slds-has-error .slds-form-element__help {
    display:none;
}
.THIS .slds-has-error .slds-input,
.THIS .slds-has-error .slds-select {
    border-color: rgb(221, 219, 218);
	box-shadow: none;
}
.THIS .helptextIcon {
  vertical-align: top !important;
}

.THIS .customRequired{
 font-weight: 400; 
} 
.THIS .customRequired:before{    
 content: "*";
 margin: 0 0.125rem 0 0.125rem;
 color: rgb(194, 57, 52);
 float: left; 
} 
.THIS .none{
 display:none; 
}
.THIS .greenOnUp svg {
    fill : #54C134;
}
.THIS .greenOnDown svg {
    fill : #54C134;
}
.THIS .topPadding
{
    margin-top:5px;
}