.THIS .tbl {
     table-layout: fixed;   
}
.THIS .slds-textarea {
    height:100px ;
    width:100%;
    word-wrap: break-word;
}
.THIS.slds-brand-band {
    background-color: rgba(176, 196, 223, 1.0); /* This is the standard blue */
    z-index: 1; /* This is to counteract the -1 that the :before element has */
}

/* These are the gradients and image used in the Salesforce theme */
.THIS.slds-brand-band:before {
    background-image: url(/_slds/images/themes/lightning_blue/lightning_blue_background.png),linear-gradient(to top, rgba(255, 255, 255, 0.0) 0, rgba(160, 180, 206, 1.0));
}
.THIS.slds-brand-band:after {
    background-image: linear-gradient(to bottom, rgba(176, 196, 223, 0.0) 60%, rgba(176, 196, 223, 1.0));
}

.THIS .negative {
    color: red;
}

.THIS .boarder {
 border: 1px solid black;
  padding: 5px 10px;
  
}
.THIS .headtd {
  border: 1px solid black;
  padding: 5px 10px;
  position: sticky!important;
  position: -webkit-sticky;
  top: 0px;
  background-color: #daebf7;
     z-index:10;
  
}

.THIS .headtd2 {
  border: 1px solid black;
  padding: 5px 10px;
  z-index:10;
  position: sticky!important;
  position: -webkit-sticky;
  top: 0px;
  background-color: #daebf7;
  
}

.THIS .firstchild{
  
  position: sticky!important;
   left: 0px;
    z-index: 100;
    background-color: #daebf7;
  
}
.THIS .firstchild2{
  position: -webkit-sticky;
  position: sticky;
   left: 100px;
background-color: #daebf7; 
   z-index: 100;
}
.THIS .firstchild3{
  position: -webkit-sticky;
  position: sticky;
   left: 190px;
   background-color: #daebf7;
    z-index: 100;
}
.THIS .firstchild4{
  position: -webkit-sticky;
  position: sticky;
   left: 330px;
    z-index: 100;
   background-color: #daebf7;
}
.THIS .firstchild5{
  position: -webkit-sticky;
  position: sticky;
   left: 400px;
   background-color: #daebf7;
    z-index: 100;
}
.THIS .firstchild6{
  position: -webkit-sticky;
  position: sticky;
   left: 470px;
   background-color: #daebf7;
 z-index: 100;
}
.THIS .firstchild7{
  position: -webkit-sticky;
  position: sticky;
   left: 510px;
   background-color: #daebf7;
 z-index: 100;
}
.THIS .firstchild8{
  position: -webkit-sticky;
  position: sticky;
   left: 590px;
  background-color: #daebf7;
  z-index: 100;
}
.THIS .zindex{
     
}
.THIS .freezehorizontal {
  z-index: 1;
  position: relative;
}
.THIS .freezevertical {
  z-index: 5;
  position: relative;
}