<apex:page standardController="account" lightningStylesheets="true">
 <apex:slds />
  <apex:outputPanel rendered="{!IF(Account.SAP_Company_Code__c == null, true, false)}">
   <apex:outputText value="{!account.Duplicate_Code__c}"  Style="color:red; word-wrap: break-word;"   />
   </apex:outputPanel>
   
   
</apex:page>