<apex:page standardController="Account_Profile__c" extensions="AccountProfileExt_V1" showHeader="true">
    <apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" /> 
 <style>
    .tableStyle {border-collapse:collapse;}
    .colStyle1 { width: 50%;text-align:left; padding-right:30px; border-right:1px solid #000;}
    .colStyle2 { width: 50%; text-align:left; padding-left:30px; }
    
    .rowstyle { padding:0px; }if
</style>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> 
    <script type="text/javascript">
        var $j = jQuery.noConflict();
        $j(document).ready(function() {
            setTimeout(function() {
                $j('select.myMultiClass').each(function(i, val) { 
                    $j(val).width(100);
                })
            },100);
        });
</script>

<c:loadingComponent />
<apex:sectionHeader title="Account Profile Edit" subtitle="{!theProfile.name}" rendered="{!if(Account_Profile__c.id!= NULL,TRUE,FALSE)}"/>
<apex:sectionHeader title="New Account Profile" rendered="{!if(Account_Profile__c.id == NULL,TRUE,FALSE)}"/>
    <apex:form >
        <Apex:pageblock >
            <apex:pageBlockButtons >
                <apex:commandButton action="{!FinalSave}" value="Save"/>
                <apex:commandButton action="{!FinalCancel}" value="Cancel"/>
            </apex:pageBlockButtons>
            
            <apex:pageBlockSection title="Account Profile ">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Profile Name"/>
                    <apex:inputField value="{!theProfile.Name}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Fiscal Year"/>
                    <apex:inputField value="{!theProfile.FiscalYear__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
            <Apex:pageBlockSection showheader="true" title="Account Information">
               <apex:outputField label="Account Name :" value="{!Acc.Name}"/> 
               <apex:outputField label="Company Hierarchy " value="{!Acc.parent.name }"/>
               <apex:outputField label="HQ Address " value="{!Acc.Address_For_Profie__c}"/> 
               <apex:outputField label="Website " value="{!Acc.Website }"/> 
               <apex:outputField label="Phone " value="{!Acc.Phone}"/> 
               <apex:outputField label="# of Employees " value="{!Acc.NumberOfEmployees}"/>
               <apex:outputField label="CY Revenue " value="{!Acc.AnnualRevenue}"/>  
               <apex:outputField label="Industry " value="{!Acc.Industry}"/> 
               <apex:outputField label="PY Annual Revenue " value="{!Acc.Prior_Year_Revenue__c}"/>                     
            </Apex:pageBlockSection>
            
            <apex:pageBlockSection showHeader="true" Title="Account Contacts" columns="1">
                    <apex:pageBlockTable value="{!keycon}" var="inf" columnsWidth="15%,25%,15%,15%,15%,15%">
                        <apex:column headervalue="Name" value="{!inf.Contact.name}"/>
                        <apex:column headervalue="Title" value="{!inf.Contact.title}"/>
                        <apex:column headervalue="Role" value="{!inf.Role}"/>
                        <apex:column headerValue="Degree of Influence"><apex:inputField value="{!inf.contact.Degre_of_influence__c}"/></apex:column>
                        <apex:column headervalue="Email" value="{!inf.Contact.Email}"/> 
                        <apex:column headerValue="Phone" value="{!inf.contact.phone}"/>
                        <apex:inlineEditSupport showOnEdit="saveButton, cancelButton" 
                                hideOnEdit="editButton,pdfbutton" event="ondblclick" 
                                changedStyleClass="myBoldClass" resetFunction="resetInlineEdit" disabled="true"/> 
                    </apex:pageBlockTable>
          </apex:pageBlockSection> 
          
          <apex:pageBlockSection showHeader="true" Title="Current Mobile Environment" columns="1">
                <!--<apex:pageBlockSectionItem >
                   <apex:outputLabel value="IL Mix (%)"/>
                   <apex:inputText value="{!theprofile.IL_Mix__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="ATT Carrier Mix (%)"/>
                   <apex:inputText value="{!theprofile.ATT_Carrier_Mix__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="T-Mobile Caarrier Mix (%)"/>
                   <apex:inputText value="{!theprofile.TMobile_Carrier_Mix__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Verizon Carrier Mix (%)"/>
                   <apex:inputText value="{!theprofile.Verizon_Carrier_Mix__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Sprint Carrier Mix (%)"/>
                   <apex:inputText value="{!theprofile.Sprint_Carrier_Mix__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Other Carrier Mix (%)"/>
                   <apex:inputText value="{!theprofile.Others_Carrier_Mix__c}"/>
                </apex:pageBlockSectionItem>-->
                
                <apex:pageBlockTable value="{!MobileProductShare}" var="Mps" columnsWidth="12%,22%,22%,22%,22%">
                    <!--<apex:column headerValue="Division" value="{!Mps.Divison__c}"/>-->
                    <apex:column headerValue="" value="{!Mps.Product__c}"/>
                    <apex:column headerValue="Samsung %">
                        <Apex:inputField value="{!Mps.Samsung__c}"/>
                    </Apex:column>
                    <apex:column headerValue="LO %">
                        <Apex:inputField value="{!Mps.LO__c}"/>
                    </Apex:column>
                    <apex:column headerValue="Other %">
                        <Apex:inputField value="{!Mps.Other__c}"/>
                    </Apex:column>
                    <apex:column headerValue="Total %">
                        <Apex:inputField value="{!Mps.Total__c}"/>
                    </Apex:column>
                </apex:pageBlockTable>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="MDM Partner"/>
                   <apex:inputfield value="{!theprofile.MDMPartner__c}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                   <apex:outputLabel value="Carriers"/>
                   <apex:inputfield value="{!theprofile.Carriers__c}"/>
                </apex:pageBlockSectionItem>
            </apex:pageblocksection>
            
            <apex:pageBlockSection showHeader="true" title="Purchase History" columns="1">
                <apex:pageBlockTable value="{!PurchaseHistory}" var="p">
                    <apex:column headerValue="Product Division" value="{!p.Product_Division__c}"/>
                    <apex:column headerValue="Product Category" value="{!p.name}"/>
                    <apex:column style="text-align:right;" headerValue="Purchase Amount"><apex:inputField value="{!p.PurchaseAmount__c}" html-placeholder="e.g. 100K or 1 M"/></apex:column>
                    <apex:column style="text-align:right;" headerValue="Quantity (#units)"><apex:inputField value="{!p.Quantity__c}" html-placeholder="e.g. 15K"/></apex:column>
                    <apex:column style="text-align:center;" headerValue="Expected Refresh Date"><apex:inputField value="{!p.Expected_Refresh_Date__c}"/></apex:column>
                    <apex:column headerValue="Solutions/Services Included (if Applicable)"><apex:inputField value="{!p.Services_Included__c}" html-placeholder="e.g. KNOX"/></apex:column>
                </apex:pageBlockTable>
            </apex:pageblocksection>
            <apex:pageBlockSection showHeader="True" Title="Top 5 Open Opportunities Current Year" columns="1">
                    <apex:pageBlockTable value="{!openopps}" var="o" columnsWidth="20%,20%,15%,15%,15%,15%">
                        <apex:column headerValue="Name"><apex:outputlink value="/{!o.id}">{!o.name}</apex:outputlink></apex:column>
                        <apex:column headerValue="Initiative"><apex:inputField value="{!o.Initiative__c}" style="width:300px"/></apex:column>
                        <apex:column headervalue="Product Group" value="{!o.ProductGroupTest__c}"/>
                        <apex:column headervalue="Stage" value="{!o.StageName}"/>      
                        <!--<apex:column style="text-align:center;" headervalue="Close Date" value="{!w.CloseDate}"/>-->
                        <apex:column style="text-align:center;" headervalue="Close Date">
                            <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!o.CloseDate}" /> </apex:outputText></apex:column>   
                        <apex:column style="text-align:right;" headervalue="Amount" value="{!o.Amount}"/>
                    </apex:pageBlockTable>
             </apex:pageBlockSection>
                
                <apex:pageBlockSection showHeader="True" Title="Top 5 Win Opportunities Current Year" columns="1">
                    <apex:pageBlockTable value="{!wins}" var="w" columnsWidth="20%,20%,15%,15%,15%,15%">
                        <apex:column headerValue="Name"><apex:outputlink value="/{!w.id}">{!w.name}</apex:outputlink></apex:column>
                        <apex:column headerValue="Initiative"><apex:inputField value="{!w.Initiative__c}" style="width:300px"/></apex:column>
                        <apex:column headervalue="Product Group" value="{!w.ProductGroupTest__c}"/>
                        <apex:column headervalue="Stage" value="{!w.StageName}"/>      
                        <!--<apex:column style="text-align:center;" headervalue="Close Date" value="{!w.CloseDate}"/>-->
                        <apex:column style="text-align:center;" headervalue="Close Date">
                            <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!w.CloseDate}" /> </apex:outputText></apex:column>   
                        <apex:column style="text-align:right;" headervalue="Amount" value="{!w.Amount}"/>    
                    </apex:pageBlockTable>
                </apex:pageBlockSection>   
                
                <apex:pageBlockSection showHeader="True" Title="Top 5 Win Opportunities Previous Year" columns="1">
                    <apex:pageBlockTable value="{!PYwins}" var="w" columnsWidth="20%,20%,15%,15%,15%,15%">
                        <apex:column headerValue="Name"><apex:outputlink value="/{!w.id}">{!w.name}</apex:outputlink></apex:column>
                        <apex:column headerValue="Initiative"><apex:inputField value="{!w.Initiative__c}" style="width:300px"/></apex:column>
                        <apex:column headervalue="Product Group" value="{!w.ProductGroupTest__c}"/>
                        <apex:column headervalue="Stage" value="{!w.StageName}"/>    
                        <!--<apex:column style="text-align:center;" headervalue="Close Date" value="{!w.CloseDate}"/>-->
                        <apex:column style="text-align:center;" headervalue="Close Date">
                            <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!w.CloseDate}" /> </apex:outputText></apex:column>   
                        <apex:column style="text-align:right;" headervalue="Amount" value="{!w.Amount}"/>
                          
                    </apex:pageBlockTable>
                </apex:pageBlockSection>   

            <apex:pageBlockSection showHeader="true" Title="Account Team" columns="1">
                <apex:pageBlockTable value="{!theTeam}" var="team" columnsWidth="25%,25%,30%,20%">
                <apex:column headervalue="Samsung Rep" value="{!team.user.name}"/>
                <apex:column headervalue="Team Role" value="{!team.TeamMemberRole}"/>
                <apex:column headervalue="Email" value="{!team.user.email}"/>
                <apex:column headervalue="Phone" value="{!team.user.phone}"/>    
                </apex:pageBlockTable>
            </apex:pageBlockSection>
                      
                <!--<apex:pageBlockSection showHeader="true" Title="Samsung Influencers and Buyers" columns="1">
                    <apex:pageBlockTable value="{!keycon}" var="inf" columnsWidth="25%,25%,30%,20%">
                    <apex:column headervalue="Name" value="{!inf.Contact.name}"/>
                    <apex:column headervalue="Email" value="{!inf.Contact.Email}"/>    
                    <apex:column headervalue="Title" value="{!inf.Contact.title}"/>   
                    <apex:column headervalue="Role" value="{!inf.Role}"/> 
                    </apex:pageBlockTable>
                </apex:pageBlockSection> 
                <apex:pageBlockSection showHeader="true" Title="Buyers" columns="1">
                    <apex:pageBlockTable value="{!Buyer_keycon}" var="b" >
                    <apex:column headervalue="Name" value="{!b.Contact.name}"/>
                    <apex:column headervalue="Email" value="{!b.Contact.Email}"/>    
                    <apex:column headervalue="Title" value="{!b.Contact.title}"/>   
                    <apex:column headervalue="Role" value="{!b.Role}"/>     
                    </apex:pageBlockTable>           
                </apex:pageBlockSection>-->   
            
                <apex:pageBlockSection showHeader="true" Title="Activity History Past 6 Months" columns="1">
                    <apex:pageBlockTable value="{!Activities}" var="c" columnsWidth="20%,25%,20%,20%,15%">
                    <!--<apex:column style="text-align:center;" headervalue="Date" value="{!c.ActivityDate}"/> -->
                    <apex:column headervalue="Date">
                        <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!c.ActivityDate}" /> </apex:outputText></apex:column>
                        <apex:column headervalue="Type" value="{!c.ActivityType }"/>
                        <apex:column headervalue="Subject" value="{!c.Subject}"/> 
                        <apex:column headervalue="Name" value="{!c.primarywho.name}"/> 
                        <apex:column headervalue="Assigned to" value="{!c.owner.name}"/>         
                    </apex:pageBlockTable>
                </apex:pageBlockSection> 
                
                <apex:pageBlockSection showHeader="true" Title="Open Activities" columns="1">
                    <apex:pageBlockTable value="{!Acc.OpenActivities}" var="c" columnsWidth="20%,25%,20%,20%,15%">
                    <!--<apex:column style="text-align:center;" headervalue="Date" value="{!c.ActivityDate}"/> -->
                        <apex:column headervalue="Date">
                        <apex:outputText value="{0,date,MM/dd/yy}"> <apex:param value="{!c.ActivityDate}" /> </apex:outputText></apex:column> 
                        <apex:column headervalue="Type" value="{!c.ActivityType }"/>  
                        <apex:column headervalue="Subject" value="{!c.Subject}"/>
                        <apex:column headervalue="Name" value="{!c.primarywho.name}"/> 
                        <apex:column headervalue="Assigned to" value="{!c.owner.name}"/>    
                    </apex:pageBlockTable>
                </apex:pageBlockSection> 
         
            
            <Apex:pageBlockSection title="IT Product Share" columns="1">
                <apex:pageBlockTable value="{!ITProductShare}" var="Ips" columnsWidth="33%,33%,34%">
                    <!--<apex:column headervalue="Product" value="{!Ips.Product__c}"/>-->  
                    <apex:column headerValue="Product"><apex:inputfield value="{!Ips.Product__c}"/></apex:column>
                    <apex:column headerValue="Competitor Name"><Apex:inputField value="{!Ips.CompetitorName__c}"/>
                    </apex:column>
                    <apex:column headerValue="CY Share %"><Apex:inputField value="{!Ips.CY_Share__c}"/>
                    </apex:column>
                </apex:pageBlockTable>
            </Apex:pageBlockSection>
        </Apex:pageblock>
    </apex:form>

</apex:page>