<apex:page standardController="Account_Planning__c" EXtensions="AccountPlanExt">
    <h1>  This Account Plan is designed to help the management team and sales reps effectively prepare and stay focused on the business objectives and goals of the Account to ensure they achieve the planned results, create a consistent business-value selling approach, grow Samsung share, and ultimately identify how to make a positive impact on the business. Regular communication between Samsung and Accounts is key to successful Account relationships. This document is intended to be updated on a quarterly basis</h1>
    <apex:form >
    <apex:pageBlock >
       <apex:pageBlockButtons location="bottom">
           <apex:commandButton value="Save & Next" action="{!next1}"/>       
           <apex:commandButton value="Cancel" action="{!cancel}"/>
       </apex:pageBlockButtons>
     <apex:pageBlockSection columns="1">
            <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Plan Name"/>
                    <apex:inputField value="{!theplan.Name}" />
                </Apex:pageBlockSectionItem>
            <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Name"/>
                    <apex:outputField value="{!Acc.Name}" />
                </Apex:pageBlockSectionItem>
                <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Account Owner"/>
                    <apex:outputField value="{!Acc.Owner.name}" />
                </Apex:pageBlockSectionItem>
                <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Primary Contact"/>
                    <apex:outputField value="{!primcon[0].contactid}" rendered="{!primcon.size>0}"/>
                </Apex:pageBlockSectionItem> 
                <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Revision Date"/>
                    <apex:outputField value="{!Acc.lastmodifieddate}" />
                </Apex:pageBlockSectionItem> 
                <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Modified By"/>
                    <apex:outputField value="{!Acc.LastModifiedByid}" />
                </Apex:pageBlockSectionItem> 
                <Apex:pageBlockSectionItem >
                    <apex:outputLabel value="Review Cadence"/>
                    <apex:outputtext value="Quarterly" />
                </Apex:pageBlockSectionItem> 
     </apex:pageBlockSection>
    </apex:pageBlock>
</apex:form>
</apex:page>