<apex:page StandardController="Account" extensions="AccountTeamMembers"  >
 <apex:form >
  <apex:pageBlock >
  <apex:pageBlockButtons >
   <apex:commandButton value="Save" action="{!saveon}"/>
   <apex:commandButton value="Cancel" action="{!cancelon}"/>
   <apex:commandButton value="Add" Action="{!adding}"/>
  </apex:pageBlockButtons>
    <apex:pageBlockTable value="{!atm}" var="a"><apex:variable value="{!0}" var="cnt"/>
        <apex:column headervalue="Action">
          <apex:commandlink value="Remove" action="{!RemoveItems}" immediate="true">
             
              <apex:param name="index" value="{!cnt}"/>
          </apex:commandlink> 
          <apex:variable var="cnt" value="{!cnt+1}"/>              
      </apex:column> 
      <apex:column headerValue="Team Member" >
          <apex:inputField value="{!a.UserId}"/>
      </apex:column>
      <apex:column headerValue="Account Access">
        <apex:inputField value="{!a.AccountAccessLevel}" required="true" />
      </apex:column>
      <apex:column headerValue="Opportunity Access">
        <apex:inputField value="{!a.OpportunityAccessLevel}" />
      </apex:column>
     <apex:column headerValue="Case Access">
        <apex:inputField value="{!a.CaseAccessLevel}" />
      </apex:column>
      <apex:column headerValue="Team Role">
        <apex:inputField value="{!a.TeamMemberRole}" required="true" />
      </apex:column>
    </apex:pageBlockTable>
  </apex:pageBlock>
 </apex:form>
</apex:page>