<apex:page standardController="Account_Profile__c" extensions="AccountProfileExt" renderAs="pdf" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" applyHtmlTag="false">
    <html>
    <head>
        <style>
            @page {
                size: letter;
                padding-top: 45px; 
                padding-bottom: 10px
                margin:10mm;
                    @top-center {
                        content: element(header);
                        border: 1;

                    }
                    @bottom-center {
                        content: element(footer) "Page " counter(page) " of " counter(pages);
                    }
            }
            div.header {
                display: block;
                position: running(header);
            }
            div.footer {
                display: block;
                position: running(footer);
            }
            .page-break {
                display:block;
                page-break-after:always;
            }
            body {
                font-family: Arial Unicode MS;
                font-size: 9pt;
               
            }
            .tableStyle {border-collapse: collapse; border-spacing:5px;}
            .colStyle1 {width: 25%;text-align:center; padding-top:5px; padding-left:5px; padding-bottom:5px;}
            .colStyle2 {width: 20%;text-align:left; padding-top:5px; padding-left:5px; padding-bottom:5px;}
            .colStyle3 {width: 80%;text-align:left; padding-top:5px; padding-left:5px; padding-bottom:5px;}
            .header1 {font-size:9pt;font-style:bold;}
        </style>
    </head>
    
    <div class="header">
        <br/>
        <apex:image url="{!$Resource.SamsungLogo}" width="120" height="30" /> <br/>
        <right>Account Profile Name: {!Account_Profile__c.Name} <br/> Last Modified: <apex:outputText value="{0, date, MMMM d','  yyyy}">  
                                                                                        <apex:param value="{!Account_Profile__c.LastModifiedDate}" /> 
                                                                                     </apex:outputText></right>
        <hr/>
    </div>
    
    <div class="footer">
                <hr/>
          </div>
        <apex:form >
            
              <apex:pageBlock mode="view" tabStyle="Account_Profile__c" >
                <apex:pageBlockSection title="Account" columns="1" showHeader="true" >
                        <apex:outputField label="Name: " value="{!Account_Profile__c.Account__r.Name}"/>
                        <apex:outputField label="Type: " value="{!Account_Profile__c.Account__r.Type}"/>
                        <apex:outputField label="Partner Tier: " value="{!Account_Profile__c.Account__r.Partner_Top_Tier__c}"/>
                        <apex:outputField label="Fiscal Year: " value="{!Account_Profile__c.FiscalYear__c}"/>
                        <apex:outputField label="Owner: " value="{!Account_Profile__c.Account__r.Owner.Name}"/>
                        <apex:outputField label="Created: " value="{!Account_Profile__c.CreatedDate}"/>                  
                       <!-- <apex:outputField label="Last Update: " value="{!Account_Profile__c.LastModifiedDate}"/> -->
                        <apex:pageBlockSectionItem > <apex:outputLabel value="Last Update:" style="margin-right:15px;" />   <apex:outputField value=" {!Account_Profile__c.LastModifiedDate}"/> </apex:pageBlockSectionItem>
                </apex:pageBlockSection>
                <apex:pageBlockSection showHeader="true" Title="Account Team" columns="1" >
                    <apex:dataTable value="{!theTeam}" var="team" columns="4" border="1" cellpadding="4" width="700px">
                        <apex:column headervalue="Samsung Rep" value="{!team.user.name}" width="25%"/>
                        <apex:column headervalue="Role" value="{!team.TeamMemberRole}" width="25%"/>
                        <apex:column headervalue="Email" value="{!team.user.email}" width="25%"/>
                        <apex:column headervalue="Phone" value="{!team.user.phone}" width="25%"/>
                    </apex:dataTable>
                </apex:pageBlockSection>
                <apex:pageBlockSection showHeader="true" Title="Key Partner Contacts" columns="1">
                    <apex:dataTable value="{!keycon}" var="con" columns="4" border="1" cellpadding="4" width="700px">
                        <apex:column headervalue="Name" value="{!con.Contact.firstname}" width="25%"/>
                        <apex:column headervalue="Email" value="{!con.Contact.Email}" width="25%"/>    
                        <apex:column headervalue="Title" value="{!con.Contact.title}" width="25%"/>    
                        <apex:column headervalue="Role" value="{!con.Role}" width="25%"/>    
                    </apex:dataTable>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="SWOT Analysis" showHeader="true">
                    <apex:panelGrid columns="2" width="700px" border="1" rendered="true" styleClass="tableStyle" columnClasses="colStyle2,colStyle3">
                        <apex:outputText value="Strengths" />       
                        <apex:outputField value="{!Account_Profile__c.Strengths__c}" style="width:500px;height:200px"/>
                        <apex:outputText value="Weaknesses" />  
                        <apex:outputField value="{!Account_Profile__c.Weaknesses__c}" style="width:350px;height:200px"/>
                        <apex:outputText value="Opportunities" />   
                        <apex:outputField value="{!Account_Profile__c.Opportunities__c}" style="width:350px;height:200px"/>
                        <apex:outputText value="Threats" /> 
                        <apex:outputField value="{!Account_Profile__c.Threats__c}" style="width:350px;height:200px"/>               
                    </apex:panelGrid>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="Revenue Split by Product, Solution or Service" showHeader="true">
                    <apex:panelGrid border="1" columns="4" width="700px" styleClass="tableStyle" columnClasses="colStyle1,colStyle1,colStyle1,colStyle1" >
                        <apex:outputText value="Product/Solution"/>
                        <apex:outputText value="Overall(%)" />
                        <apex:outputText value="Samsung(%)" />
                        <apex:outputText value="Samsung($)" />
                        <apex:outputText value="TAB"/>
                        <apex:outputField value="{!Account_Profile__c.TAB_Overall__c}" />
                        <apex:outputField value="{!Account_Profile__c.TAB_Samsung__c}" />
                        <apex:outputField value="{!Account_Profile__c.TAB_Amount__c}" />
                        <apex:outputText value="NPC"/>
                        <apex:outputField value="{!Account_Profile__c.NPC_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.NPC_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.NPC_Amount__c}"/>
                        <apex:outputText value="HHP"/>
                        <apex:outputField value="{!Account_Profile__c.HHP_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.HHP_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.HHP_Amount__c}"/>
                        <apex:outputText value="Smart Signage"/>
                        <apex:outputField value="{!Account_Profile__c.Smart_Signage_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.Smart_Signage_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.SmartSignage_Amount__c}"/>
                        <apex:outputText value="MON"/>
                        <apex:outputField value="{!Account_Profile__c.MON_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.MON_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.MON_Amount__c}"/>
                        <apex:outputText value="VDI"/>
                        <apex:outputField value="{!Account_Profile__c.VDI_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.VDI_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.VDI_Amount__c}"/>
                        <apex:outputText value="HTV"/>
                        <apex:outputField value="{!Account_Profile__c.HTV_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.HTV_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.HTV_Amount__c}"/>
                        <apex:outputText value="PRT"/>
                        <apex:outputField value="{!Account_Profile__c.PRT_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.PRT_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.PRT_Amount__c}"/>
                        <apex:outputText value="MEM"/>
                        <apex:outputField value="{!Account_Profile__c.MEM_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.MEM_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.MEM_Amount__c}"/>
                        <apex:outputText value="Services"/>
                        <apex:outputField value="{!Account_Profile__c.Services_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.Services_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.Services_Amount__c}"/>
                        <apex:outputText value="Other"/>
                        <apex:outputField value="{!Account_Profile__c.Other_Overall__c}"/>
                        <apex:outputField value="{!Account_Profile__c.Other_Samsung__c}"/>
                        <apex:outputField value="{!Account_Profile__c.Other_Amount__c}"/>
                        <apex:outputText value="Totals"/>
                        <apex:outputField value="{!Account_Profile__c.Total_Overall__c}"/>
                        <apex:outputText value="N/A"/>
                        <apex:outputField value="{!Account_Profile__c.TotalEstSamsung_Amount__c}"/>
                    </apex:panelGrid>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="Revenue Profile by Vertical, Segment and Channel" showHeader="true">
                    <apex:panelGrid border="1" cellpadding="5" columns="3" width="700px" styleClass="tableStyle" columnClasses="colStyle1,colStyle1,colStyle1" >
                        <apex:outputText value="Revenue by Vertical(%)"/>
                        <apex:outputText value="Revenue by Segment (%)" />
                        <apex:outputText value="Revenue by Channel (%)" />
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Healthcare"/>
                            <apex:outputField value="{!Account_Profile__c.Healthcare__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Small Business (1-99)" />
                            <apex:outputField value="{!Account_Profile__c.Small_Business__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Inside Sales" />
                            <apex:outputField value="{!Account_Profile__c.Inside_Sales__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Federal"/>
                            <apex:outputField value="{!Account_Profile__c.Federal__c}"  />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Medium (100-499)" />
                            <apex:outputField value="{!Account_Profile__c.Mid_Market__c}" />
                        </apex:panelGrid>
                         <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Field Sales" />
                            <apex:outputField value="{!Account_Profile__c.Field_Sales__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Retail"/>
                            <apex:outputField value="{!Account_Profile__c.Retail__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Large (500-999)" />
                            <apex:outputField value="{!Account_Profile__c.Large__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="E Tail" />
                            <apex:outputField value="{!Account_Profile__c.Etail__c}" />
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="SL/ED"/>
                            <apex:outputField value="{!Account_Profile__c.SL_ED__c}"/>
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Enterprise (1000+)"/>
                            <apex:outputField value="{!Account_Profile__c.Enterprise__c}" />
                        </apex:panelGrid>
                        <apex:pageBlockSectionItem />
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Transportation"/>
                            <apex:outputField value="{!Account_Profile__c.Transportation__c}"/>
                        </apex:panelGrid>
                        <apex:pageBlockSectionItem />
                        <apex:pageBlockSectionItem />
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
                            <apex:outputText value="Finance"/>
                            <apex:outputField value="{!Account_Profile__c.Finance__c}"/>
                        </apex:panelGrid>
                    </apex:panelGrid>
                </apex:pageBlockSection>
                <apex:pageBlockSection title="Top 3 Geographic Regions and Industry for Revenue" showHeader="true" columns="2">
                    <apex:panelGrid border="1" cellpadding="5" columns="2" width="700px" styleClass="tableStyle" columnClasses="colStyle1,colStyle1" >
                        <apex:outputText value="Geography"/>
                        <apex:outputText value="Industry"/>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Region 1"/>
    	                    <apex:outputField value="{!Account_Profile__c.TopGeographicRegion1__c}"/>
                        </apex:panelGrid>
						<apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Industry 1"/>    
    	                    <apex:outputField value="{!Account_Profile__c.IndustryFocus1__c}"/>
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Region 2"/>
    	                    <apex:outputField value="{!Account_Profile__c.TopGeographicRegion2__c}"/>
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Industry 2"/>    
	                        <apex:outputField value="{!Account_Profile__c.IndustryFocus2__c}"/>
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Region 3"/>
    	                    <apex:outputField value="{!Account_Profile__c.TopGeographicRegion3__c}"/>
                        </apex:panelGrid>
                        <apex:panelGrid styleClass="tableStyle" columns="2" width="100%" columnClasses="colStyle1,colStyle1" >
	                        <apex:outputText value="Industry 3"/>    
	                        <apex:outputField value="{!Account_Profile__c.IndustryFocus3__c}"/>
                        </apex:panelGrid>
                    </apex:panelGrid>
                </apex:pageBlockSection>
                <apex:pageBlockSection showHeader="True" Title="Marketing Investments for This Fiscal Year" columns="1">
                    <apex:dataTable value="{!minv}" var="mi" columns="4" border="1" cellpadding="4" width="700px">
                        <apex:column headervalue="Type" value="{!mi.Type__c}" width="25%"/>    
                        <apex:column headervalue="Focus" value="{!mi.Focus__c}" width="25%"/> 
                        <apex:column headervalue="Amount" value="{!mi.Amount__c}" width="25%"/>
                        <apex:column headervalue="Fiscal Year" value="{!mi.FiscalYear__c}" width="25%"/>   
                    </apex:dataTable>
                </apex:pageBlockSection>
            </apex:pageBlock>
            <div class="page-break"></div>
            <apex:PageBlock >
                <apex:pageBlockSection showHeader="True" Title="Top Partner Opportunities" columns="1">
                    <apex:dataTable value="{!partneropps}" var="partopp" columns="9" border="1" cellpadding="4" width="700px">
                        <apex:column headervalue="Customer" value="{!partopp.customer__r.name}"/>    
                        <apex:column headervalue="Opportunity" value="{!partopp.opportunity__r.name}"/>
                        <apex:column headervalue="Partner Role" value="{!partopp.Role__c}"/> 
                        <apex:column headervalue="Stage" value="{!partopp.Stage__c}"/>    
                        <apex:column headervalue="Amount" value="{!partopp.Amount__c}"/>
                        <apex:column headervalue="Closed Date" value="{!partopp.Close_Date__c}"/>
                        <apex:column headervalue="Registered" value="{!partopp.Registered__c}"/>   
                    </apex:dataTable>
                </apex:pageBlockSection>       
            </apex:PageBlock>
            <div class="page-break"></div>
            <apex:pageBlock >
                <apex:pageBlockSection showHeader="True" Title="Branch Locations" columns="1">
                    <apex:dataTable value="{!branches}" var="loc" columns="5" border="1" cellpadding="4" width="700px" rows="25">
                        <apex:column headervalue="Name" value="{!loc.name}"/>
                        <apex:column headervalue="Type" value="{!loc.type}"/>    
                        <apex:column headervalue="City" value="{!loc.billingcity}"/>
                        <apex:column headervalue="State" value="{!loc.billingstate}"/> 
                        <apex:column headervalue="Employees" value="{!loc.NumberOfEmployees}"/> 
                        <apex:column headervalue="Owner" value="{!loc.owner.name}"/>     
                    </apex:dataTable>
                </apex:pageBlockSection>   
            </apex:pageBlock>
        </apex:form>
   </html>
</apex:page>