<apex:page standardController="Account_Profile__c" extensions="AccountProfileExt">
	<apex:form >
        <apex:PageBlock >
        <apex:pageBlockSection showHeader="true" Title="Account Team" columns="1">
            <apex:pageBlockTable value="{!theTeam}" var="team" >
            <apex:column headervalue="Samsung Rep" value="{!team.user.name}"/>
            <apex:column headervalue="Team Role" value="{!team.TeamMemberRole}"/>
            <apex:column headervalue="Email" value="{!team.user.email}"/>
            <apex:column headervalue="Phone" value="{!team.user.phone}"/>    
            </apex:pageBlockTable>
        </apex:pageBlockSection>   
        </apex:PageBlock>    
    </apex:form>
</apex:page>