<apex:page standardcontroller="Account_Profile__c" extensions="AccountProfile_T2_Controller" LightningstyleSheets="true" sidebar="True">
 <apex:includeLightning />
 <apex:pageMessages id="errorMessage" />
<apex:outputPanel rendered="{!goToComponent}">
<div style="width:100%;height:100%;" id="LightningContainer" />
    
    <script>
    var rid='{!Account_Profile__c.id}';
    var acntid='{!AccId}';
    $Lightning.use("c:AccountProfile_T2App", function() {
        var attributes = {
            recordId : rid,
            accountId : acntid
        };
    
        $Lightning.createComponent("c:AccountProfile_T2", attributes, "LightningContainer",
        function(cmp) {
            console.log('Component created');
        });
    });
    $A.eventService.
        addHandler({
                    event: 'force:showToast',
                    handler: function(event) { 
                                 // take some action
                    }
    });
    </script>
</apex:outputPanel>    
</apex:page>