<apex:page standardController="Account_Profile__c" contentType="application/msWord" applyBodyTag="false" extensions="AccountProfileExt">
    <style>
        body {font-family: 'Arial Unicode MS';}
    </style>
    <body>
		<apex:form >
            
            <apex:pageBlock mode="view" rendered="true" tabStyle="Account_Profile__c">
                <apex:pageBlockSection columns="2" title="Account Information" rendered="true">
                    <apex:outputField label="{!$ObjectType.Account_Profile__c.Fields.Name.Label}" value="{!Account_Profile__c.Name}"/>
                    <!---apex:outputField label="Created By" value="{!Account_Profile__c.CreatedBy}"/>
                    <apex:outputField label="{!$ObjectType.Account_Profile__c.Fields.FiscalYear__c.Label}" value="{!Account_Profile__c.FiscalYear__c}"/>
                    <apex:outputField label="Last Modified By" value="{!Account_Profile__c.LastModifiedBy}"/--->
                </apex:pageBlockSection>
            </apex:pageBlock>
            <apex:pageBlock mode="view" rendered="true" tabStyle="Account_Profile__c">
        		<apex:pageBlockSection showHeader="true" Title="Account Team" columns="1">
            		<apex:pageBlockTable value="{!theTeam}" var="team" >
            		<apex:column headervalue="Samsung Rep" value="{!team.user.name}"/>
            		<apex:column headervalue="Team Role" value="{!team.TeamMemberRole}"/>
            		</apex:pageBlockTable>
        		</apex:pageBlockSection>   
        	</apex:PageBlock> 
            
        	<apex:detail subject="{!Account_Profile__c.Id}" relatedList="true" title="true"/>
            
    	</apex:form>
    </body>
</apex:page>