<apex:page sidebar="false" title="Article List" controller="KeywordSearchController" >
 <style>
  td{
  vertical-align : top;   
  text-align: left;
  }
 </style>
 <apex:form >
     <div style="overflow: scroll; ">
 <apex:pageBlock title="Search" >
   <apex:inputText value="{!searchstring}" id="theSearchstring" maxlength="100" size="110"/> &nbsp;
   <apex:commandButton value="Go" id="submitButton" style="width:30" reRender="theSearchResults" />
  </apex:pageBlock>  
  <apex:messages />
  <apex:pageBlock title="Article List" > 
  
  <apex:panelGroup id="theSearchResults" >
   <apex:panelGrid width="100%">
     <table width="99%">
     <tr>
      <th width="45%">Title</th>
      <th width="10%">Article Type</th>
      <th width="44%">Summary</th>
     </tr>
    </table>
 <knowledge:articleList articleVar="article" pageNumber="{!currentPageNumber}" Keyword="{!searchstring}"  pageSize="20" sortBy="lastUpdated" >
    <table  width="99%">
     <tr>
      <td width="45%">
       <apex:outputLink target="_blank" value="/s/article/{!article.UrlName}"><span style="color:blue; font-weight: bold">{!article.title}</span></apex:outputLink>
      </td>
      <td width="10%"><apex:outputText >{!article.articleTypeLabel}</apex:outputText></td>
      <td width="49%"><apex:outputText >{!article.abstract}</apex:outputText></td>
     </tr>
    </table>
    </knowledge:articleList>
   </apex:panelGrid> 
   <apex:panelGrid columns="2">
   <apex:commandLink action="{!previous}" value="Previous" style="{!IF(prevRequired = true,'display:block','display:none')}" reRender="theSearchResults"/> 
   <apex:commandLink action="{!next}" value="Next"  style="{!IF(nextRequired = true,'display:block','display:none')}" reRender="theSearchResults"/>  
 </apex:panelGrid>
  </apex:panelGroup>
  </apex:pageBlock></div>
 </apex:form>
</apex:page>