<apex:page standardcontroller="Call_Report__c" extensions="CallReportPDFController" renderAs="pdf" applyHtmlTag="false" applyBodyTag="false" showHeader="false">
    <html>
    <head>
    <style>
         .sfdc_richtext img {
           border: 0;
           width: 600px;
         }
         @page {
            @top-center {
                content: element(header);
            }
            @bottom-center {
                content: element(footer);
            }
            @bottom-right {
                content: "Page " counter(page) " of " counter(pages);
            }
         }
         div.header {
            color: #0c4da2;
            position: running(header);
            height:100px;
            border-spacing:0px;
            margin-top:1px;
         }
         div.footer {
            display: block;
            padding: 0px;
            color:#7C7E81;
            position: running(footer);
         }
         tr{
            page-break-inside: avoid;
         }
         th{
            background-color:#D4DAD4;
        	text-align:center;
         }
         td.tdHeader{
            width:20%;
            text-align:left;
            padding:3px;
            background-color:#D4DAD4;
            word-wrap:break-word;
         }
         td.tdBody{
            width:30%;
            text-align:left;
            padding:3px;
            background-color:#EAF0EA;
         }
    </style>
    </head>
    
    <div class="header">
        <br/>
        <!--<apex:image url="{!$Resource.SamsungPDFBlueLogo}" width="132" height="42" style="color:#034EA2"/> <br/>-->
        <apex:image url="{!ImgURL}" width="175" height="25" style="color:#034EA2;padding-left:8px"/><br/>
        <!--<center><b>Call Report</b></center>
        <hr/>-->
    </div>
    
    <div class="footer">
        <Center>Private and Confidential</Center>
    </div>
    
    <div>
        <center><u><b>Call Report</b></u></center>
        <br/>
    </div>
    
    <!--<h3><b><center> Call Report</center></b></h3><br/><br/>-->
        
    <!--<div style="float:left">
        <strong><apex:outputLabel value="Name: " for="Name"/></strong>
        <apex:outputField id="Name" label="Name" value="{!callreport.Name}"/><br/>
        <strong><apex:outputLabel value="Primary Account: " for="PA"/></strong>&nbsp;
        <apex:outputField id="PA" label="Primary Account" value="{!callreport.Primary_Account__c}"/><br/>
        <strong><apex:outputLabel value="Meeting Location: " for="ML"/></strong>&nbsp;
        <apex:outputField id="ML" value="{!callreport.Meeting_Location__c}"/><br/>
    </div>
    
    <div align="right">
        <strong><apex:outputLabel value="Status: " for="s"/></strong>
        <apex:outputField id="s" value="{!callreport.Status__c}"/><br/>
        <strong><apex:outputLabel value="Meeting Date: " for="date"/></strong>
        <apex:outputField id="date" value="{!callreport.Meeting_Date__c}"/><br/>
        <strong><apex:outputLabel value="Meeting Topics: " for="topics"/></strong>
        <apex:outputField id="topics" value="{!callreport.Meeting_Topics__c}"/>
    </div>-->
    <div> 
    <table cellpadding="1" width="100%">
        <tr>
          <td class="tdHeader"><b>Name</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Name}"/></td>
          <td class="tdHeader"><b>Status</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Status__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Primary Account</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Account__c}"/></td>
          <td class="tdHeader"><b>Meeting Type</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Topics__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Location</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Location__c}"/></td>
          <td class="tdHeader"><b>Meeting Date</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Date__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Tone</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Tone__c}"/></td>
          <td class="tdHeader"><b>Corresponding Promotional Period</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Timing__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Primary Product Category</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Category__c}"/></td>
          <td class="tdHeader"><b>SEA Week #</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Week_Number__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Product Sub-Category</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Product_Sub_Category__c}"/></td>
          <td class="tdHeader"></td>
          <td class="tdBody"></td>
        </tr>
    </table>
    </div>
    
    <br/>
    <div>
        <strong><apex:outputLabel value="Agenda: " for="a"/></strong>
        <apex:outputText id="a"  value="{!callreport.Agenda__c}" escape="false"/>
        <strong><apex:outputLabel value="Meeting summary: " for="ms"/></strong>
        <!--<apex:outputText id="ms" value="{!callreport.Meeting_Summary__c}" escape="false"/>-->
        <apex:outputField id="ms" value="{!callreport.Meeting_Summary__c}"/><!--Added by Thiru to fix image break-->
    </div>
    
    <h4>Market Intelligence:</h4>
    <p><U>Business Performance:</U></p>
    
    <!--<b>Customer's Total</b>-->
    <table border="1" cellpadding="4" style="font-size:10pt;">
        <tr>
            <th scope="col" style="width:5%">Category</th>
            <th scope="col" style="width:5%">Sub-Category</th>
            <th scope="col" style="width:30%">Customer's Total</th>
            <th scope="col" style="width:60%">Samsung Performance</th>
        </tr>
        <apex:repeat value="{!bizPerformance}" var="bp">
        <tr>
            <td>{!bp.Product_Category__c}</td>
            <td>{!bp.Product_Sub_Category__c}</td>
            <td >
                <apex:repeat value="{!busPerBlocksCategory}" var="p">
                    <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Increase'),
                                                     and(p=='Weeks of Supply',bp.WOS__c=='Increase'))}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            {!p}&nbsp;<apex:outputText value="(Units)" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:outputText value="($$$)" rendered="{!!(p=='Weeks of Supply')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Red_Icon_PDF}" style="width:35px;height:27px;" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Green_Icon_PDF}" style="width:35px;height:27px;" rendered="{!p!='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Decrease'),
                                                     and(p=='Weeks of Supply',bp.WOS__c=='Decrease'))}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            {!p}&nbsp;<apex:outputText value="(Units)" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:outputText value="($$$)" rendered="{!!(p=='Weeks of Supply')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_down_Red_Icon}" style="width:35px;height:27px;padding-bottom:2px" rendered="{!p!='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_down_Green_Icon}" style="width:35px;height:27px;padding-bottom:2px" rendered="{!p=='Weeks of Supply'}"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Flat'),
                                                     and(p=='Weeks of Supply',bp.WOS__c=='Flat'))}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            {!p}&nbsp;<apex:outputText value="(Units)" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:outputText value="($$$)" rendered="{!!(p=='Weeks of Supply')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Orange}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c==null),
                                                     and(p=='Weeks of Supply',bp.WOS__c==null))}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            {!p}&nbsp;<apex:outputText value="(Units)" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:outputText value="($$$)" rendered="{!!(p=='Weeks of Supply')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                </apex:repeat>
            </td>
            <td>
                <apex:repeat value="{!busPerBlocksSamsung}" var="p">
                    <apex:outputPanel rendered="{!or(
                                                  or(and(p=='Balance of Share',bp.BOS__c=='Increase'),
                                                     and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Increase')
                                                    ),
                                                  or(and(p=='Online Sales',bp.Online__c=='Increase'),
                                                     and(p=='Sell-In',bp.Sell_In__c=='Increase')
                                                    )
                                                )}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            <apex:outputText value="Flooring (Units)/Share of Shelf (%)" rendered="{!p=='Flooring/Share of Shelf'}"/>
                            <apex:outputText value="{!p} ($$$)" rendered="{!!(p=='Flooring/Share of Shelf')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Red_Icon_PDF}" style="width:35px;height:27px;" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Green_Icon_PDF}" style="width:35px;height:27px;" rendered="{!p!='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(
                                                  or(and(p=='Balance of Share',bp.BOS__c=='Decrease'),
                                                     and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Decrease')
                                                    ),
                                                  or(and(p=='Online Sales',bp.Online__c=='Decrease'),
                                                     and(p=='Sell-In',bp.Sell_In__c=='Decrease')
                                                    )
                                                )}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            <apex:outputText value="Flooring (Units)/Share of Shelf (%)" rendered="{! p=='Flooring/Share of Shelf'}"/>
                            <apex:outputText value="{!p} ($$$)" rendered="{!!(p=='Flooring/Share of Shelf')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_down_Red_Icon}" style="width:35px;height:27px;padding-bottom:2px" rendered="{!p!='Weeks of Supply'}"/>
                            <apex:image url="{!$Resource.Lightning_Utility_down_Green_Icon}" style="width:35px;height:27px;padding-bottom:2px" rendered="{!p=='Weeks of Supply'}"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(
                                                  or(and(p=='Balance of Share',bp.BOS__c=='Flat'),
                                                     and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Flat')
                                                    ),
                                                  or(and(p=='Online Sales',bp.Online__c=='Flat'),
                                                     and(p=='Sell-In',bp.Sell_In__c=='Flat')
                                                    )
                                                )}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            <apex:outputText value="Flooring (Units)/Share of Shelf (%)" rendered="{!p=='Flooring/Share of Shelf'}"/>
                            <apex:outputText value="{!p} ($$$)" rendered="{!!(p=='Flooring/Share of Shelf')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Orange}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                    
                    <apex:outputPanel rendered="{!or(
                                                  or(and(p=='Balance of Share',bp.BOS__c==null),
                                                     and(p=='Flooring/Share of Shelf',bp.Flooring__c==null)
                                                    ),
                                                  or(and(p=='Online Sales',bp.Online__c==null),
                                                     and(p=='Sell-In',bp.Sell_In__c==null)
                                                    )
                                                )}">
                        <div style="display:inline-block;float:left;border:1px solid #D9DBDD;padding:2px">
                            <apex:outputText value="Flooring (Units)/Share of Shelf (%)" rendered="{!p=='Flooring/Share of Shelf'}"/>
                            <apex:outputText value="{!p} ($$$)" rendered="{!!(p=='Flooring/Share of Shelf')}"/><br/>
                            <apex:image url="{!$Resource.Lightning_Utility_Up_Grey_Icon}" style="width:35px;height:27px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Circle_Icon_Grey}" style="width:30px;height:30px;"/>
                            <apex:image url="{!$Resource.Lightning_Utility_Down_Grey_Icon}" style="width:35px;height:27px;padding-bottom:2px"/>
                        </div>
                    </apex:outputPanel>
                </apex:repeat>
            </td>
        </tr>
        </apex:repeat>
    </table>
    
    <u>Notes:</u>&nbsp;<apex:outputField value="{!callreport.Business_Performance_Notes__c}"/>
    <br/><br/>
    
    <div style="padding-bottom:5px"><u>Customer Intelligence:</u></div>
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th style="width:27%">Intelligence</th>
            <th style="width:73%">Comments</th>
        </tr>
        <apex:repeat value="{!custIntelligence}" var="m">
            <tr>
                <td><apex:outputText value="{!m.Intelligence__c}"/></td>
                <td><apex:outputText value="{!m.Comments__c}"/></td>
            </tr>
        </apex:repeat>
    </table>
    <br/>
    <u>Competitive Intelligence:</u><br/>
    <p><u>Competitor Engagement:</u> &nbsp;&nbsp;
        <apex:outputText value="True" rendered="{!callreport.Competitor_Compliance__c==True}"/>
        <apex:outputText value="False" rendered="{!callreport.Competitor_Compliance__c==False}"/>
    </p>
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th style="width:27%">Intelligence</th>
            <th style="width:13%">Category</th>
            <th style="width:13%">Competitor</th>
            <th style="width:47%">Comments</th>
        </tr>
        <apex:repeat value="{!compIntelligence}" var="m" >
            <tr>
                <td><apex:outputText value="{!m.Intelligence__c}"/></td>
                <td><apex:outputText value="{!m.Category__c}"/></td>
                <td><apex:outputText value="{!m.Competitor__c}"/></td>
                <td><apex:outputText value="{!m.Comments__c}"/></td>
            </tr>
        </apex:repeat>
    </table>    
    <br/>
    
    <h4>Action Items:</h4>
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
        <apex:repeat value="{!crtasks}" var="t">
            <tr style="page-break-inside: avoid;">
                <td><apex:outputText value="{!t.Subject}"/></td>
                <td><apex:outputText value="{!t.Description}"/></td>
                <td><apex:outputText value="{!t.Owner.name}"/></td>
                <td><apex:outputField value="{!t.ActivityDate}"/></td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Additional Product category Notes:</h4>
    <table border="1" width="100%">
        <tr>
            <th style="padding:10px;width:27%">Division</th>
            <th style="padding:10px;width:27%">Product Category</th>
            <th style="padding:10px;width:46%">Comments</th>
        </tr>
        <apex:repeat value="{!pCategory}" var="pc">
            <tr style="page-break-inside: avoid;">
                <td style="padding-left:5px;padding-right:5px;"><apex:outputText value="{!pc.Division__c}"/></td>
                <td style="padding-left:5px;padding-right:5px;"><apex:outputText value="{!pc.Product_Category__c}"/></td>
                <td style="padding-left:5px;padding-right:5px;"><apex:outputfield value="{!pc.Notes__c}"/></td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Additional Accounts:</h4>        
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th>Account Name</th>
            <th>Account Type</th>
          </tr>
        <apex:repeat value="{!sAcc}" var="a">
            <tr>
                <td><apex:outputText value="{!a.Sub_Account__r.Name}"/></td>
                <td><apex:outputText value="{!a.Account_Type__c}"/></td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Customer Attendees:</h4>
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th>Customer Attendee </th>
        </tr>
        <apex:repeat value="{!custAttendee}" var="c">
            <tr>
                <td><apex:outputText value="{!c.Customer_Attendee__r.Name}"/></td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Samsung Attendees:</h4>
    <table border="1" cellpadding="9" width="100%">
        <tr>
            <th>Samsung Attendee</th>
        </tr>
        <apex:repeat value="{!samsungAttendee}" var="c">
            <tr>
                <td><apex:outputText value="{!c.Attendee__r.Name}"/></td>
            </tr>
        </apex:repeat>
    </table>
   
    </html>  
</apex:page>