<apex:page standardcontroller="Call_Report__c" extensions="CallReportPDFController" cache="true" contentType="application/msword#{!callreport.Name}.doc" showHeader="false" sidebar="false" standardStylesheets="false" applyHtmlTag="false" applyBodyTag="false">
    <html>        
    <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <style>
        .sfdc_richtext img {
           border: 0;
           width: 600px;
        }
        
        @page Section1{
         mso-footer: f1;
        }
        div.Section1{
         page:Section1;
        }
        p.MsoFooter,li.MsoFooter,div.MsoFooter{
         mso-pagination:widow-orphan;
         margin:0in;
         margin-bottom:.0001pt;
         tab-stops:center 3.0in right 6.0in;
        }
        table#hrdftrtbl{
         margin:0in 0in 0in 13in;
        }
        table{
            page-break-inside: avoid;
         }
        
         th{
            background-color:#D4DAD4;
         }
         td.tdHeader{
            width:20%;
            text-align:left;
            padding:3px;
            background-color:#D4DAD4;
         }
         td.tdBody{
            width:30%;
            text-align:left;
            padding:3px;
            background-color:#EAF0EA;
         }
    </style>
    </head>
    <div>
        <apex:image url="{!ImgURL}" width="175" height="25" style="color:#034EA2"/><br/>
        <center><b>Call Report</b></center>
        <hr/>
    </div>
    
    <!--<table>
        <tr>
            <td valign="top" text-align="Left" ><b>Name:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField label="Name" value="{!callreport.Name}"/></td>
            <td width="1%"></td>
            <td valign="top" text-align="Left" ><b>Status:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Status__c}"/></td>
        </tr>
        <tr>
            <td valign="top" text-align="Left" ><b>Primary Account:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField label="Primary Account" value="{!callreport.Primary_Account__c}"/></td>
            <td width="1%"></td>
            <td valign="top" text-align="Left" ><b>Meeting Date:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Meeting_Date__c}"/></td>
        </tr>
        <tr>
            <td valign="top" text-align="Left" ><b>Meeting Location:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Meeting_Location__c}"/></td>
            <td width="1%"></td>
            <td valign="top" text-align="Left" ><b>Primary Product Category:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Primary_Category__c}"/></td>
        </tr>
        <tr>
            <td valign="top" text-align="Left" ><b>Meeting Date:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Meeting_Date__c}"/></td>
            <td width="1%"></td>
            <td valign="top" text-align="Left" ><b>Timing:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Timing__c}"/></td>
        </tr>
        <tr>
            <td valign="top" text-align="Left" ></td>
            <td valign="top" text-align="Left" ></td>
            <td width="1%"></td>
            <td valign="top" text-align="Left" ><b>Week #:</b></td>
            <td valign="top" text-align="Left" ><apex:outputField value="{!callreport.Week_Number__c}"/></td>
        </tr>
    </table>-->
    
    <table cellpadding="1" width="100%">
        <tr>
          <td class="tdHeader"><b>Name</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Name}"/></td>
          <td class="tdHeader"><b>Status</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Status__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Primary Account</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Account__c}"/></td>
          <td class="tdHeader"><b>Meeting Type</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Topics__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Location</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Location__c}"/></td>
          <td class="tdHeader"><b>Meeting Date</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Date__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Tone</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Tone__c}"/></td>
          <td class="tdHeader"><b>Corresponding Promotional Period</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Timing__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Primary Product Category</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Category__c}"/></td>
          <td class="tdHeader"><b>SEA Week #</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Week_Number__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Product Sub-Category</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Product_Sub_Category__c}"/></td>
          <td class="tdHeader"></td>
          <td class="tdBody"></td>
        </tr>
        <!--<tr>
          <td class="tdHeader"><b>Name</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Name}"/></td>
          <td class="tdHeader"><b>Status</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Status__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Primary Account</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Account__c}"/></td>
          <td class="tdHeader"><b>Primary Product Category</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Primary_Category__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Type</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Topics__c}"/></td>
          <td class="tdHeader"><b>Timing</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Timing__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Date</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Date__c}"/></td>
          <td class="tdHeader"><b>Week #</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Week_Number__c}"/></td>
        </tr>
        <tr>
          <td class="tdHeader"><b>Meeting Location</b></td>
          <td class="tdBody"><apex:outputField value="{!callreport.Meeting_Location__c}"/></td>
          <td class="tdHeader"></td>
          <td class="tdBody"></td>
        </tr>-->
    </table>
    
    <div style="clear:both"> </div>            
    <br/>
    <div>
        <strong><apex:outputLabel value="Agenda: " for="a"/></strong>
        <apex:outputText id="a"  value="{!callreport.Agenda__c}" escape="false"/>
        <strong><apex:outputLabel value="Meeting summary: " for="ms"/></strong>
        <apex:outputText id="ms" value="{!callreport.Meeting_Summary__c}" escape="false"/>
        <!--<strong><apex:outputLabel value="Competitive Intelligence: " for="ci"/></strong>
        <apex:outputText id="ci" value="{!callreport.Competitive_Intelligence__c}" escape="false"/>
        <br/><br/>
        <strong><apex:outputLabel value="Building Blocks: " for="bb"/></strong><br/><br/>
        <apex:outputText id="bb" value="{!callreport.Building_Blocks__c}" escape="false"/>-->
    </div>

    <h4>Market Intelligence:</h4>
    <p><u>Business Performance:</u></p>
    <table border="1" cellpadding="5" width="100%" style="font-size:10pt;">
        <tr>
            <th scope="col" style="width:5%">Category</th>
            <th scope="col" style="width:5%">Sub-Category</th>
            <th scope="col" style="width:30%">Customer's Total</th>
            <th scope="col" style="width:60%">Samsung Performance</th>
        </tr>
        <apex:repeat value="{!bizPerformance}" var="bp">
        <tr>
        	<td>{!bp.Product_Category__c}</td>
            <td>{!bp.Product_Sub_Category__c}</td>
            <td valign="top">
            	<apex:repeat value="{!busPerBlocksCategory}" var="p">
                    <div align="center" style="display:inline-block;float:left;border:1px solid #D9DBDD;">
                    {!p}&nbsp;<apex:outputText value="(Units)" rendered="{!p=='Weeks of Supply'}"/>
                            <apex:outputText value="($$$)" rendered="{!!(p=='Weeks of Supply')}"/><br/>
                        <apex:outputPanel layout="block" rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Increase'),
                                                                        and(p=='Weeks of Supply',bp.WOS__c=='Increase'))}">
                            <apex:outputText value="▲" style="{!if(p=='Weeks of Supply','color:red', 'color:green')}"/>&nbsp;&nbsp;
                            <apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Decrease'),
                                                         and(p=='Weeks of Supply',bp.WOS__c=='Decrease'))}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;
                            <apex:outputText value="▼" style="{!if(p=='Weeks of Supply','color:green', 'color:red')}"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c=='Flat'),
                                                         and(p=='Weeks of Supply',bp.WOS__c=='Flat'))}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                           &nbsp;&nbsp; <apex:outputText value="⚫" style="color:orange;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(and(p=='Sell-Through',bp.Sell_Through__c==null),
                                                         and(p=='Weeks of Supply',bp.WOS__c==null))}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                    </div>
                </apex:repeat>
            </td>
            <td  valign="top">
            	<apex:repeat value="{!busPerBlocksSamsung}" var="p">
                    <div align="center" style="display:inline-block;float:left;border:1px solid #D9DBDD;">
                    	<apex:outputText value="Flooring (Units)/Share of Shelf (%)" rendered="{!p=='Flooring/Share of Shelf'}"/>
                        <apex:outputText value="{!p} ($$$)" rendered="{!!(p=='Flooring/Share of Shelf')}"/><br/>
                        <apex:outputPanel layout="block" rendered="{!or(
                                                      or(and(p=='Balance of Share',bp.BOS__c=='Increase'),
                                                         and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Increase')
                                                        ),
                                                      or(and(p=='Online Sales',bp.Online__c=='Increase'),
                                                         and(p=='Sell-In',bp.Sell_In__c=='Increase')
                                                        )
                                                    )}">
                            <apex:outputText value="▲" style="{!if(p=='Weeks of Supply','color:red', 'color:green')}"/>&nbsp;&nbsp;
                            <apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(
                                                      or(and(p=='Balance of Share',bp.BOS__c=='Decrease'),
                                                         and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Decrease')
                                                        ),
                                                      or(and(p=='Online Sales',bp.Online__c=='Decrease'),
                                                         and(p=='Sell-In',bp.Sell_In__c=='Decrease')
                                                        )
                                                    )}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;
                            <apex:outputText value="▼" style="{!if(p=='Weeks of Supply','color:green', 'color:red')}"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(
                                                      or(and(p=='Balance of Share',bp.BOS__c=='Flat'),
                                                         and(p=='Flooring/Share of Shelf',bp.Flooring__c=='Flat')
                                                        ),
                                                      or(and(p=='Online Sales',bp.Online__c=='Flat'),
                                                         and(p=='Sell-In',bp.Sell_In__c=='Flat')
                                                        )
                                                    )}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                           &nbsp;&nbsp; <apex:outputText value="⚫" style="color:orange;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                        
                        <apex:outputPanel rendered="{!or(
                                                      or(and(p=='Balance of Share',bp.BOS__c==null),
                                                         and(p=='Flooring/Share of Shelf',bp.Flooring__c==null)
                                                        ),
                                                      or(and(p=='Online Sales',bp.Online__c==null),
                                                         and(p=='Sell-In',bp.Sell_In__c==null)
                                                        )
                                                    )}">
                            <apex:outputText value="▲" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="⚫" style="color:#95A596;"/>
                            &nbsp;&nbsp;<apex:outputText value="▼" style="color:#95A596;"/><br/>
                        </apex:outputPanel>
                    </div>
                </apex:repeat>
            </td>
        </tr>
        </apex:repeat>
    </table>
    
    <u>Notes:</u>&nbsp;<apex:outputField value="{!callreport.Business_Performance_Notes__c}"/>
    <br/><br/>
    
    <div style="padding-bottom:5px"><u>Customer Intelligence:</u></div>
    <table border="1" cellpadding="5" width="100%">
        <tr>
            <th style="width:30%">Intelligence</th>
            <th style="width:70%">Comments</th>
        </tr>
        <apex:repeat value="{!mIntelligence}" var="m">
            <apex:outputPanel rendered="{!m.Intelligence_Type__c=='Customer Intelligence'}">
            <tr>
                <td><apex:outputText value="{!m.Intelligence__c}"/></td>
                <td><apex:outputText value="{!m.Comments__c}"/></td>
            </tr>
            </apex:outputPanel>
        </apex:repeat>
    </table>
    <br/>
    <u>Competitive Intelligence:</u><br/>
    <p><u>Competitor Engagement:</u> &nbsp;&nbsp;
        <apex:outputText value="True" rendered="{!callreport.Competitor_Compliance__c==True}"/>
        <apex:outputText value="False" rendered="{!callreport.Competitor_Compliance__c==False}"/>
    </p>
    <table border="1" cellpadding="5" width="100%">
        <tr>
            <th style="width:30%">Intelligence</th>
            <th style="width:13%">Category</th>
            <th style="width:13%">Competitor</th>
            <th style="width:44%">Comments</th>
        </tr>
        <apex:repeat value="{!mIntelligence}" var="m" >
            <apex:outputPanel rendered="{!m.Intelligence_Type__c=='Competitive Intelligence'}">
            <tr>
                <td><apex:outputText value="{!m.Intelligence__c}"/></td>
                <td><apex:outputText value="{!m.Category__c}"/></td>
                <td><apex:outputText value="{!m.Competitor__c}"/></td>
                <td><apex:outputText value="{!m.Comments__c}"/></td>
            </tr>
            </apex:outputPanel>
        </apex:repeat>
    </table>
    
    <h4>Action Items:</h4>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
        <apex:repeat value="{!crtasks}" var="t">
            <tr>
                <td><apex:outputText value="{!t.Subject}"/></td>
                <td><apex:outputText value="{!t.Description}"/></td>
                <td><apex:outputField value="{!t.Owner.name}"/></td>
                <td>
                    <apex:outputText value="{0,date,MM/dd/yy}"> 
                    	<apex:param value="{!t.ActivityDate}" /> 
                    </apex:outputText>
                </td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Additional Product category Notes:</h4>
    <table border="1" width="100%">
        <tr>
            <th style="padding:10px;width:27%">Division</th>
            <th style="padding:10px;width:27%">Product Category</th>
            <th style="padding:10px;width:46%">Comments</th>
        </tr>
        <apex:repeat value="{!pCategory}" var="pc">
            <tr style="page-break-inside: avoid;">
                <td style="padding-left:5px;padding-right:5px;"><apex:outputText value="{!pc.Division__c}"/></td>
                <td style="padding-left:5px;padding-right:5px;"><apex:outputText value="{!pc.Product_Category__c}"/></td>
                <td style="padding-left:5px;padding-right:5px;"><apex:outputfield value="{!pc.Notes__c}"/></td>
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Additional Accounts:</h4>    
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>Account Name</th>
            <th>Account Type</th>
          </tr>
        <apex:repeat value="{!sAcc}" var="a">
            <tr>
                <td>
                    <apex:outputText value="{!a.Sub_Account__r.Name}"/> 
                </td>
                <td>
                    <apex:outputText value="{!a.Account_Type__c}"/>     
                </td>
                                      
            </tr>
        </apex:repeat>
    </table><br/><br/>
    
    <h4>Customer Attendees:</h4>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>Customer Attendee </th>
        </tr>
        <apex:repeat value="{!custAttendee}" var="c">
            <tr>
                <td>
                    <apex:outputText value="{!c.Customer_Attendee__r.Name}"/> 
                </td>
                
            </tr>
        </apex:repeat>
    </table>
    
    <h4>Samsung Attendees:</h4>
    <table border="1" cellpadding="10" width="100%">
        <tr>
            <th>Samsung Attendee</th>
        </tr>
        <apex:repeat value="{!samsungAttendee}" var="c">
            <tr>
                <td>
                    <apex:outputText value="{!c.Attendee__r.Name}"/> 
                </td>
                
            </tr>
        </apex:repeat>
    </table>
    <br/>
    <!--<div id="f1" style="mso-element:footer" class="Section1">
        <p class="MsoFooter"><center>Private and Confidential</center></p>
    </div>-->
    
    <div class="Section1">
        <table id='hrdftrtbl' border='0' cellspacing='0' cellpadding='0'>
            <tr>
                <td>
                    <!--Footer-->
                    <div style='mso-element:footer' id="f1">
                        <p class="MsoFooter">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="30%"></td>
                                    <td align="center" width="40%">Private and Confidential</td>
                                    <td align="right" width="30%">
                                        Page <span style='mso-field-code: PAGE '></span> of <span style='mso-field-code: NUMPAGES '></span>
                                    </td>
                                </tr>
                            </table>
                        </p>
                    </div>
                </td>
        	</tr>
        </table>
    </div>
    
    </html>
    
</apex:page>