<apex:page standardController="Opportunity" >
    <apex:pagemessage summary="{!$Label.RequestDemoError}" rendered="{!!Opportunity.UserRecordAccess.HasEditAccess}" severity="Error" strength="2"/>
    <c:OrderRequestComponent rendered="{!Opportunity.UserRecordAccess.HasEditAccess}"/> 
</apex:page>