<apex:page standardController="Credit_Memo__c">
    
    <apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" />   
      
    <apex:tabPanel id="theTabPanel"  selectedTab="Tab2">
        <apex:tab id="Tab1" styleClass="hover" label="Feed">
        <chatter:feed entityId="{!Credit_Memo__c.Id}" showPublisher="true"/> 
        </apex:tab>
        <apex:tab id="Tab2" styleClass="hover" label="Detail" >
        <apex:detail subject="{!Credit_Memo__c.Id}" relatedList="true" title="true" showChatter="false" inlineEdit="true" oncomplete="javascript:location.reload();"  />
        <apex:outputText value="{!Credit_Memo__c.Status__c}" rendered="false"/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/soap/ajax/26.0/connection.js" type="text/javascript"></script>
        <script type="text/javascript">
               
            var jQuery = $.noConflict();
            jQuery(document).ready(function() {

                if ('{!Credit_Memo__c.Status__c}'== 'Approved' || '{!Credit_Memo__c.Status__c}'== 'Processed') {
 
                   document.getElementById('Add_Quote_Line_Items').setAttribute("disabled","disabled");
                  document.getElementById('#Add_Quote_Line_Items').setAttribute("disabled","disabled");

                }
            });
            
            
        </script>
        </apex:tab> 
        </apex:tabPanel> 
        </apex:page>