<apex:page standardController="Credit_Memo_Quote__c" extensions="DeleteCreditMemoQuoteExt">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <style type="text/css">
        .FlowPageBlockBtns {
            text-align: left !important;
        }
    </style>
    <div id="backdrop" style="
        top: 65px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-color: rgba(0,0,0,0.2);
        z-index: 0;
        position: absolute;
    "></div>
    <flow:interview name="Delete_Credit_Memo_Line_Items_and_Quote" interview="{!myAutoFlow}" finishLocation="{!nextPage}">
    	<apex:param name="varCMQID" value="{!$CurrentPage.parameters.Id}"/>
    <!--apex:param name="UserID" value="{!$User.Id}"/--->
 </flow:interview>
</apex:page>