<apex:page StandardController="Case" extensions="ExchangeInventoryCheck" lightningStylesheets="true" showHeader="false" sidebar="false"> 
  <script language="JavaScript" type="text/javascript">

  var processReturnedValue = function(valueReturned){
           // alert('Returned Value: ' + valueReturned);
            if(valueReturned=='1'){
                  window.opener.location.href="/{!Case.id}";
            
                  self.close();
              }
        };

</script>
  <apex:pageMessages id="msg"/>
  <apex:form >
  <apex:actionStatus id="searching" startText=" Searching ... " /> 
  <apex:actionStatus id="process" startText=" Processing ... " />  
      <apex:actionFunction name="performSearch" action="{!makecallout}" status="searching" rerender="result,Results,msg" />
      <apex:outputPanel >
        <apex:pageBlock >
           
           <div align="center">
               <apex:outputLabel value="Search Model :" style="font-weight:Bold;padding-right:10px;" for="txtSearch"/>  
                <apex:inputText id="txtSearch" value="{!searchmode}" html-readonly="true" />  
                <apex:image value="/s.gif" StyleClass="lookupIcon" style="cursor:pointer;"  onclick="performSearch();"  rendered="{!showlookup}"/>  
              
           </div>
        </apex:pageBlock>
      </apex:outputPanel>
      <apex:outputPanel id="result" >
         <apex:pageBlock title="Available List"> 
             <apex:actionFunction name="selectandsave" action="{!SelectandContinue}" status="process" rerender="result,Results,msg" oncomplete="processReturnedValue({!selectedcnt});" />
            <apex:commandButton id="Save" value="Select & Continue"  rendered="{!AND(responselist.size != 0)}" onclick="selectandsave();"  rerender="msg" style="float: right;"/>  
             

             <apex:pageBlockTable value="{!responselist}" var="r" id="Results">
                 <apex:column style="width :4%">
                               <apex:inputCheckbox value="{!r.selected}"  />
                  </apex:column>
               
              
               <apex:column style="text-align: center;" headerValue="Material Code" value="{!r.Matnr}"/>
               <apex:column style="text-align: center;" headerValue="Material Description" value="{!r.Maktx}"/>
               <apex:column style="text-align: center;" headerValue="Grade" value="{!r.charg}"/>
               <apex:column style="text-align: right;" headerValue="Available QTY" >
                    <apex:outputText value="{0, number, #,###}">
                           <apex:param value="{!ROUND(r.Avqty,0)}" />
                        </apex:outputText>
               </apex:column>
                <apex:column style="text-align: center;" headerValue="Plant" value="{!r.Werks}"/>
               <apex:column style="text-align: center;" headerValue="Storage Location" value="{!r.Lgort}"/>
                <apex:column style="text-align: right;" headerValue="Exchange Fee" value="{!r.ExchageFee}"/>
               <!-- <apex:column style="text-align: right;" headerValue="Total Stock" value="{!r.Clabs}"/>
               <apex:column style="text-align: center;" headerValue="Base Unit of Measure" value="{!r.Meins}"/>  -->
              
             </apex:pageBlockTable>
         </apex:pageBlock>
      </apex:outputPanel>
  </apex:form>
</apex:page>