<apex:page Controller="HAprojectSheetEditController" sidebar="false">
    
    <script type='text/javascript'>
      window.onload = function() {
         var jsonvalue={!template};
         
         
           var htmlstring ="";

          for(var i=0; i<jsonvalue.length; i++)
          {   
              var line='';
              
              var type=jsonvalue[i].type;
               if(type=='textarea'){
                   var val=jsonvalue[i].value;
                   if(val=='undefined' || val==undefined){
                       val='';
                   }
                   
                  line='<div class="form-group textfield"><label class="control-label" style="">'+jsonvalue[i].label+'</label><textarea  name="'+jsonvalue[i].name+'" type="text" class="form-control" lang="en" rows="3" >'+val+'</textarea></div>';
                  var subsection=jsonvalue[i].subsection;
               }else if(type=='text'){
                   var val=jsonvalue[i].value;
                   if(val=='undefined' || val==undefined){
                       val='';
                   }
                   line='<div class="form-group textfield "><label class="control-label" style="">'+jsonvalue[i].label+'&nbsp;</label><input name="'+jsonvalue[i].name+'" type="text" value="'+val +'"class="form-control" lang="en"/></div>';
               }else if(type=='radio-group'){
                  line='<div class="form-group"><label class="control-label" style="">'+jsonvalue[i].label+'</label> <div class="form-group">';
                  var values=jsonvalue[i].values;
                   for(var j=0;  j<values.length; j++){
                      line=line+'<div class="form-check form-check-inline checkbox-inline" > <label class="control-label form-check-label"><input onclick="onlyOne(this)" name="'+ jsonvalue[i].name+'" type="checkbox" class="form-check-input" lang="en"  value="'+values[j].value;
                      line=line+'"'+values[j].selected+'/><span>'+values[j].value+'</span>';
                       var subtypes =values[j].subTypes;
                       var SubLine='';
                       if(subtypes!=undefined){
                          for(var s=0;  s<subtypes.length; s++){
                                var val=subtypes[s].value;
                                   if(val=='undefined' || val==undefined){
                                       val='';
                                   }
                                  SubLine=SubLine+'<span>'+subtypes[s].label+'</span><input type="text" Style="display: none" name="'+subtypes[s].name+'" value="'+subtypes[s].label+'"/><input type="text" name="'+subtypes[s].name+'" value="'+val+'"/>';
                              }
                       
                       }
                        line=line+SubLine+'</label></div>';
                       
                   }
                   line=line+'</div></div>';
               }else if(type=='header'){
                  line='<div class="form-group headers"> <header><h4>'+jsonvalue[i].label+'</h4 ></header></div>';
               }
               
                var subsection=jsonvalue[i].subsection;
                 if(subsection== 'true' || subsection== 1 ){
                    line='<div class="subsection">'+line+'</div>';
                 }
                
               
             htmlstring =htmlstring +line;
          }
          console.log(htmlstring);
          htmlstring ='<div class="subsection">'+htmlstring+'</div';
            document.getElementById("formpreview").innerHTML=htmlstring ;  
      }
      </script>
    
    
    
    
    <html>
      <form onsubmit='return onSubmit(this)'>
          <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
          <link rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css'/>
        <style>
            .headers { padding-bottom: 25px; }
            .textfield { padding-bottom: 15px; }
            .subsection { padding-left: 15px; }
             .center { align: center; }
         </style>
     <center><apex:image value="{!URLFOR($Resource.SamsungLogo1)}" width="300px" height="60px"/></center>
     <div class="form-group headers center ">
       <header >
          <h2 align="center"> <center> Project Information</center></h2 >
       </header>
        <div id="formpreview"></div>
        <button style=" float: right; border: none:   color: blue;" type='submit'>Submit</button>
        <button style=" float: right; border: none:   color: blue;" onclick="goback()">Cancel</button><br></br>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

      <script  type='text/javascript'>
         function onSubmit(form){
              var data = JSON.stringify( $(form).serializeArray() ); 
               paraFunction(data);
               console.log( data );
               return false; 
            }
       function onlyOne(checkbox) {
         if (!checkbox.checked) return;
                var fields = document.getElementsByName(checkbox.name);
                var val=document.getElementsByName(checkbox.value);
              
                for(var idx=0; idx<fields.length; idx++) {
                    var field = fields[idx];
                   
                    if (field.checked && field!=checkbox)
                     
                        field.checked=false;
                }
        }
        
        function goback(){
            window.history.back();
        }
      </script>

  
    </div>
      </form>
    </html>
    <apex:form >
   
   <apex:actionFunction name="paraFunction" action="{!savereslut2}" rerender="msg"> 
     <apex:param name="x" value="" assignTo="{!body}" />
    </apex:actionFunction>
 </apex:form>
</apex:page>