<!--Created by Thiru to show the alert message when the SalesPortal returns error---2/6/2018-->
<apex:page standardController="Opportunity" sidebar="true" showHeader="false" showChat="false">
  <!-- For displaying the message -->
  <!--<apex:pageMessage summary="Sales Portal Error : {!Opportunity.Sales_Portal_Error__c}" 
                  severity="Info" 
                  strength="1"
                  rendered="{!Opportunity.Sales_Portal_Error__c != null}" />-->
  <apex:pageMessage summary="Sales Portal Error: Please take a look Sales Portal Error field" 
                  severity="Error" 
                  strength="1"
                  rendered="{!Opportunity.Sales_Portal_Error__c != null}" />
</apex:page>