<apex:page Controller="invalidleadcontroller" sidebar="false" showChat="false" setup="false"  showHeader="false" showQuickActionVfHeader="false">
<script type="text/javascript">
function closeWin() {
         window.close();   // Closes the new window
        }


    </script>
    
  <Apex:form >
  <Apex:outputPanel rendered="{!val}">
    <ApeX:pageBlock >
    <Apex:pageBlockButtons location="Bottom">
        <apex:commandButton value="Save" action="{!savelead}" oncomplete="closeWin()"/>
        <apex:commandButton value="Cancel" onclick="window.top.close();" />
    </Apex:pageBlockButtons>
       <Apex:pageBlockSection columns="1">
        <Apex:pageBlockSectionItem >
        
       <Apex:outputText Style="color:red" style="text-align:center;font-size: 15px;;color:red" value="Warning by invalidating the lead, all future inquiries for the lead will be blocked." />
        </Apex:pageBlockSectionItem>
       <Apex:pageBlockSectionItem >
            <Apex:outputLabel >Reason</Apex:outputLabel>
            <Apex:inputField value="{!ld.Reason__c }" required="true"/>
         </Apex:pageBlockSectionItem>
         <Apex:pageBlockSectionItem >
            <Apex:outputLabel >Status</Apex:outputLabel>
            <Apex:inputField value="{!ld.status}"  html-disabled="true" />
          </Apex:pageBlockSectionItem>
         
       </Apex:pageBlockSection>
    </ApeX:pageBlock>
  </Apex:outputPanel>
  <apex:outputPanel rendered="{!noVal}">
    <Apex:pageBlock >
       <Apex:OutputText > No Lead Is Attached to This Inquiry </Apex:OutputText>
    </Apex:pageBlock>
  </apex:outputPanel>
     
  </Apex:form>
</apex:page>