<apex:page controller="IQAccountOnlyController" tabStyle="Inquiry__c">
<style type="text/css">
        input.hiddenInput {
            width:0;
            height:0;
            border:0;
            padding:0;
            margin:0;
        }
    </style>
 <Apex:pageMessages ></Apex:pageMessages>
  <Apex:form >
     <Apex:pageBlock >
     <apex:pageBlockButtons >
     <Apex:commandButton Value="Next" action="{!convertLead}"/>
     <Apex:commandButton Value="Cancel" action="{!cancelconv}"/>
     </apex:pageBlockButtons>
       <apex:pageBlockSection columns="1">
          <Apex:pageBlockSectionItem >
             <Apex:outputLabel >Owner :</Apex:outputLabel>
             <apex:inputField value="{!contactId.ownerID}" id="recordOwner"  />
          </Apex:pageBlockSectionItem>
          
          <Apex:pageBlockSectionItem >
             <Apex:outputLabel >Account Name:</Apex:outputLabel>
              <apex:outputPanel styleClass="requiredInput" id="block">
             <apex:selectList value="{!selectedAccount}" size="1" 
                    multiselect="false" id="accountList">
                       
                    <apex:selectOptions value="{!accounts}"/>
                    
                </apex:selectList>
                <apex:inputField styleClass="hiddenInput" value="{!contactId.AccountId}" id="accountId" >
                    <!-- When an account is looked up, it is added to the select list -->                            
                    <apex:actionSupport event="onchange" action="{!accountLookedUp}"  rerender="accountList, ViewLink" />
                </apex:inputField>
               <apex:commandLink id="ViewLink"  value="View"
                    onclick="javascript:if ('{!selectedAccount}' != 'NEW' && '{!selectedAccount}' != 'NONE' ) {var newWindow = window.open('/{!selectedAccount}/p', 'accountview', 'top=40, left=40,scrollbars=yes, height=450, width=800');newwindow.focus();} else {alert('You can only view existing accounts.');}"
                />
                </apex:outputPanel>
          </Apex:pageBlockSectionItem>
          
       </apex:pageBlockSection>
     
     </Apex:pageBlock>
  </Apex:form> 
</apex:page>