<apex:page StandardController="Inquiry__c" lightningStylesheets="true" extensions="IQCloneController"  StandardStylesheets="false">
 <style type="text/css">        
          body .bPageBlock .form{
           background-color: blue;
            background-image:url(/_slds/images/themes/lightning_blue/lightning_blue_background.png) 
           }
           
           body .bodyCell .form{
           background-color: blue;
            background-image:url(/_slds/images/themes/lightning_blue/lightning_blue_background.png) 
           
           
           }

</style>
   

<apex:form >
<apex:pageMessages ></apex:pageMessages>
<apex:sectionHeader title="Inquiry Clone" subtitle="Original Inquiry :   {!Inquiry__c.Name}"/>
 <apex:pageBlock >
   <apex:pageBlockButtons >
       <apex:commandButton value="Save" action="{!saveIQ}" styleClass="slds-button slds-button_brand"/>
       <apex:commandButton value="Cancel" action="{!cancelCloneIQ}" styleClass="slds-button slds-button_neutral"/>
   </apex:pageBlockButtons>
     <apex:pageBlockSection title="Information" columns="2" collapsible="false">
        <apex:inputfield value="{!newIQ.IsActive__c}" />
        <apex:outputfield value="{!newIQ.OwnerID}" />
        <apex:inputfield value="{!newIQ.Persona_Orientation__c}" />
        <apex:inputfield value="{!newIQ.Campaign__c}" />
        <apex:inputfield value="{!newIQ.Qualified_Persona_Orientation__c}" />
        <apex:outputfield value="{!newIQ.Last_Campaign__c}" />
        <apex:inputfield value="{!newIQ.Persona_Undetermined_Reason__c}" />
        <apex:inputfield value="{!newIQ.Inquiry_Status__c}" />
        <apex:outputLabel ></apex:outputLabel>
        <apex:inputfield value="{!newIQ.Sub_Status__c}" />
        <apex:outputLabel ></apex:outputLabel>
        <apex:inputfield value="{!newIQ.Carrier__c}" />
        <apex:outputLabel ></apex:outputLabel>
        <apex:inputfield value="{!newIQ.Next_Step__c}" style="width: 250px; height: 40px;"/>
        <apex:outputLabel ></apex:outputLabel>
         <apex:inputfield value="{!newIQ.PRM_Preferred_Reseller__c}" />
     </apex:pageBlockSection>
     
     <apex:pageBlockSection title="Additional Comments" columns="1" collapsible="false">
        
        <div class=".slds-dueling-list" >
         <apex:inputfield value="{!newIQ.Product_Solution_of_Interest__c}" styleClass="slds-input"/> </div>
           <apex:inputfield value="{!newIQ.MQL_Comments__c}" style="width: 450px; height: 80px;" />
           <apex:inputfield value="{!newIQ.Inquiry_Comments__c}" style="width: 450px; height: 80px;"  />
           <apex:inputfield value="{!newIQ.PRM_Product_Solution_of_Interest__c}"  />
     </apex:pageBlockSection>
     
     <apex:pageBlockSection title="Prospect Details" columns="1" collapsible="false">
           <apex:inputfield value="{!newIQ.Lead__c}" />
           <apex:inputfield value="{!newIQ.Contact__c}" />
           <apex:inputfield value="{!newIQ.Account__c}" />
           <apex:inputfield value="{!newIQ.Opportunity__c}" />
     </apex:pageBlockSection>
     
     <apex:pageBlockSection title="BANT Qualification" columns="2" collapsible="false">
           <apex:inputfield value="{!newIQ.Budget__c}" />
           <apex:inputfield value="{!newIQ.Confirmed_Budget__c}" />
           <apex:inputfield value="{!newIQ.Authority__c}" />
           <apex:inputfield value="{!newIQ.Confirmed_Authority__c}" />
           <apex:inputfield value="{!newIQ.Need__c}" />
           <apex:outputLabel ></apex:outputLabel>
           <apex:inputfield value="{!newIQ.Timing__c}" />
           <apex:inputfield value="{!newIQ.Confirmed_Timeframe__c}" />
          
     </apex:pageBlockSection>
     
     <apex:pageBlockSection title="Additional information" columns="2" collapsible="false">
           <apex:inputfield value="{!newIQ.Industry__c  }" />
           <apex:inputfield value="{!newIQ.Lead_Score__c}" />
           <apex:inputfield value="{!newIQ.No_of_Employees__c}" />
           <apex:inputfield value="{!newIQ.IT_Lead_Score__c}" />
           <apex:inputfield value="{!newIQ.Device_Type__c}" />
            <apex:inputfield value="{!newIQ.MQL_Score__c}" />
           <apex:inputfield value="{!newIQ.Number_of_Devices__c}" />
           <apex:inputfield value="{!newIQ.Source__c}" />
           
           
           <apex:outputfield value="{!newIQ.Product_Family__c}" />
           <apex:inputfield value="{!newIQ.System_Source__c}" />
           <apex:inputfield value="{!newIQ.Purchase_Timeframe_Months__c}" />
           <apex:inputfield value="{!newIQ.Marketing_Channel__c}" />
           <apex:inputfield value="{!newIQ.PRM_Lead_Accepted_Partner__c}" />
          <apex:inputfield value="{!newIQ.Marketing_Lead_Source_Most_Recent__c}" />
           <apex:inputfield value="{!newIQ.PRM_LeadAcceptance__c}" />
           <apex:inputfield value="{!newIQ.Marketing_Lead_Source_Original__c}" />
     </apex:pageBlockSection>
 
 </apex:pageBlock>
</apex:form> 
</apex:page>