<apex:page standardController="Inquiry__c" extensions="InquiryDetailPage" id="pg" >
    <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
  <apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" />   
  <script type="text/javascript">
              var jQuery= $.noConflict();
           jQuery(document).ready(function () {
            jQuery("#00N3600000RyP8kpg_j_id62_ileinner").dblclick(function () {
                   showPoup();
            });
        });
        
       function hidePoup(){
            jQuery("[id='pg:frm:pop1']").hide();
            jQuery("[id='pg:frm:pop2']").hide();
        }
        
        function showPoup(){
            jQuery("[id='pg:frm:pop1']").show();
            jQuery("[id='pg:frm:pop2']").show();
           
        }
         function validateNSave(){
                saveNadd();
         }
       function Reloadpg(){
       
       window.location.reload();
       }
       </script>
   <style type="text/css">
 
        .popup
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 500px;
            margin-left: -250px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
    <apex:form id="frm">
     <apex:pageMessages />
     <apex:actionFunction name="saveNadd" action="{!saveNadd}" oncomplete="Reloadpg()" />
      <Apex:outputPanel id="pop1" style="display:none" >
         <apex:outputPanel styleClass="popupBg" layout="block" id="pop2" style="display:none" />
          <apex:outputPanel styleClass="popup" layout="block" id="innerpop">
             <Apex:pageBlock >
            <apex:pageBlockButtons location="bottom">
                        <input type="button" value="Save" onclick="validateNSave()" class="btn"/>
                        <input type="button" value="Cancel" onclick="hidePoup()"  class="btn"/>
                    </apex:pageBlockButtons>
                <Apex:pageBlockSection columns="1" title="Address" collapsible="false" >
                   <apex:pageBlockSectionItem >
                       <Apex:outputLabel > Street</Apex:outputLabel>
                       <apex:outputPanel >
                         <apex:inputText value="{!iq.Street__c}"/>
                       </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                 <apex:pageBlockSectionItem >
                       <Apex:outputLabel > City</Apex:outputLabel>
                       <apex:outputPanel >
                         <apex:inputText value="{!iq.City__c}"/>
                       </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                       <Apex:outputLabel > State </Apex:outputLabel>
                       <apex:outputPanel >
                         <apex:inputText value="{!iq.State__c}"/>
                       </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                       <Apex:outputLabel >Zip/Postal Code</Apex:outputLabel>
                       <apex:outputPanel >
                         <apex:inputText value="{!iq.Zip_Postal_Code__c}"/>
                       </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                    <apex:pageBlockSectionItem >
                       <Apex:outputLabel > Country </Apex:outputLabel>
                       <apex:outputPanel >
                         <apex:inputText value="{!iq.Country__c}"/>
                       </apex:outputPanel>
                   </apex:pageBlockSectionItem>
                   
                </Apex:pageBlockSection>
             </Apex:pageBlock>   
          </apex:outputPanel>
      </Apex:outputPanel>
    </apex:form>
      <apex:tabPanel id="theTabPanel" styleClass="hover" selectedTab="Tab2">
        <apex:tab id="Tab1" styleClass="hover" label="Feed" style="background-color:white;" >
        <chatter:feed entityId="{!Inquiry__c.Id}" showPublisher="true"  /> 
        
      </apex:tab>
        <apex:tab id="Tab2" styleClass="hover" label="Detail" style="background-color:white;">
       <Apex:Detail subject="{!Inquiry__c.Id}" relatedList="true" title="true" inlineedit="true" />
         
       

       </apex:tab> 
 </apex:tabPanel> 
</apex:page>