<apex:page standardController="Opportunity"  extensions="NewOpportunity" showHeader="true" tabStyle="Opportunity" >
<c:loadingComponent />
<apex:sectionHeader title="Opportunity Edit" subtitle="New Opportunity"/>
    <apex:form >
    <apex:pageMessages id="errorMessage" />
    <apex:pageBlock id="editPanel" title="Opportunity Edit" mode="edit">
    <apex:pageBlockButtons >
        <!--<apex:actionStatus id="saveStatus">
            <apex:facet name="stop">
              <apex:commandButton value="Save"  status="loadStatus" action="{!saveButton}" reRender="errorMessage" status="saveStatus"/>
            </apex:facet>
            <apex:facet name="start">
              <apex:commandButton value="Saving..." status="saveStatus" status="loadStatus" disabled="true"/>
            </apex:facet>
        </apex:actionStatus>-->
        <apex:commandButton value="Save"  status="loadStatus" action="{!saveButton}" reRender="errorMessage"/>
        <apex:commandButton value="Save and Add Price Book" status="loadStatus" action="{!saveAndContinue}" reRender="errorMessage"/>
        <apex:commandButton value="Cancel" action="{!cancel}" />
    </apex:pageBlockButtons>
    <apex:pageBlockSection title="Opportunity Information" columns="2">
        <apex:inputField label="Account Name" value="{!Opportunity.AccountId}" required="true"/>
        <apex:inputField label="Project Reference" value="{!Opportunity.Reference__c}" />
        <!--<apex:inputField label="Type" value="{!Opportunity.Type}" required="true"/> KR commented based on TestRail T13650-->
        <apex:pageBlockSectionItem id="typeId">
            <apex:outputLabel >Type</apex:outputLabel>
            <apex:outputPanel layout="block" styleClass="requiredInput">
            <apex:outputPanel layout="block" styleClass="requiredBlock"/>
                <apex:selectList label="Type" id="typeId" size="1" value="{!typeValue}" required="true">
                    <apex:selectOptions value="{!typeSelectList}"/>
                </apex:selectList>
            </apex:outputPanel>
        </apex:pageBlockSectionItem>
        <apex:inputField label="Description" value="{!Opportunity.Description}"/>
        <apex:inputField label="Division" value="{!Opportunity.Division__c}"  required="true"/>
        <apex:inputField label="Close Date" value="{!Opportunity.CloseDate}" required="true"/>
        <apex:inputField label="Product Group" value="{!Opportunity.ProductGroupTest__c}" required="true"/>
        <apex:inputField label="Amount" value="{!Opportunity.Amount}" />
        <apex:inputField label="Source" value="{!Opportunity.LeadSource}" required="true"/>
     <!-- <apex:inputField label="End Customer" value="{!Opportunity.End_Customer__c}" rendered="{!IF(OR($Profile.Name == 'System Administrator',$Profile.Name == 'B2B CBS Sales User'),true,false)}" required="true" /> --> 
      <apex:inputField label="New/Refresh" value="{!Opportunity.New_Refresh__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT'),true,false)}"/>
        
        <apex:inputField label="BO Type" value="{!Opportunity.BO_Type__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT',recordtypename == 'Services'),true,false)}"/>
         <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
        <apex:inputField label="BO Sub Type" value="{!Opportunity.BO_Sub_Type__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT',recordtypename == 'Services'),true,false)}"/>
         <apex:inputField label="Campaign" value="{!Opportunity.CampaignId}" />
         <apex:inputField label="IL/CL" value="{!Opportunity.IL_CL__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services'),true,false)}" required="true"/>
         <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
         <apex:inputField label="Channel/Carrier" value="{!Opportunity.Channel_Carrier__c}" rendered="{!IF(recordtypename == 'Mobile',true,false)}" required="true"/>
        <!-- apex:outputField label="Stage" value="{!Opportunity.StageName}" />  -->
            <apex:inputField label="Strategic Initiatives" value="{!Opportunity.Strategic_Initiatives__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT'),true,false)}" />
             <apex:inputField label="Important Notes" value="{!Opportunity.Important_Notes__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT'),true,false)}"/>
             <apex:inputField label="BO Vertical" value="{!Opportunity.BO_Vertical__c}" rendered="{!IF(OR(recordtypename == 'Mobile'),true,false)}"/>
              <apex:inputField label="Competitor" value="{!Opportunity.Competitor__c}" rendered="{!IF(OR(recordtypename == 'Mobile'),true,false)}"/>
                         <apex:inputTextArea value="{!Opportunity.NextStep}" style="width:250px;height:70px" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'IT'),true,false)}" />
                         <apex:inputField label="BO Tag" value="{!Opportunity.BO_Tag__c}" rendered="{!IF(OR(recordtypename == 'Mobile'),true,false)}"/>

    </apex:pageBlockSection>
    
         <apex:pageBlockSection collapsible="false" >
          <apex:outputLabel ></apex:outputLabel>
           <apex:outputLabel ></apex:outputLabel>
             <apex:inputField value="{!Opportunity.Solution_Included__c}"  rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>
             <apex:inputField value="{!Opportunity.B2B_SKU_Upsell__c}"  rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>
             <apex:inputField value="{!Opportunity.Reason_Not_Included__c}" required="true" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>
             <apex:inputField value="{!Opportunity.Reason_Declined__c}" required="true" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>
             <!--<apex:inputField value="{!Opportunity.Software_Services_Only__c}" rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>-->
               <apex:outputLabel ></apex:outputLabel>
             <apex:inputField value="{!Opportunity.Renewal__c}"  rendered="{!IF(OR(recordtypename == 'Mobile',recordtypename == 'Services',recordtypename == 'IT'),true,false)}"/>
         </apex:pageBlockSection>
    
    
    </apex:pageBlock>
    </apex:form>

</apex:page>