<apex:page action="{!IF(OR($Profile.Name = 'System Administrator',
                           $Profile.Name = 'HA Builder Distributor User',
                           $Profile.Name = 'HA Builder Operations User',
                           $Profile.Name = 'HA Builder Ops User',
                           $Profile.Name = 'HA Sales User',
                           $User.UIThemeDisplayed ='Theme4d',$User.UIThemeDisplayed ='Theme4t'), URLFOR('/006/o?nooverride=1'), NULL)}" lightningstylesheets="true">
    
    <apex:enhancedList type="Opportunity" height="800" />
</apex:page>