<apex:page standardController="Opportunity" extensions="OpportunityEdit" id="pg" lightningStylesheets="true">
 <apex:includeScript value="https://code.jquery.com/jquery-1.10.2.js"/> 
 <!-- <apex:includeScript value="{!$Resource.jquery_1_10_2.js}"/> -->
    <style type="text/css">

        .popup
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 600px;
            margin-left: -250px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 200%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
    
    <apex:sectionHeader title="Opportunity Edit" subtitle="{!Opp.Name}"/>
    <apex:form id="frm">
        <apex:pageMessages />
        <apex:outputPanel id="op1" style="display:none" >
        <apex:outputPanel styleClass="popupBg" layout="block" id="op2" style="display:none"/>
            <apex:outputPanel styleClass="popup" layout="block" id="innerOp">
                <apex:pageBlock id="pb" title="Win Note">
                    <apex:pageBlockButtons location="bottom">
                        <input type="button" value="Save" onclick="validateNSave()" class="btn"/>
                        <input type="button" value="Cancel" onclick="hidePoup()"  class="btn"/>
                    </apex:pageBlockButtons>
                    <apex:pageBlockSection id="pbs" title="Win Note" columns="1">
                       
                        <apex:pageBlockSectionItem id="p1">
                            
                            <apex:outputLabel >
                                How is the technology used and who uses it?
                                
                            </apex:outputLabel>
                            <apex:outputpanel id="op">
                                <div class = "requiredInput">

                                    <div class = "requiredBlock"></div>
                                    <apex:inputTextArea value="{!opp.How_is_the_technology_used_and_who_uses__c}" id="qstn1" style="width: 400px; height: 50px"/>
                                </div>
                            </apex:outputpanel>
                        </apex:pageBlockSectionItem>
                    
                        <apex:pageBlockSectionItem id="p2">
                            <apex:outputLabel >
                                What Samsung or third-party applications are being utilized?
                            </apex:outputLabel>
                            <apex:outputpanel id="op">
                                <div class = "requiredInput">

                                    <div class = "requiredBlock"></div>
                                    <apex:inputTextArea value="{!opp.What_Samsung_or_third_party_applications__c}" id="qstn2" style="width: 400px; height: 50px"/>
                                </div>
                            </apex:outputpanel>
                        </apex:pageBlockSectionItem>
                        
                        
                        <apex:pageBlockSectionItem id="p3">
                            <apex:outputLabel >
                                Why did the customer choose Samsung over the competition?
                            </apex:outputLabel>
                            <apex:outputpanel id="op">
                                <div class = "requiredInput">

                                    <div class = "requiredBlock"></div>
                                    <apex:inputTextArea value="{!opp.Why_did_the_customer_choose_Samsung_ove__c}" id="qstn3" style="width: 400px; height: 50px"/>
                                </div>
                            </apex:outputpanel>
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem id="p4">
                            <apex:outputLabel >
                                  What was the customer’s problem and how did Samsung address it?
                            </apex:outputLabel>
                            <apex:outputpanel id="op">
                                <div class = "requiredInput">

                                    <div class = "requiredBlock"></div>
                                    <apex:inputTextArea value="{!opp.What_was_the_customer_s_problem_and_how__c }" id="qstn4" style="width: 400px; height: 50px"/>
                                </div>
                            </apex:outputpanel>
                        </apex:pageBlockSectionItem>
                        
                        <apex:pageBlockSectionItem id="p5">
                            <apex:outputLabel >
                                  How did we effectively engage the customer?
                            </apex:outputLabel>
                            <apex:outputpanel id="op">
                                <div class = "requiredInput">

                                    <div class = "requiredBlock"></div>
                                    <apex:inputTextArea value="{!opp.How_did_we_effectively_engage_the_custom__c}" id="qstn5" style="width: 400px; height: 50px"/>
                                </div>
                            </apex:outputpanel>
                        </apex:pageBlockSectionItem>
                        
                        
                    </apex:pageBlockSection>
                </apex:pageBlock>
                
                
                
            </apex:outputPanel>
        </apex:outputPanel>
          <apex:outputPanel rendered="{!showedit}">
    <apex:pageBlock title="Opportunity Edit" mode="edit" id="pb1">
       
        
        <apex:pageBlockButtons >
            <input type="button" value="Save" class="btn" onclick="isclosedWon('false')"/>
            <input type="button" value="Save & New" class="btn" onclick="isclosedWon('true')"/>
            
            <apex:commandButton value="Cancel" action="{!cancel}"/>
        </apex:pageBlockButtons>
        
        <apex:pageBlockSection title="Opportunity Information" id="oppInfoSection">
            <apex:outputField value="{!opp.Opportunity_Number__c}"/>
            <apex:inputField value="{!opp.stageName}" id="stageName"/>
            <apex:inputField value="{!opp.Name}"/>
            <apex:inputTextArea value="{!opp.NextStep}" style="width:250px;height:70px" rendered="{!opp.recordtype.name == 'Mobile' || opp.recordtype.name == 'IT' || opp.recordtype.name == 'Services'}"/>
             <apex:inputField value="{!opportunity.account.name}"/>
             <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>           
              <apex:inputField value="{!opp.New_Refresh__c}" rendered="{!opp.recordtype.name == 'Mobile'|| opp.recordtype.name == 'IT'}"/>
              
             <apex:inputField value="{!opp.High_Probability__c}" rendered="{!opp.recordtype.name == 'IT'}"/>
            <apex:inputField value="{!opp.Amount}" id="oppAmount"/>
                  <!--  <apex:inputField label="End Customer" value="{!Opportunity.End_Customer__c}" rendered="{!IF(OR($Profile.Name == 'System Administrator',$Profile.Name == 'B2B CBS Sales User'),true,false)}" required="true" />
        <apex:outputText rendered="{!IF(OR($Profile.Name == 'System Administrator',$Profile.Name == 'B2B CBS Sales User'),true,false)}" />-->
               
            <apex:inputField value="{!opp.Reference__c}"/>           
            <apex:inputField value="{!opp.CloseDate}"/>
            <apex:inputField value="{!opp.Type}"/>
            <apex:inputField value="{!opp.Drop_Reason__c}"/>
            <apex:inputField value="{!opp.Division__c}" id="division"/>
            <apex:inputField value="{!opp.Lost_Reason__c}"/>
            <apex:inputField value="{!opp.ProductGroupTest__c}"/>
            <apex:inputField value="{!opp.Pricebook2id}" /> 
            <apex:inputField value="{!opp.description}" style="width: 300px; height: 40px"/>
            <apex:outputField value="{!opp.ownerid}"/>
            <apex:inputField value="{!opp.IL_CL__c}" rendered="{!opp.recordtype.name == 'Mobile'}"/>
            <apex:pageBlockSectionItem rendered="{!opp.recordtype.name == 'Mobile'}"></apex:pageBlockSectionItem>
            <apex:inputField value="{!opp.BO_Type__c}" rendered="{!opp.recordtype.name == 'Mobile'|| opp.recordtype.name == 'IT' || opp.recordtype.name == 'Services'}"/>
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputField value="{!opp.BO_Sub_Type__c}" rendered="{!opp.recordtype.name == 'Mobile'|| opp.recordtype.name == 'IT' || opp.recordtype.name == 'Services'}"/>
           
            <apex:inputField value="{!opp.Strategic_Initiatives__c}" rendered="{!opp.recordtype.name == 'Mobile' || opp.recordtype.name == 'IT'}" />
            <apex:inputField value="{!opp.Channel_Carrier__c}" rendered="{!opp.recordtype.name == 'Mobile'}" required="true"/>  
            <apex:pageBlockSectionItem rendered="{!opp.recordtype.name != 'Mobile'}"></apex:pageBlockSectionItem>
            <!--<apex:inputField value="{!opp.Use_Case__c}" rendered="{!opp.recordtype.name == 'Mobile' || opp.recordtype.name == 'IT'}"/>-->
            <apex:inputField value="{!opp.Competitor__c}" rendered="{!opp.recordtype.name == 'Mobile' || opp.recordtype.name == 'IT'}"/>
            <apex:inputField value="{!opp.BO_Vertical__c}" rendered="{!opp.recordtype.name == 'Mobile'}"/>
            <apex:pageBlockSectionItem ></apex:pageBlockSectionItem>
            <apex:inputField value="{!opp.BO_Tag__c}" rendered="{!opp.recordtype.name == 'Mobile'}"/>
            <apex:inputField value="{!opp.Forecast_Type__c}" rendered="{!opp.recordtype.name == 'Mobile'}"/>
            
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Important Notes" collapsible="false">
        <apex:inputField value="{!opp.Important_Notes__c}" style="width: 300px; height: 40px"/>
         <apex:inputField value="{!opp.Last_Modified_Date_Time__c}"/>
         <apex:inputField value="{!opp.Last_Modified_By__c}"/>
         </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Rollout Summary" collapsible="false">
        <apex:inputField value="{!opp.Roll_Out_Start__c}"/>
        <apex:inputField value="{!opp.Roll_Out_Status__c}"/>
         <apex:inputField value="{!opp.Rollout_Duration__c}"/>
        <apex:inputField value="{!opp.Is_Pilot_Order__c}"/>            
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="D.A.S.S. Qualification" collapsible="false" rendered="{!opp.recordtype.name <> 'Wireless Enterprise'}">
        <apex:inputField value="{!opp.Solution_Included__c}" />
        <apex:inputField value="{!opp.B2B_SKU_Upsell__c}"/>
         <apex:inputField value="{!opp.Reason_Not_Included__c}" required="true"/>
        <apex:inputField value="{!opp.Reason_Declined__c}" required="true"/>
         <!--<apex:inputField value="{!opp.Software_Services_Only__c}"/>-->
         <apex:outputLabel ></apex:outputLabel>
        <apex:inputField value="{!opp.Renewal__c}"/>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Channel Management" collapsible="false">
            <apex:inputField value="{!opp.Reason__c}" style="width: 360px; height: 40px" />
             <apex:inputField value="{!opp.JointBidding__c}"/>
              <apex:inputField value="{!opp.Deal_Registration_Approval__c}"/>
               <apex:inputField value="{!opp.Primary_Distributor__c}"/>
                <apex:inputField value="{!opp.Primary_Reseller__c}"/>
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Additional Information" collapsible="false">
        <apex:inputField value="{!opp.LeadSource}" required="true"/>
         <apex:inputField value="{!opp.PRM_Lead_ID__c}"/>
         <apex:inputField value="{!opp.PreferredResellerLead__c}"/>
         <apex:inputField value="{!opp.External_Opportunity_ID__c}"/>
         <apex:inputField value="{!opp.Managed_Print_Services_Applicable__c}"/>

        
            
        </apex:pageBlockSection>
        
        <apex:pageBlockSection title="Description Information" collapsible="false" columns="1">
        <apex:inputfield value="{!opp.Historical_Comments__c}" style="width: 400px; height: 60px"/>
         <apex:inputfield value="{!opp.Product_Information__c}" style="width: 400px; height: 60px"/>
         <apex:inputfield value="{!opp.CompetitiveInformation__c}" style="width: 400px; height: 60px"/>    
       </apex:pageBlockSection>

        <apex:pageBlockSection title="System Information" collapsible="true">
              <apex:outputField value="{!opp.RecordtypeId}"/>
              <apex:inputField value="{!opp.Probability}"/> 
             <apex:inputField value="{!opp.Has_Partner_s__c}"/>
              <apex:inputField value="{!opp.Probability2__c}" rendered="{!if(opp.Recordtype.Name="Wireless Enterprise","true","false")}"/> 
             <apex:inputField value="{!opp.Has_Partner__c}"/> 
             <apex:inputField value="{!opp.External_Lead_ID__c}"/> 
             <apex:inputField value="{!opp.Is_Pricing_Status_Change__c}"/>             
        </apex:pageBlockSection>
        
        
    </apex:pageBlock>
 </apex:outputPanel>
        <apex:actionFunction name="saveOpp" action="{!saveOpp}" >
            <apex:param name="qstn1"  assignTo="{!q1}" value=""/>
        </apex:actionFunction>
        <apex:actionFunction name="saveNCreateNewOpp" action="{!saveNCreateNewOpp}" />
    </apex:form>
    
    <script>
        var oldStageName; 
        var saveNNew = false;
        var jQuery = $.noConflict();
            
            jQuery(document).ready(function() {
                hidePoup(); 
                oldStageName= jQuery("[id='pg:frm:pb1:oppInfoSection:stageName']").val();
            });
            
        function hidePoup(){
            jQuery("[id='pg:frm:op1']").hide();
            jQuery("[id='pg:frm:op2']").hide();
        }
        
        function showPoup(){
           
            jQuery("[id='pg:frm:op1']").show();
            jQuery("[id='pg:frm:op2']").show();
        }
        
        
        function isclosedWon(tmpsaveNNew){
            saveNNew = tmpsaveNNew;
            var newStageName = jQuery("[id='pg:frm:pb1:oppInfoSection:stageName']").val();
            var division = jQuery("[id='pg:frm:pb1:oppInfoSection:division']").val();
            var oppAmountinDollor = '{!Opportunity.Amount}'; 
            var oppAmountWithoutDollor= oppAmountinDollor.replace('$',''); 
            oppAmountWithoutDollor= oppAmountWithoutDollor.replace(',',''); 
            
            var oppAmount = parseFloat(oppAmountWithoutDollor); 
            
            if(oppAmount >= 100000 && oldStageName != newStageName && newStageName == 'Win' && (division == 'IT' || division =='Mobile' )){
                 showPoup();
            }
            else{
                if(saveNNew == 'true'){
                    saveNCreateNewOpp();
                }else{
                    saveOpp();
                }
            }
            
        }
        
        function validateNSave(){
            var allFieldsEnterd = true;
            
            var qstn1 = jQuery("[id='pg:frm:pb:pbs:p1:qstn1']").val();
            if(qstn1 == null || qstn1 ==''){
                allFieldsEnterd = false;
            }else if(qstn1.length > 500 ){
                alert('The Max Characters limit Is 500 for "How is the technology used and who uses it?"');
                return false;
            }
            var qstn2 = jQuery("[id='pg:frm:pb:pbs:p2:qstn2']").val();
            if(qstn2 == null || qstn2 ==''){
                allFieldsEnterd = false;
            }else if(qstn2.length > 500 ){
                alert('The Max Characters limit Is 500 for "What Samsung or third-party applications are being utilized?"');
                return false;
            }
            var qstn3 = jQuery("[id='pg:frm:pb:pbs:p3:qstn3']").val();
            if(qstn3 == null || qstn3 ==''){
                allFieldsEnterd = false;
            }else if(qstn3.length > 500 ){
                alert('The Max Characters limit Is 500 for "Why did the customer choose Samsung over the competition?"');
                return false;
            }
            var qstn4 = jQuery("[id='pg:frm:pb:pbs:p4:qstn4']").val();
            if(qstn4 == null || qstn4 ==''){
                allFieldsEnterd = false;
            }else if(qstn4.length > 500 ){
                alert('The Max Characters limit Is 500 for "What was the customer’s problem and how did Samsung address it?"');
                return false;
            }
             var qstn5 = jQuery("[id='pg:frm:pb:pbs:p5:qstn5']").val();
            if(qstn5 == null || qstn5 ==''){
                allFieldsEnterd = false;
            }else if(qstn5.length > 500 ){
                alert('The Max Characters limit Is 500 for "How did we effectively engage the customer?"');
                return false;
            }
            if(allFieldsEnterd == false){
                alert('Please eneter feedback, its mandatory');
                showPoup();
            }else{
            
                if(saveNNew == 'true'){
                    saveNCreateNewOpp();
                }else{
                    saveOpp();
                }
                
            }
            
        }
        
    </script> 
    
</apex:page>