<apex:page standardController="ReleaseNote__c" extensions="ReleaseNoteExtension">

<script type="text/javascript">
Sfdc.onReady(function(){
     var disabled = "{!ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id}";
     if(disabled!="true") {
        return;  
     }
     var attachFile = document.getElementsByName('attachFile');
     for (i = 0; i < attachFile.length; i++) {
         attachFile[i].classList.add("btnDisabled");
     }
     
     var piSubmit = document.getElementsByName('piSubmit');
     for (i = 0; i < piSubmit.length; i++) {
         piSubmit[i].classList.add("btnDisabled");
     }
});
</script>

    <apex:form >
    <apex:pageBlock title="Release Note">
      <apex:pageMessages />
      <apex:pageBlockButtons >
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id}" value="Edit" action="{!Edit}"/>
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id}" value="Delete" action="{!Delete}"/>
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id}" value="Submit for Apporval" action="{!submitForApproval}" />
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Approved' || ($User.Alias!='hjeon' && $User.Alias!='spark')}" value="Deployed" action="{!deploy}"/>
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Deployed' || ($User.Alias!='hjeon' && $User.Alias!='spark')}" value="Completed" action="{!completed}" />
      </apex:pageBlockButtons>
      <apex:pageBlockSection title="Release Note" collapsible="true" columns="2">
        <apex:pageblocksectionitem >
            <apex:outputLabel >Name</apex:outputLabel>
            <apex:outputField label="Name" value="{!ReleaseNote__c.Name}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Module</apex:outputLabel>
            <apex:outputField label="Module" value="{!ReleaseNote__c.Module__c}"/>
        </apex:pageblocksectionitem>        
        <apex:pageblocksectionitem >
            <apex:outputLabel >Type</apex:outputLabel>
            <apex:outputField label="Type" value="{!ReleaseNote__c.Type__c}"/>
        </apex:pageblocksectionitem>  
        <apex:pageblocksectionitem >
            <apex:outputLabel >Status</apex:outputLabel>
            <apex:outputField label="Status" value="{!ReleaseNote__c.Status__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Target Date</apex:outputLabel>
            <apex:outputField label="Target Date" value="{!ReleaseNote__c.TargetDate__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Description</apex:outputLabel>
            <apex:outputField label="Description" value="{!ReleaseNote__c.Description__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >How to test</apex:outputLabel>
            <apex:outputField label="How to test" value="{!ReleaseNote__c.HowToTest__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Related Case</apex:outputLabel>
            <apex:outputField label="Related Case" value="{!ReleaseNote__c.RelatedCase__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Deployed Status</apex:outputLabel>
            <apex:outputField label="Owner" value="{!ReleaseNote__c.DeployResult__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Post Action</apex:outputLabel>
            <apex:outputField label="Post Action" value="{!ReleaseNote__c.PostAction__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Deployed Comment</apex:outputLabel>
            <apex:outputField label="Owner" value="{!ReleaseNote__c.DeployComment__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Owner</apex:outputLabel>
            <apex:outputField label="Owner" value="{!ReleaseNote__c.CreatedById}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >Change Set</apex:outputLabel>
            <apex:outputField label="ChangeSet" value="{!ReleaseNote__c.ChangeSet__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >CreatedDate</apex:outputLabel>
            <apex:outputField label="CreatedDate" value="{!ReleaseNote__c.CreatedDate}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >LastModifiedDate</apex:outputLabel>
            <apex:outputField label="LastModifiedDate" value="{!ReleaseNote__c.LastModifiedDate}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >DirectOnProduction</apex:outputLabel>
            <apex:outputField label="DirectOnProduction" value="{!ReleaseNote__c.DirectOnProduction__c}"/>
        </apex:pageblocksectionitem>
        <apex:pageblocksectionitem >
            <apex:outputLabel >ItemCount</apex:outputLabel>
            <apex:outputField label="ItemCount" value="{!ReleaseNote__c.ItemCount__c}"/>
        </apex:pageblocksectionitem>        
      </apex:pageBlockSection>
      <apex:pageBlockSection title="RFC Information-Reception" collapsible="true" columns="2">
          <apex:outputField value="{!ReleaseNote__c.Requester__c}"/>
          <apex:outputField value="{!ReleaseNote__c.RFC_Number__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Request_Contents__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Main_System__c}"/>
          <apex:outputField value="{!ReleaseNote__c.RFC_Performer__c}"/>
          <apex:outputField value="{!ReleaseNote__c.RFC_Manager__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Change_Class__c}"/>  
          <apex:outputField value="{!ReleaseNote__c.Requested_Date__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Request_Finish_Date__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Change_Analysis__c}"/>
          
          </apex:pageBlockSection>
      <apex:pageBlockSection title="RFC Information-Analysis" collapsible="true" columns="2">
          <apex:outputField value="{!ReleaseNote__c.Change_Class__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Perform_Category__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Predict_Finish_Date__c}"/> 
          <apex:outputField value="{!ReleaseNote__c.Analysis_Performer__c}"/>          
           <apex:outputField label="Requirement Definition" value="{!ReleaseNote__c.Description__c}"/>
          <apex:outputField value="{!ReleaseNote__c.Impact_Analysis__c}"/>
           
            
      </apex:pageBlockSection> 
      <apex:pageBlockSection title="RFC Information-Development" collapsible="true" columns="2">
           <apex:outputField label="Developer" value="{!ReleaseNote__c.CreatedById}"/>
           
           <apex:outputField label="Test Scenario" value="{!ReleaseNote__c.HowToTest__c}"/>
             <apex:outputField value="{!ReleaseNote__c.UAT_Result__c}"/>    
      </apex:pageBlockSection>  
      <apex:pageBlockSection title="RFC Information-Release" collapsible="true" columns="2">
       <apex:outputField label="Release Performer" value="{!ReleaseNote__c.CreatedById}"/>
       <apex:outputField value="{!ReleaseNote__c.Release_Date__c}"/>
       <apex:outputField value="{!ReleaseNote__c.Transfer_Request_Review__c}"/>
       <apex:outputField value="{!ReleaseNote__c.Restoration_Plan__c}"/>
       <apex:outputField value="{!ReleaseNote__c.Transfer_Execution__c}"/>
       <apex:outputField value="{!ReleaseNote__c.Intial_Review_after_Transfer__c}"/>

      </apex:pageBlockSection>   
      <apex:pageBlockSection title="RFC Information-Completion" collapsible="true" columns="2">
           <apex:outputField value="{!ReleaseNote__c.Completion_Date__c}"/>
           <apex:outputField value="{!ReleaseNote__c.Customer_Confirmation__c}"/>
           <apex:outputField value="{!ReleaseNote__c.PIR_Date__c}"/>
           <apex:outputField value="{!ReleaseNote__c.RFC_Manager__c}"/>
           <apex:outputField value="{!ReleaseNote__c.PIR_Change_Manager__c}"/>

 </apex:pageBlockSection>            
  </apex:pageBlock>
  </apex:form>

  <apex:form >
  <apex:pageBlock title="Release Item">
    <apex:pageBlockButtons >
        <apex:commandButton disabled="{!ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id}" value="Add ReleaseItem" action="{!addReleaseItem}"/>
    </apex:pageBlockButtons>
    <apex:pageBlockSection title="Release Item" collapsible="false" columns="1" >
      <apex:pageBlockTable value="{!items}" var="item" id="theTable" rowClasses="odd,even" width="80%">
        <apex:column headerValue="Action" width="8%">
            <apex:commandLink action="{!editItem}" value="Edit" id="editCmd"  rendered="{!IF((ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id || $User.Alias!='hjeon'),false,true)}">
                <apex:param value="{!item.Id}" name="ItemId" assignTo="{!itemId}" />
            </apex:commandLink>&nbsp;
            <apex:commandLink action="{!deleteItem}" value="Delete" id="deleteCmd" rendered="{!IF((ReleaseNote__c.Status__c!='Draft' || ReleaseNote__c.Owner.Id!=$User.Id), false, true)}">
                <apex:param value="{!item.Id}" name="ItemId" assignTo="{!itemId}"/>
            </apex:commandLink>
        </apex:column>
        <apex:column value="{!item.Name}" headerValue="Name" width="25%"/>
        <apex:column value="{!item.ComponentType__c}" headerValue="Component Type" width="10%"/>
        <apex:column value="{!item.ReleaseType__c}" headerValue="Release Type" width="8%"/>
        <apex:column value="{!item.Description__c}" headerValue="Description" width="49%"/>
      </apex:pageBlockTable>
      </apex:pageBlockSection>  
  </apex:pageBlock>
  </apex:form>
  <apex:relatedList subject="{!ReleaseNote__c}" list="CombinedAttachments" />
  <apex:relatedList list="ProcessSteps" ></apex:relatedList>
</apex:page>