<apex:page standardController="Quote" extensions="ROIQuoteButtonExtension" action="{!passQuoteId}">
	<apex:form id="form">

        <apex:pageMessages id="errorMessage" />

        <br></br>
        <apex:outputLink value="/{!quoteObj.Id}">Return To Quote</apex:outputLink>

    </apex:form>
	
</apex:page>