<apex:page standardController="Opportunity" extensions="RollOutPlanExtension_Ltng">
<apex:slds />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//malsup.github.io/jquery.blockUI.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

    <script>

        var $j = jQuery.noConflict();
        var needBlock=false;


        function mustDoBlock(){
            needBlock=true;
            console.log("lclc in mustDoBlock "+needBlock);
            passBlockToController();
        }

        function doBlock(){
           // var needBlock=document.getElementById("myHiddenField").value;
            console.log("lclc test "+needBlock);
            if(needBlock==true){
                console.log("lclc in true");
                var b=confirm("Are you sure you want to modify these details? Doing so will erase all changes to Rollout plan quantities.")
                console.log("lclc b var "+b);
                if(b==true){
                    console.log("lclc about to block");
                    doSaveFunct();
                    //$j('#OppDetails').block({ message: 'Please wait...' }); 
                    //$j('#outputProductTable').block({ message: 'Please wait...' }); 
                    //not working still.
                }else{
                    console.log("lclc else");
                    needBlock=false;
                    retractBlock();
                }
            }else{
                doSaveFunct();
            }
        }

        function doBlockActuals(){
           // var needBlock=document.getElementById("myHiddenField").value;
            console.log("lclc test "+needBlock);
            if(needBlock==true){
                console.log("lclc in true");
                var b=confirm("Are you sure you want to modify these details? Doing so will erase all changes to Rollout actual quantities.")
                console.log("lclc b var "+b);
                if(b==true){
                    console.log("lclc about to block");
                    doSaveFunctActuals();
                    //$j('#OppDetails').block({ message: 'Please wait...' }); 
                    //$j('#outputProductTable').block({ message: 'Please wait...' }); 
                    //not working still.
                }else{
                    console.log("lclc else");
                    needBlock=false;
                    retractBlock();
                }
            }else{
                doSaveFunctActuals();
            }
        }

        /*function changeOfPlanQty(){
            changePlanQty();
        }

        function changeOfActualQty(){
            changeActualQty();
        }*/

    </script>

     <style type="text/css">
        .colHeadr{
            text-align:center;
        }
        .rightAlign{
            text-align:right;
        }
    </style>
    <c:loadingComponent />
    <apex:outputPanel rendered="{!noRollout}">
        <!--<apex:pagemessage summary="Rollout does not exist for this Opportunity. Update the Opportunity with Rollout Start and Duration for Rollout plan creation." severity="Info" strength="2"/>-->
        <div class="slds-box" style="background-color:#DCE5F6">
            <p><b>Rollout does not exist for this Opportunity. On opportunity - Rollout Start date, Duration and Products are required for Rollout plan creation.</b></p>
        </div>
    </apex:outputPanel>
    
    <apex:outputPanel rendered="{!!noRollout}">
        <apex:form id="form">

        <apex:pageMessages id="errorMessage" />
        
        <apex:pageBlock id="OppDetails" tabStyle="Account">   

            <apex:pageBlockButtons >
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doEditMode}" status="loadStatus" value="Edit Plan" rendered="{!(editMode==false)}"/>
           <!--      <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doActualsEditMode}" status="loadStatus" value="Edit Actuals" rendered="{!(actualsEditMode==false && isOppRollout==true)}"/> -->

                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!reModifySave}" status="loadStatus" value="Save" rendered="{!editMode==true}" rerender="outputProductTable,pageMessages,OppDetails" 
                onClick="doBlock();"/>

                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doPlanQtySum}" status="loadStatus" value="Update Totals" rendered="{!editMode==true && isGreaterThan36==false && actualsEditMode==false}" rerender="outputProductTable,pageMessages,OppDetails" />
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doActualQtySum}" status="loadStatus" value="Update Totals" rendered="{!(actualsEditMode==true && isOppRollout==true && editMode==false)}"/>

               <!-- onclick="doBlock();" />oncomplete="refreshNeeded();" oncomplete="unblockSection('#form')"-->
                
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doActualsSave}" status="loadStatus" value="Save Actuals" rendered="{!actualsEditMode==true}" rerender="outputProductTable,pageMessages,OppDetails" 
                onClick="doBlockActuals();"/>

                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doAllocate}" status="loadStatus" value="Allocate" rendered="{!editMode==true && isGreaterThan36==false}" rerender="outputProductTable,pageMessages"/>
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doClear}" status="loadStatus" value="Clear" rendered="{!editMode==true}" rerender="outputProductTable"/>
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doDisplayActuals}" status="loadStatus" value="Display Quantity" rendered="{!(editMode==false && actualsEditMode==false && displayActuals==false)}"/>
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doDisplayRevenue}" status="loadStatus" value="Display Revenue" rendered="{!(editMode==false && actualsEditMode==false && displayRevenue==false)}"/>
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doDisplayDefault}" status="loadStatus" value="Default View" rendered="{!(editMode==true)||(editMode==false && displayDefault==false)||(actualsEditMode==true)}"/>
           <!--     <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doChangeQty}" status="loadStatus" value="Update Opportunity" rendered="{!(isOppClosed==false)}"/>  -->
                <apex:commandButton styleClass="slds-button slds-button_neutral" action="{!doCancel}" status="loadStatus" value="Cancel" rendered="{!editMode==true || actualsEditMode==true}"/>

                <apex:actionFunction name="passBlockToController" status="loadStatus"  action="{!modifySave}" rerender="myHiddenField"/>

                <apex:actionFunction name="retractBlock" status="loadStatus" action="{!reModifySave}" rerender="myHiddenField"/>

                <apex:actionFunction name="doSaveFunct" status="loadStatus" action="{!doSave}"/>

                <apex:actionFunction name="doSaveFunctActuals" status="loadStatus" action="{!doActualsSave}"/>

                <apex:actionFunction name="changePlanQty" status="loadStatus" action="{!doPlanQtySum}"/>

                <apex:actionFunction name="changeActualQty" status="loadStatus" action="{!doActualQtySum}"/>

            </apex:pageBlockButtons>     
            
           
            
            <apex:pageBlockSection showHeader="false" collapsible="false" columns="2">                                

                

                <apex:outputText label="Customer" value="{!relatedOpp.Account.Name}" styleClass="label"/>
                <apex:inputText label="Duration (Months)" value="{!rollOutObj.Rollout_Duration__c}" styleClass="label" rendered="{!editMode==true || actualsEditMode==true}" id="duration" onkeyup="mustDoBlock();" onClick="this.select();"/>
                
                <apex:outputText label="Rollout Start" value="{0,date,MM/dd/yy}" styleClass="label" rendered="{!editMode==false}">
                    <apex:param value="{!rollOutObj.Roll_Out_Start__c}"/>
                </apex:outputText>
                
                <apex:outputField label="Opportunity Name" value="{!rollOutObj.Opportunity__c}" styleClass="label"/>
               
                <apex:outputText label="Duration (Months)" value="{!rollOutObj.Rollout_Duration__c}" styleClass="label" rendered="{!editMode==false && actualsEditMode==false}"/>

                            
                <apex:inputField label="Rollout Start" value="{!rollOutObj.Roll_Out_Start__c}" styleClass="label" rendered="{!editMode==true || (actualsEditMode==true && actualsExist=false)}" id="start" onchange="mustDoBlock();"/>

                <apex:outputText label="Opportunity Number" value="{!relatedOpp.Opportunity_Number__c}" styleClass="label"/>
                
                <apex:outputText label="Rollout End" value="{0,date,MM/dd/yy}" styleClass="label">
                    <apex:param value="{!rollOutObj.Roll_Out_End_Formula__c}"/>
                </apex:outputText>

                <apex:outputText label="Stage" value="{!relatedOpp.StageName}" styleClass="label"/>

                <apex:outputText label="" value="" styleClass="label"/>

                <apex:outputText label="Opportunity Amount" value="${0, number, ###,###,##0.00}" styleClass="label">
                    <apex:param value="{!relatedOpp.Amount}"/>
                </apex:outputText>

                <apex:outputText label="Rollout Status" value="{!rollOutObj.Roll_Out_Status__c}" styleClass="label"/>

                <apex:outputText label="Forecast Amount" value="${0, number, ###,###,##0.00}" styleClass="label">
                    <apex:param value="{!projectedRevenue}"/>
                </apex:outputText>

                <apex:outputText label="Last Invoice Date" value="{0,date,MM/dd/yy}" styleClass="label">
                    <apex:param value="{!rollOutObj.Last_Invoice_Date__c}"/>
                </apex:outputText>

                <!-- <apex:outputPanel id="myHiddenField">
                    <apex:outputText label="refreshAll" value="{!refreshAll}"> {!refreshAll}
                  </apex:outputText>
                  <script type="text/javascript">
                      (funtion(){
                        console.log("<<< " + {!refreshAll});
                      })();

                  </script>
              </apex:outputPanel> -->
            </apex:pageBlockSection>
            
            
            
        </apex:pageBlock>

        <!--Table of Products-->
         <apex:pageMessage summary="Please save any changes before moving to the next/previous page!!" severity="Info" strength="3" rendered="{!editMode && (hasPrevious || hasNext || hasPreviousMonths || hasNextMonths)}"/>
         
         
         <apex:pageBlock tabStyle="Account">
            <apex:pageBlockSection showHeader="false" collapsible="false" columns="2">
                <apex:outputText value=""/>
                <apex:outputText value="Notes:" style="font-weight:bold;" rendered="{!(displayActuals==true || displayDefault==true || displayRevenue==true)}"/>
                <apex:outputText value=""/>
                <apex:outputText value="Black text signifies plan quantities."  rendered="{!((displayActuals==true)||(displayDefault==true))}" />
                <apex:outputText value="" rendered="{!displayActuals==true}"/>
                <apex:outputText value="Blue text signifies actual quantities." rendered="{!displayActuals==true}" style="color:blue;"/>
                <apex:outputText value="Black text signifies plan revenues."  rendered="{!displayRevenue==true}" />
                <apex:outputText value="" rendered="{!displayRevenue==true}"/>
                <apex:outputText value="Blue text signifies actual revenues." rendered="{!displayRevenue==true}" style="color:blue;"/>
                <!--<apex:outputText value=""/>-->
                

            </apex:pageBlockSection>

            <apex:outputPanel id="outputProductTable" style="height:400px;overflow:auto;">

                <apex:pageBlockTable value="{!productScheduleWrapperLst}" var="prod" styleClass="slds-table slds-table_bordered slds-table_col-bordered">

                    <apex:column headerValue="Product" value="{!prod.rop.Product__r.Name}" headerClass="colHeadr"/>

                    <apex:column headerValue="SAP Material Code" value="{!prod.rop.Product__r.SAP_Material_ID__c}" headerClass="colHeadr"/>

                    <apex:column headerValue="Quoted" styleClass="rightAlign" headerClass="colHeadr">
                        <apex:outputText value="{!prod.oliQty}" rendered="{!(displayRevenue==false)}"/>
                        <apex:outputText value="${0, number, ###,###,##0.00}" rendered="{!((displayAll==true)||(displayRevenue==true))}">
                            <apex:param value="{!prod.oliAmt}" />
                        </apex:outputText>
                    </apex:column>

                    <apex:column headerValue="No Allocation" style="width:100px;" headerClass="colHeadr" styleClass="colHeadr">
                        <apex:inputCheckbox value="{!prod.doNotAllocate}" rendered="{!((editMode==true))}"/>
                        <apex:inputCheckbox value="{!prod.doNotAllocate}" rendered="{!((editMode==false)&&((displayDefault==true)||(displayActuals==true)||(displayAll==true)))}" disabled="true"/>
                    </apex:column>

                    
                    <apex:repeat var="mon" value="{!monthNamesSet}">
                        <apex:column styleClass="rightAlign" headerClass="colHeadr">
                            <apex:facet name="header" >
                                <apex:outputpanel >
                                    <apex:outputText value="{!monthNamesMap[mon]}"/> <br/>
                                    <apex:outputText value="{!monthWeeksMap[mon]}" />
                                </apex:outputpanel>
                            </apex:facet>

                            <apex:inputText id="inputPlanQty" value="{!prod.combineROSWeeksPlanQty[mon]}" rendered="{!((editMode==true)&&(prod.canEdit[mon]==true))}" style="width:30px;" onClick="this.select();"/> <!--&&((displayDefault==true)||(displayRevenue==true)||(displayActuals==true)||(displayAll==true))-->

                            <apex:inputText id="inputActualQty" value="{!prod.combineROSWeeksActualQty[mon]}" rendered="{!((actualsEditMode==true)&&(prod.canEditActuals[mon]==true))}" style="width:30px;" onClick="this.select();"/> 


                            <apex:outputText value="{!prod.combineROSWeeksPlanQty[mon]}" rendered="{!((editMode==false)||((editMode==true)&&(prod.canEdit[mon]==false)))&&((displayDefault==true)||(displayActuals==true)||(displayAll==true))||(editMode==true&&prod.canEdit[mon]==false)}"/> 

                            <apex:outputText value="${0, number, ###,###,##0.00}" rendered="{!((displayRevenue==true)||(displayAll==true))}" > 
                                <apex:param value="{!prod.combineROSWeeksPlanRev[mon]}"/>
                            </apex:outputText><br></br>

                            <apex:outputText value="{!prod.combineROSWeeksActualQty[mon]}" rendered="{!((displayActuals==true)||(displayAll==true))}" style="color:blue"/>

                            <apex:outputText value="${0, number, ###,###,##0.00}" rendered="{!((displayRevenue==true)||(displayAll==true))}" style="color:blue">
                                <apex:param value="{!prod.combineROSWeeksActualRev[mon]}" />
                            </apex:outputText>
                        </apex:column>
                    </apex:repeat>

                    <apex:column headerValue="Total" styleClass="rightAlign" headerClass="colHeadr">
                        <apex:outputText value="{!prod.sumPlanQty}" rendered="{!((displayDefault==true)||(displayActuals==true)||(displayAll==true)||displayEdit==true||(editMode==true&&actualsEditMode==false) )}"/> 

                        <apex:outputText value="${0, number, ###,###,##0.00}" rendered="{!((displayRevenue==true)||(displayAll==true))}" >
                            <apex:param value="{!prod.sumPlanRev}"/>
                        </apex:outputText>
                        <br></br>
                        
                        <apex:outputText value="{!prod.sumActualQty}" rendered="{!((displayActuals==true)||(displayAll==true)||(editMode==false&&actualsEditMode==true))}" style="color:blue"/>
                        
                        <apex:outputText value="${0, number, ###,###,##0.00}" rendered="{!((displayRevenue==true)||(displayAll==true))}" style="color:blue">
                            <apex:param value="{!prod.sumActualRev}"/>
                        </apex:outputText>
                    </apex:column>

                    <apex:column headerValue="Variance to Quote" styleClass="rightAlign" headerClass="colHeadr">
                        <apex:outputText value="{!prod.variancePlanQty}" rendered="{!((displayDefault==true)||(displayActuals==true)||(displayAll==true)||displayEdit==true)}"/> 
                        <apex:outputText value="{!prod.variancePlanRev}" rendered="{!((displayRevenue==true)||(displayAll==true))}" /><br></br>
                        <apex:outputText value="{!prod.varianceActualQty}" rendered="{!((displayActuals==true)||(displayAll==true))}" style="color:blue"/>
                        <apex:outputText value="{!prod.varianceActualRev}" rendered="{!((displayRevenue==true)||(displayAll==true))}" style="color:blue"/>
                    </apex:column>

                    <apex:column headerValue="% of Quote" styleClass="rightAlign" headerClass="colHeadr">
                        <apex:outputText value="{0,number,##0}%" rendered="{!((displayDefault==true)||(displayActuals==true)||(displayAll==true)||displayEdit==true)}">
                            <apex:param value="{!prod.percentPlanQty*100}" />
                        </apex:outputText> 

                        <apex:outputText value="{0,number,##0}%" rendered="{!((displayRevenue==true)||(displayAll==true))}" >
                            <apex:param value="{!prod.percentPlanRev*100}"/>
                        </apex:outputText><br></br>
                        
                        <apex:outputText value="{0,number,##0}%" rendered="{!((displayActuals==true)||(displayAll==true))}" style="color:blue">
                            <apex:param value="{!prod.percentActualQty*100}" />
                        </apex:outputText>
                        
                        <apex:outputText value="{0,number,##0}%" rendered="{!((displayRevenue==true)||(displayAll==true))}" style="color:blue">
                            <apex:param value="{!prod.percentActualRev*100}"/>
                        </apex:outputText>

                    </apex:column>

                </apex:pageBlockTable>

                <apex:commandButton value="<<Previous Months" action="{!previousMonthsFromPage}" rendered="{!hasPreviousMonths}" status="loadStatus" reRender="outputProductTable" />
                <apex:commandButton value="<<Previous Products" action="{!previousFromPage}" rendered="{!hasPrevious}" status="loadStatus" reRender="outputProductTable" />
                <apex:commandButton value="Next Products >>" action="{!nextFromPage}" rendered="{!hasNext}" status="loadStatus" reRender="outputProductTable" />
                <apex:commandButton value="Next Months >>" action="{!nextMonthsFromPage}" rendered="{!hasNextMonths}" status="loadStatus" reRender="outputProductTable" />
            

            </apex:outputPanel>
            
            

        </apex:pageBlock>


    </apex:form>  

    </apex:outputPanel>

</apex:page>