<apex:page StandardController="Sellout__c" extensions="SelloutActualApprovalPathController" lightningStylesheets="true" sidebar="false" showHeader="false" id="pg">
  <apex:includeScript value="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" />
  <apex:stylesheet value="/sCSS/21.0/sprites/1297816277000/Theme3/default/gc/versioning.css" />   
    <apex:pageMessages id="msg"/>
   <style type="text/css">
 
        .popup
        {
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 500px;
            margin-left: -250px;
            top:80px;
        }

        .popupBg
        {
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 70);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }

    </style>
   <script type="text/javascript">
     function hidePoup(){
            jQuery("[id='pg:frm:pop1']").hide();
            jQuery("[id='pg:frm:pop2']").hide();
        }
        
        function showPoup(){
            jQuery("[id='pg:frm:pop1']").show();
            jQuery("[id='pg:frm:pop2']").show();
           
        }
        
        var processReturnedValue = function(valueReturned){
      
            if(valueReturned){
              reloadpage();
            }else{
            
              hidePoup();
            }
        };
        
        function reloadpage(){
       
           var id='{!so.id}';
           window.top.location.href = '/' + id;
      
        }
   </script>
 
  <apex:form >
 
    <apex:pageBlock >
   
    <apex:pageblockButtons location="top">
    <apex:outputPanel rendered="{!so.KNOX_Approval_ID__c !=null}">
      <apex:outputPanel rendered="{!showcancel}">
     <input type="button" value="Recall" onclick="showPoup()" class="btn"   />
     </apex:outputPanel>
     <input type="button" value="Update Approval Status" onclick="callstatuupdate()" class="btn"/>
     </apex:outputPanel>
    </apex:pageblockButtons>
   
      <apex:pageBlockTable value="{!slapprv}" var="item" id="result" style="width:100%" >
       <apex:column headerValue="Step No" style="text-align: center; width: 5%">
          <apex:outputText value="{!item.Step_No__c}" style="text-align: center; width: 5%"/>
       </apex:column>
        <apex:column headerValue="Type" value="{!item.Type__c}" style="text-align: center; width: 10%"/>
       <apex:column headerValue="Date" value="{!item.Date__c}" style="width: 20%"/>
       <apex:column headerValue="Status" value="{!item.Status__c}" style="width: 15%"/>
       <apex:column headerValue="User" value="{!item.Approver__c}" style="width: 15%"/>
       <apex:column headerValue="Comments" value="{!item.Comments__c}" style="width: 30%"/>
      </apex:pageBlockTable>
    </apex:pageBlock>
  </apex:form>
  <apex:form id="frm">
      <Apex:outputPanel id="pop1" style="display:none" >
         <apex:outputPanel styleClass="popupBg" layout="block" id="pop2" style="display:none" />
          <apex:outputPanel styleClass="popup" layout="block" id="innerpop">
         
               <apex:actionFunction action="{!recallapprovalprocess}" name="saverecord" Rerender="msg" status="Status1" oncomplete="callout();return false;" />  
               <apex:actionFunction action="{!CallIntegrationMethod}" name="callout" Rerender="msg" status="Status1" oncomplete="callstatuupdate();return false;" />    
                <apex:actionFunction action="{!CallStatusUpdateMethod}" name="callstatuupdate" Rerender="msg" status="Status1" oncomplete="processReturnedValue({!refreshpg});" />    
               
                <apex:actionStatus id="Status1" startText="...Processing..." />    
             <apex:pageBlock >
              <apex:pageBlockButtons location="bottom">
              <input type="button" value="Continue" onclick="saverecord();return false;"  class="btn"/>
               <input type="button" value="Cancel" onclick="hidePoup()"  class="btn"/>
                
              </apex:pageBlockButtons>
              <apex:pageblocksection >
                <apex:inputfield value="{!so.Comments__c}"/>
              </apex:pageblocksection>
             </apex:pageBlock>
          </apex:outputPanel>
          </apex:outputPanel>
  </apex:form>
</apex:page>