<apex:page Controller="SendEmailCustomCntrlExt">
<html>
<head>
<style type="text/css">
.customPopup {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    left: 30%;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    width: 500px;
    height: 200px;
    top: 20%;
    overflow:auto;
}
.TemplatecustomPopup {
    background-color: white;
    border-style: solid;
    border-width: 2px;
    left: 30%;
    padding: 10px;
    position: absolute;
    z-index: 9999;
    width: 700px;
    height: 400px;
    top: 20%;
    overflow:auto;
}
.disabledTextBox {
    background-color: white;
    border: 1px solid;
    color: black;
    cursor: default;
    width: 90px;
    display: table;
    padding: 2px 1px;
    text-align:right;
}
.closeButton {
    float: right;
    width: 20px;
}
.homeTab .pageTitleIcon, .individualPalette .homeBlock .pageTitleIcon
{
    background-position: initial;
    background-image: url('/img/icon/mail32.png');
}
body .homeTab .bSubBlock, .homeTab .bPageBlock
{
    border-top: 3px solid #000000;
}
.lookupIcon {
    background-image: url(/img/func_icons/util/lookup20.gif);
    background-position: 0 0;
    width: 20px;
    height: 20px;
    background-position: top left;
}
.tdLabel {
    width: 18.7%;
    height: 15.75pt;
    font-weight: bold;
    font-size: 8.5pt;
    text-align: right;
    border-collapse: collapse;
    padding: 2pt 15pt;
}
.tdInput {
    width: 10%;
    height: 15.75pt;
}
.tdLookupIcon {
    width: 6.3%; 
    height: 15.75pt; 
    text-align: left;
}


.popup_div_content_div .select_folder select { margin:5px 5px 0 5px; padding:2px; min-width:200px; }
.popup_div_content_div .n_t_d_box { width:auto; height:auto; border:#ccc 1px solid; border-top:3px #666666 solid; padding:0px; margin:15px 0 0 0; }
.popup_div_content_div .n_t_d_box .tr { width:atuo; height:34px; border-bottom:#e5e5e5 1px solid; }
.popup_div_content_div .n_t_d_box .tr .bg { background:#eee; }
.popup_div_content_div .n_t_d_box .tr .td1 { width:200px; float:left; }
.popup_div_content_div .n_t_d_box .tr .td2 { width:40px; float:left; padding:0 4px; }
.popup_div_content_div .n_t_d_box .tr .td2.border_left_right { border-left:#ddd 1px solid; border-right:#ddd 1px solid; margin:0 0 0 -2px; display:inline; height: 34px; }
.popup_div_content_div .n_t_d_box .tr .td3 { width:auto; float:left; padding:0 0 0 3px; }

</style>
</head>
<apex:form id="frm">
    <apex:sectionHeader title="Email Message" subtitle="Send an Email"/>
    <apex:pageBlock id="counter">
    <apex:pageBlockButtons >
        <apex:commandButton value="Send" action="{!SendEmail}"/>
        <apex:commandButton value="Select Template" action="{!TemplatePopup}" reRender="TemplateSelect" rendered="{!hasTemplateId==False}"/>
        <!--<apex:commandButton value="Attach File" action="{!ShowattPanel}" reRender="AttachFile"/>-->
        <apex:commandButton value="Cancel" action="{!Cancel}"/>
    </apex:pageBlockButtons>
    <table class="tableClass" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
        <tr style="width: 100%; height: 15.75pt;">
            <td class="tdLabel" >To</td>
            <td class="tdInput"><apex:inputtext value="{!searchString}" label="Contact"/></td>
            <td class="tdLookupIcon"><img src="/img/s.gif" onclick="DisplayPanel();" alt="To Lookup (New Window)" class="lookupIcon" onblur="this.className = 'lookupIcon';" onfocus="this.className = 'lookupIconOn';" onmouseout="this.className = 'lookupIcon';this.className = 'lookupIcon';" onmouseover="this.className = 'lookupIconOn';this.className = 'lookupIconOn';" title="To Lookup (New Window)"/></td>
            <td style="font-weight: bold;width: 9%;"><U>Selected Contacts:</U></td>
            <td style="font-weight: bold;width: 10%;"><apex:outputText value="{!lookUp}"></apex:outputText></td>
            <td Name="nm" style="text-align: left;"><apex:commandButton value="Remove" action="{!ContactRemovePanel}" rendered="{!lookUp!=null}" reRender="RemovePanel"/></td>
        </tr>
    </table>
        <apex:pageBlockSection columns="1">
            <!--<apex:outputtext value="{!lookUp}" label="Selected Contacts" style="width:200px"/>
            <table class="tableClass" border="0" cellspacing="1" cellpadding="1" style="width: 100%;">
                <tr style="width: 100%; height: 15.75pt;">
                    <td class="tdLabel" >Related To</td>
                    <td >{!RelatedToName}</td>
                    <td >{!RecordId}</td>
                </tr>
            </table>
            <apex:pageblocksectionItem >
                <apex:outputLabel value="Related To"/>
                <apex:Outputtext value="{!RelatedToName}"/>
            </apex:pageblocksectionItem>-->
            <apex:pageblocksectionItem >
                <apex:outputLabel value="From" for="mId"/>
                <apex:outputPanel styleClass="requiredInput" layout="block">
                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                    <apex:selectList value="{!selectedFromEmail}" size="1" required="true" id="mId">
                        <apex:selectOptions value="{!FromEmails}"/>
                    </apex:selectList>
                </apex:outputPanel>
            </apex:pageblocksectionItem>
            <apex:pageblocksectionItem >
                <U><font color="#000000">Additional To: </font></U>
                <apex:inputtextarea value="{!AdditionalTo}" style="width:360px"/>
            </apex:pageblocksectionItem>
            <apex:pageblocksectionItem >
                <U><font color="#000000">CC: </font></U>
                <apex:inputtextarea value="{!cc}" style="width:360px"/>
            </apex:pageblocksectionItem>
            <apex:pageblocksectionItem >
                <U><font color="#000000">BCC: </font></U>
                <apex:inputtextarea value="{!bcc}" style="width:360px"/>
            </apex:pageblocksectionItem>
            <apex:inputtext value="{!subject}" label="Subject" style="width:460px" rendered="{!hasTemplateId==False}"/>
            <apex:outputtext value="{!subject}" label="Subject" style="width:460px" rendered="{!hasTemplateId==True}"/>
            <!--<apex:inputTextArea value="{!htmlbody}" style="height:auto; width:460px" label="Body" richText="True" rendered="{!hasTemplateId==True}"/>-->
            <apex:outputText value="{!htmlbody}" style="height:auto; width:460px" label="Body" escape="False" rendered="{!hasTemplateId==True}"/>
            <apex:inputTextArea style="height:auto; width:460px" value="{!body}" label="Body" richText="True" rendered="{!hasTemplateId==False}"/>
        </apex:pageBlockSection>
        <apex:outputPanel id="out">
            <apex:outputPanel styleClass="customPopup" rendered="{!bool}">
            <!--<apex:outputText value="Search returned more than 100 contacts. Please narrow the search result by providing more text in search." rendered="{!SearchContacts.size>100}"/>-->
            <br/>
            <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="out"/>
            <apex:commandButton value="ADD" action="{!inIt}"/>
                <apex:pageBlockTable value="{!SearchContacts}" var="e" title="show">
                    <apex:column >
                        <apex:inputCheckbox value="{!e.check}"/>
                    </apex:column>
                    <apex:column >
                        <apex:commandLink value="{!e.con.Name}"/>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:outputPanel>
            <apex:outputPanel styleClass="customPopup" rendered="{!NoSearchString}">
            <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="out"/>
                <apex:outputText value="Please enter keywords for search"/>
            </apex:outputPanel>
            <apex:outputPanel styleClass="customPopup" rendered="{!NoRecordsFound}">
            <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="out"/>
                <apex:outputText value="No records found."/>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <apex:outputPanel id="RemovePanel">
            <apex:outputPanel styleClass="customPopup" rendered="{!ShowRemovePanel}">
            <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="RemovePanel"/>
            <apex:commandButton value="Remove" action="{!RemoveContacts}"/>
                <apex:pageBlockTable value="{!SelectedContacts}" var="e" title="show">
                    <apex:column >
                        <apex:inputCheckbox value="{!e.check}"/>
                    </apex:column>
                    <apex:column >
                        <apex:commandLink value="{!e.con.Name}"/>
                    </apex:column>
                </apex:pageBlockTable>
            </apex:outputPanel>
        </apex:outputPanel>
        
        <apex:outputPanel id="AttachFile">
            <apex:outputPanel styleClass="customPopup" rendered="{!ShowAttachmentPanel}">
            <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="AttachFile"/>
            <apex:inputFile value="{!document.body}" filename="{!document.name}" id="file"/>
            </apex:outputPanel>
        </apex:outputPanel>
        
    </apex:pageBlock>
    <apex:actionFunction name="rerenderPanel" action="{!add}" rerender="out" />

    <!--Template Selector Code-->
    <apex:outputPanel id="TemplateSelect">
        <div class="popup_div_content_div height_400px" style="height:auto !important;">
            <apex:outputPanel id="eFD2OP" styleClass="TemplatecustomPopup" rendered="{!ShowTemplatePopup}">
              <apex:pageBlock >
                <apex:commandButton value="X" title="Close the popup" action="{!closePopup}" styleClass="closeButton" rerender="TemplateSelect"/>
                <div class="select_folder" style="margin-left: 20px;">
                    <strong>&nbsp;Select Folder&nbsp;</strong> 
                    <apex:selectList value="{!folderId}" size="1" style="width:150px;" onchange="javascript: createTempList();"  > <!-- Email folders ak1 -->
                        <apex:selectOptions value="{!items}"/>
                    </apex:selectList>
                </div>
                <div class="n_t_d_box" style="display:{!IF(emailingTemplates.size==0,'none','block')}">
                    <apex:pageBlockTable value="{!emailingTemplates}" var="e">
                        <apex:column headerValue="Name">
                            <apex:commandLink id="commandLink" action="{!TemplatePopupClose}" value="{!e.Name}">
                                <apex:param name="templateId" value="{!e.templateId}" assignTo="{!TemplateId}"/>
                            </apex:commandLink>
                        </apex:column>
                        <apex:column headerValue="Type" value="{!e.TemplateType}"></apex:column>
                        <apex:column headerValue="Description" value="{!e.Description}"></apex:column>
                    </apex:pageBlockTable>
                </div>
                <apex:outputPanel id="blnkPanel" rendered="{!IF(emailingTemplates.size==0,true,false)}">        
                    <div class="n_t_d_box">
                        <div class="tr">No records found.</div>
                        <div class="tr bg">
                            <div class="td1 td_bg"><strong>No Templates Available</strong></div>
                            <div class="cl"></div>
                        </div>
                    </div>  
                </apex:outputPanel>
              </apex:pageBlock>
            </apex:outputPanel>
        </div>
    </apex:outputPanel>
        <!--<apex:actionFunction name="SelectTemplate" action="{!TemplatePopupClose}" rerender="TemplateSelect"><apex:param id="aTempId" name="TempId" value="" /></apex:actionFunction>-->
        <apex:actionFunction name="createTempList" action="{!createTempList}" rerender="eFD2OP" oncomplete="selectcheckboxonpre_temp();" status="myRecSav"/>
</apex:form>
</html>
<script type="text/javascript">
jQuery.noConflict();
function DisplayPanel() {
    rerenderPanel();
}
</script>
</apex:page>