<apex:page standardController="Site_Survey_Opportunity__c" extensions="SiteSurveyOpportunityExt">
    <apex:pageMessages id="errorMessage" />
    <apex:form >
    <apex:pageblock >
        <apex:pageblockButtons >
            <apex:commandButton value="Save" action="{!OnSave}"/>
            <apex:commandButton value="Cancel" action="{!Cancel}"/>
        </apex:pageblockButtons>
        <apex:pageBlockSection title="Information" columns="1">
            <apex:inputField value="{!ssopp.Opportunity__c}"/>
        </apex:pageBlockSection>
    </apex:pageblock>
    </apex:form>  
</apex:page>