<apex:page standardController="Device__c" showHeader="true" sidebar="false" extensions="SVC_ApproveDisapproveDevices">
<apex:includeScript value="/soap/ajax/35.0/connection.js" />
<apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
<apex:includeScript value="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" />
<apex:stylesheet value="{!URLFOR($Resource.jQueryDataTablesZip, 'css/jquery.dataTables.css')}"/>
<style type="text/css">
.sorting {
    background: #f2f3f3 url('{! URLFOR($Resource.jQueryDataTablesZip, 'images/sort_both.png') }') no-repeat center right !important;
    padding-right: 20px !important;
}
.sorting_asc {
    background: #f2f3f3 url('{! URLFOR($Resource.jQueryDataTablesZip, 'images/sort_asc.png') }') no-repeat center right !important;
    padding-right: 20px !important;
}
.sorting_desc {
    background: #f2f3f3 url('{! URLFOR($Resource.jQueryDataTablesZip, 'images/sort_desc.png') }') no-repeat center right !important;
    padding-right: 20px !important;
}
.sorting_asc_disabled {
    background: #f2f3f3 url('{! URLFOR($Resource.jQueryDataTablesZip, 'images/sort_asc_disabled.png') }') no-repeat center right !important;
    padding-right: 20px !important;
}
.sorting_desc_disabled {
    background: #f2f3f3 url('{! URLFOR($Resource.jQueryDataTablesZip, 'images/sort_desc_disabled.png') }') no-repeat center right !important;
    padding-right: 20px !important;
}
table.dataTable tr.odd { background-color: white; }
table.dataTable tr.even { background-color: white; }
table.dataTable tr.odd td.sorting_1 { background-color: white; }
table.dataTable tr.odd td.sorting_2 { background-color: white; }
table.dataTable tr.odd td.sorting_3 { background-color: white; }
table.dataTable tr.even td.sorting_1 { background-color: white; }
table.dataTable tr.even td.sorting_2 { background-color: white; }
table.dataTable tr.even td.sorting_3 { background-color: white; }
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    padding: 3px;
}

#parameter{width:20%;display:inline-block;}
        #list{width:79%;display:inline-block;}

        .page-title{
        width: 555px;
        min-height: 50px;
        padding: 0 15px;
        overflow: hidden;
        }
        .page-title .pageDescription{
          margin-top: 15px;
          font-size: 1.8em;
          font-weight: 500;
        }
        .parameter  label{
          display:block;
          font-size:1em;
        }

        .parameter  select{
        min-width: 220px;
      } 

      .hidden-checkbox{
        display:none;
      }
</style>

<apex:form >
<div>
<div class="page-title">
  <img src="/img/s.gif" class="pageTitleIcon" title="Approve/Disapprove Devices" alt="Approve/Disapprove Devices" />
  <apex:outputText rendered="{!singleAccount}"><h1>Account:</h1><span> <apex:outputLink value="/{!AccountId}">{!AccountName}</apex:outputLink></span></apex:outputText>
  <div><h2 class="pageDescription">Approve/Disapprove Devices</h2></div>
  
</div>
</div>

  <apex:pageMessages id="msg" />
  <apex:pageBlock id="pb">
      <apex:pageBlockButtons location="Top" >

            <apex:commandButton action="{!cancel}" value="Back" Title="Go back"/>

            <!--<apex:commandButton onClick="markCaseCancelled();return false;" value="Cancel Case" title="Mark selected case as cancelled" />-->
            <apex:commandButton id="approveAllBtn" action="{!updateAll}" value="Approve All {!totalRecords} Devices" title="Approve all devices in the list" rerender="results,debug,msg,approveAllBtn,disapproveAllBtn,noofSelected" >
            <apex:param value="approval" assignTo="{!approvalOrDisapproval}"/>
            </apex:commandButton>

           <apex:commandButton id="disapproveAllBtn" action="{!updateAll}" value="Disapprove All {!totalRecords} Devices" title="Disapprove all devices in the list" rerender="results,debug,msg,approveAllBtn,disapproveAllBtn,noofSelected" >
            <apex:param value="disapproval" assignTo="{!approvalOrDisapproval}"/>
            </apex:commandButton>

        </apex:pageBlockButtons>
        <table width="100%" border="0">
  <tr>  
    <td width="12%"  valign="top">
    <apex:pageBlock mode="edit" id="parameter" >
    <!--<apex:facet name="header">
      <span style="Margin-top:15px;margin-left: 20px;margin-bottom: 15px;text-align: center;font-size: 1.2em;font-weight: 500">View Case by</span>
      </apex:facet>-->

      <div style="text-align: center; margin-top:10px;">
            <apex:commandButton onClick="clearParameters();return false;" value="Clear" />
      </div>

    

      <apex:actionFunction name="searchServerByAcct" action="{!runSearchByAcct}" rerender="results,debug,msg,noofSelected,enent,approveAllBtn,disapproveAllBtn">
          <apex:param name="parAccountId" value="" />
          <apex:param name="parEntitlementId" value="" />
      </apex:actionFunction>

      <apex:actionFunction name="searchServerByEntitlement" action="{!runSearchByEntitlement}" rerender="results,debug,msg,noofSelected,approveAllBtn,disapproveAllBtn">
          <apex:param name="parAccountId" value="" />
          <apex:param name="parEntitlementId" value="" />
      </apex:actionFunction>

      <apex:actionFunction name="checkboxClicked" action="{!checkboxClicked}" rerender="debug,noofSelected">
          <apex:param name="clickedDeviceID" value="" />
          <apex:param name="selected" value="" />
      </apex:actionFunction>

      <table cellpadding="2" cellspacing="2" class="parameter" styleClass="dataTable">
      <tr style="display: {!IF((singleAccount), 'none', '')};">
        <td><apex:outputLabel value="Account" for="parAccount"/>
          <select id="parAccount" onchange="doSearchAccount();">
            <option value="--">--</option>
            <apex:repeat value="{!SamAccounts}" var="samacc">
            <apex:variable var="s" value="{!IF((selectedParAccountID == samacc.id),'selected','')}" />

              <option value="{!samacc.id}">{!samacc.name}</option>
            </apex:repeat>
          </select>
        </td>
      </tr>

      
       
      

      </table>

      <apex:outputPanel id="enent" >
      <table cellpadding="2" cellspacing="2" class="parameter" styleClass="dataTable">
      <tr>
        <td><apex:outputLabel value="Entitlement" for="parEntitlement"/>
          <select id="parEntitlement" onchange="doSearchByEntitlement();">
            <option value="--">--</option>
            <apex:repeat value="{!entitlementLst}" var="ent">
              <option value="{!ent.id}">{!ent.name}</option>
            </apex:repeat>
          </select>
        </td>
      </tr>
      </table>
      </apex:outputPanel>

      </apex:pageBlock>

    </td>
     <td valign="top">
     
        <apex:pageBlock mode="edit" id="results">
        <div style="">
            <apex:commandButton id="approveSelected" action="{!UpdateSelected}" value="Approve Selected" title="Approve Selected Devices" rerender="results,debug,msg,approveAllBtn,disapproveAllBtn,noofSelected" >
                <apex:param value="approval" assignTo="{!approvalOrDisapproval}"/>
            </apex:commandButton>
            <apex:commandButton id="disapproveSelected" action="{!UpdateSelected}" value="Disapprove Selected" title="Disapprove Selected Devices" rerender="results,debug,msg,approveAllBtn,disapproveAllBtn,noofSelected" >
            <apex:param value="disapproval" assignTo="{!approvalOrDisapproval}"/>
            </apex:commandButton>
        </div>
          <apex:pageBlockSection columns="1">
          
        <apex:pageBlockTable value="{!devices}" var="dev" styleClass="dataTable">

        <apex:column >
        <apex:facet name="header">Select</apex:facet>
                    <!-- This is our selected Boolean property in our wrapper class -->
          <apex:inputCheckbox disabled="{!IF((dev.device.Status__c !='Verified'),'True','false')}" html-class="input-checkbox" value="{!dev.selected}" onclick="clicked(this,'{!dev.device.Id}')">
          </apex:inputCheckbox>
          <apex:inputCheckbox value="{!dev.currentPage}" html-class="hidden-checkbox" >
          </apex:inputCheckbox>
        </apex:column>
             <apex:column >
                  <apex:facet name="header">Account</apex:facet>
                  <apex:outputLink value="/{!dev.device.Account__c}">{!dev.device.account__r.name}</apex:outputLink>
              </apex:column>

              <apex:column >
                  <apex:facet name="header">Entitlement</apex:facet>
                  <apex:outputLink value="/{!dev.device.Entitlement__c}">{!dev.device.Entitlement__r.name}</apex:outputLink>
              </apex:column>

            <apex:column >
                  <apex:facet name="header">Device ID</apex:facet>
                  <apex:outputLink value="/{!dev.device.Id}">{!dev.device.name}</apex:outputLink>
              </apex:column>

            <apex:column value="{!dev.device.IMEI__c}"/>
            <apex:column value="{!dev.device.Serial_Number__c}"/>
            <apex:column value="{!dev.device.Model_Name__c}"/>
            <apex:column value="{!dev.device.Device_Type_f__c}"/>
            <apex:column value="{!dev.device.Status__c}"/>
            <!--<apex:column value="{!dev.device.Date_Verified__c}"/>-->
            
        </apex:pageBlockTable>
    </apex:pageBlockSection>
    <script type="text/javascript" language="javascript">
var noOfselected = 0;
var j$ = jQuery.noConflict();
j$('table.dataTable').dataTable({
    sPaginationType: "full_numbers",
    "pageLength": 50,
    "lengthMenu": [ 50, 100,200,500,1000 ],
    "order": [[ 1, "asc" ]],
    "columnDefs": [ {
      "className": "no-sorting",
      "targets": [ 0],
      "orderable": false,
      "searchable": false
    } ]
});
</script>
        </apex:pageBlock>

    <apex:outputPanel ID="noofSelected" >
    {!noOfSelected} selected
    </apex:outputPanel>

     </td>
    </tr>
    </table>    


  </apex:pageBlock>



<!--<apex:pageBlock title="Debug - SOQL" id="debug" >
      <apex:outputText value="{!selectedParAccountID}" />  
      <apex:outputText value="{!debugSoql}" />    
      
  </apex:pageBlock>    -->


   
</apex:form>
<!--
<script type="text/javascript" language="javascript" src="{!URLFOR($Resource.jQueryDataTablesZip, 'js/jquery.js')}"></script>
<script type="text/javascript" language="javascript" src="{!URLFOR($Resource.jQueryDataTablesZip, 'js/jquery.dataTables.js')}"></script>-->
<script type="text/javascript" language="javascript">
 j$(document).ready(function() {
  
 });


function doSearchAccount() {
      var parAccountId = j$('[id$=parAccount').val();
      var parEntitlementId = j$('[id$=parEntitlement').val();
      searchServerByAcct(parAccountId, parEntitlementId);
}
function doSearchByEntitlement() {
      var parAccountId = j$('[id$=parAccount').val();
      var parEntitlementId = j$('[id$=parEntitlement').val();
      searchServerByEntitlement(parAccountId, parEntitlementId);
}
function clearParameters(){
  j$('[id$=parAccount').val('--');
  j$('[id$=parEntitlement').val('--');
  doSearchAccount();
}
function clicked(t,id){

  if (t.checked){
    noOfselected++; 
    checkboxClicked(id,'true');
  }
  else{  
    checkboxClicked(id,'false');
    noOfselected--;
  }
}

function selectAll(){
  j$('input.input-checkbox[type=checkbox]').each(function () {
      j$(this).prop('checked', true);
    
    });  

  j$('input.hidden-checkbox[type=checkbox]').each(function () {
      j$(this).prop('checked', true);
    
    });  
      
  toggleSelect();  
}
function clearAll(){
  j$('input.input-checkbox[type=checkbox]').each(function () {
      j$(this).prop('checked', false);
    
    });  
  j$('input.hidden-checkbox[type=checkbox]').each(function () {
      j$(this).prop('checked', true);
    
    }); 
  toggleSelect();  
}

</script>

</apex:page>