<apex:page standardController="Case"  extensions="SVC_NewPop">
    <title>New Proof of Purchase</title>
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" />
    <apex:includeScript value="{!$Resource.jqueryblockUI}"/>
    <apex:form id="MainForm">
        <div style="padding-top:20px; padding-left:5px; padding-bottom:20px;"> 
            <img src="/img/s.gif" alt="Device" class="pageTitleIcon" title="Device"/>
            <h1 style="font-size:200%; font-weight:normal">Upload Proof of Purchase</h1>
            <div><h1>Case Number:</h1><apex:outputLink value="/{!caseId}">{!casenumber}</apex:outputLink></div>
        </div>
        <apex:pageMessages id="pageMessages"/>
        <apex:pageBlock id="main" rendered="{!popCreated==false&&hasError==false}">
        <input type="text" id="hiddentext" name="hiddentext" style="height:0px;width:0px;border:none"  />
        <div style="background-color:#f8f8f8; border:1px solid #eaeaea; border-radius:4px; padding-bottom:15px">        
            <div style="padding-top:10px; padding-left:15px;">

                <div style="padding-bottom:5px">
                    <h1>1.Enter Purcahse Date</h1>
                </div>
                <div style="padding-left:1%; padding-bottom:10px">
                    <apex:inputField id="purchase_date" value="{!pop.Purchase_Date__c}">
                    </apex:inputField>
                </div>

                <div style="padding-bottom:5px">
                    <h1 >2. Select Proof of Purchase File</h1>
                </div>
                <div style="padding-left:1%;padding-bottom:5px">
                    Click the "Browse" button to find the file.
                </div>
                <div style="padding-left:1%; padding-bottom:10px">
                    <apex:actionRegion >
                        <apex:inputFile value="{!contentFile}" filename="{!fileName}" id="popFile" fileSize="{!fileSize}" />
                    </apex:actionRegion>
                </div>
                
                <apex:actionStatus id="pageStatus">
                        <apex:facet name="start">
                            <apex:outputPanel >
                                <img src="/img/loading32.gif" width="25" height="25" />
                                <apex:outputLabel value="Loading..."/>
                            </apex:outputPanel>            
                        </apex:facet>
                    </apex:actionStatus>

                <div style="padding-bottom:5px">
                    <h1 >3. Click the "Upload" button to upload file and create proof of purchase record.</h1>
                </div>
                <div style="padding-left:1%; padding-bottom:10px">
                    <apex:commandButton value="Upload" action="{!createPop}"  onclick="loadFile()" />
                </div>
            </div>
        </div>
        </apex:pageBlock>
        <apex:pageBlock id="successMsg" rendered="{!popCreated}">
        <apex:pageBlockSection title="You have just created the following proof of purchase " collapsible="false" >
                <apex:outputText value="Purchase Date: {0,date,MM/dd/yyyy}"> 
                <apex:param value="{!pop.Purchase_Date__c}" />
                </apex:outputText>
                <apex:outputText >File: {!filename} </apex:outputText>
        </apex:pageBlockSection>
        </apex:pageBlock>
        <div style="padding-top:15px; padding-left:15px; padding-bottom:10px;">
            <div style="padding-bottom:5px">
                <!--<h1>4. Click the "Done" button to return to the Case page</h1>-->
            </div>
            <div style="padding-left:1%; padding-bottom:10px">
                <apex:commandButton id="doneBtn" value="Back to Case" action="{!backToCase}" immediate="true"/>
            </div>
        </div>
    </apex:form>
<script type="text/javascript" language="javascript">
var j$ = jQuery.noConflict();
j$(document).ready(function() {
          
});

function loadFile() {
   j$.blockUI({message: ' <img src="/img/loading32.gif" height="40"  />Please wait...',
                css: { border: 'none' } 
    });    
}   

</script>
</apex:page>