<apex:page StandardController="Tracker__c" extensions="TrackerView" contentType="application/vnd.ms-excel#Tracker.xls" showHeader="false" standardStylesheets="false">
<apex:form >
    <apex:pageBlock >
       <apex:pageBlockTable value="{!lst}" var="l" id="table"> 
        
        <apex:column headerValue="Owner" >
        <apex:outputField value="{!l.Owner__c}"/>
       </apex:column>
       <apex:column headerValue="Date" >
        <apex:outputField value="{!l.Date__c}"/>
       </apex:column>
       <apex:column headerValue="Type">
              
        <apex:outputField value="{!l.Type__c}"/>
       </apex:column>
        <apex:column headerValue="Hours Spent" >
        <apex:outputField value="{!l.Hours_Spent2__c}"/>
       </apex:column>
       <apex:column headerValue="Module" >
        <apex:outputField value="{!l.Module__c}"/>
       </apex:column>
      
       <apex:column headerValue="Details" >
        <apex:outputField value="{!l.Description__c}"/>
       </apex:column>
       <apex:column headerValue="Requester" >
        <apex:outputField value="{!l.Requester__c}"/>
       </apex:column>
        
   </apex:pageBlockTable>
    </apex:pageBlock>
</apex:form>
</apex:page>