<apex:page StandardController="Credit_Memo__c" extensions="UpdateCMinvoiceNumController" lightningStylesheets="true">
<apex:sectionHeader title="Credit Memo Invoice Number Update" subtitle="{!Credit_Memo__c.Name}"/>
<apex:outputPanel rendered="{!showpg}">
<apex:pageMessages />
<apex:form >
 <Apex:pageBlock >
  <apex:pageBlockButtons location="Bottom">
  <Apex:commandButton value="Save" title="Update And Process to GERP" action="{!saverec}"/>
  <Apex:commandButton Value="Cancel" title="Go Back" action="{!cancel}"/>
  </apex:pageBlockButtons>
  <Apex:pageBlockSection columns="1" collapsible="false" >
   <Apex:outputPanel >
     <b>Current Invoice Number is :     </b> <b>{!inv}</b>
   </Apex:outputPanel>
   
   <Apex:inputField value="{!Credit_Memo__c.InvoiceNumber__c}"/>
 
  </Apex:pageBlockSection>
 </Apex:pageBlock>
</apex:form>
</apex:outputPanel>
<apex:outputPanel rendered="{!!showpg}">
    
    <b>{!err}</b>
</apex:outputPanel>
</apex:page>