<apex:page standardController="Quote" extensions="UpdateInvoicePriceExtension" action="{!doRealtimeIntegration}" lightningStylesheets="true">

    <apex:form >
    <apex:pagemessages />
    <apex:commandButton action="{!Cancel}" value="Cancel" rendered="{!showcancel}"/>
    </apex:form>
    
   
</apex:page>