.cssload-container{
	display: block;
	margin:49px auto;
	width:97px;
	 position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}

.cssload-loading{
	width: 97px;
	height: 97px;
	position: relative;
}
.cssload-loading>div{
	height:97px;
	opacity:0;
	position:absolute;
}
.cssload-loading .cssload-ani1{
	animation:cssload-loading_ani5 4.6s steps(1) infinite;
		-o-animation:cssload-loading_ani5 4.6s steps(1) infinite;
		-ms-animation:cssload-loading_ani5 4.6s steps(1) infinite;
		-webkit-animation:cssload-loading_ani5 4.6s steps(1) infinite;
		-moz-animation:cssload-loading_ani5 4.6s steps(1) infinite;
}
.cssload-loading .cssload-ani1 i{
	display:inline-block;
	width: 49px;
	height: 97px;
	background:rgb(255,179,100);	 
	border-radius:100% 0 0 100%/50% 0 0 50%;
}
.cssload-loading .cssload-ani1 i:nth-child(2),
.cssload-loading .cssload-ani1 i:nth-child(3){
	border-radius:0 100% 100% 0/0 50% 50% 0;
	transform-origin:left center;
		-o-transform-origin:left center;
		-ms-transform-origin:left center;
		-webkit-transform-origin:left center;
		-moz-transform-origin:left center;
	animation:cssload-loading_cssload-ani1 4.6s infinite;
		-o-animation:cssload-loading_cssload-ani1 4.6s infinite;
		-ms-animation:cssload-loading_cssload-ani1 4.6s infinite;
		-webkit-animation:cssload-loading_cssload-ani1 4.6s infinite;
		-moz-animation:cssload-loading_cssload-ani1 4.6s infinite;
}
.cssload-loading .cssload-ani1 i:nth-child(2){
	background:rgb(0,179,159);
}
.cssload-loading .cssload-ani1 i:nth-child(3){
	backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
	position:absolute;
	right:0;
}

.cssload-loading .cssload-ani2{
	font-size:0;
	width:49px;
	animation:cssload-loading_ani5 4.6s steps(1) 1.15s infinite;
		-o-animation:cssload-loading_ani5 4.6s steps(1) 1.15s infinite;
		-ms-animation:cssload-loading_ani5 4.6s steps(1) 1.15s infinite;
		-webkit-animation:cssload-loading_ani5 4.6s steps(1) 1.15s infinite;
		-moz-animation:cssload-loading_ani5 4.6s steps(1) 1.15s infinite;
}
.cssload-loading .cssload-ani2 i{
	display:inline-block;
	width: 49px;
	height: 49px;
	background:rgb(0,179,159);	 
	border-radius:0 0 0 100%;
}
.cssload-loading .cssload-ani2 i:nth-child(1),
.cssload-loading .cssload-ani2 i:nth-child(2){
	border-radius: 100% 0 0 0;
	transform-origin:left bottom;
		-o-transform-origin:left bottom;
		-ms-transform-origin:left bottom;
		-webkit-transform-origin:left bottom;
		-moz-transform-origin:left bottom;
	animation:cssload-loading_cssload-ani2 4.6s infinite;
		-o-animation:cssload-loading_cssload-ani2 4.6s infinite;
		-ms-animation:cssload-loading_cssload-ani2 4.6s infinite;
		-webkit-animation:cssload-loading_cssload-ani2 4.6s infinite;
		-moz-animation:cssload-loading_cssload-ani2 4.6s infinite;
}
.cssload-loading .cssload-ani2 i:nth-child(1){
	background:rgb(53,77,89);
}
.cssload-loading .cssload-ani2 i:nth-child(2){
	backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden; 
	position:absolute;
	left:0;
}


.cssload-loading .cssload-ani3{
	width:49px;
	font-size:0;
	top:49px;
	animation:cssload-loading_ani5 4.6s steps(1) 2.3s infinite;
		-o-animation:cssload-loading_ani5 4.6s steps(1) 2.3s infinite;
		-ms-animation:cssload-loading_ani5 4.6s steps(1) 2.3s infinite;
		-webkit-animation:cssload-loading_ani5 4.6s steps(1) 2.3s infinite;
		-moz-animation:cssload-loading_ani5 4.6s steps(1) 2.3s infinite;
}
.cssload-loading .cssload-ani3 i{
	display:inline-block;
	width: 49px;
	height: 49px;
	background:rgb(255,89,84);	 
	border-radius:0 0 0 100%;
}
.cssload-loading .cssload-ani3 i:nth-child(3){
	background:rgb(53,77,89);
	backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden; 
}
.cssload-loading .cssload-ani3 i:nth-child(2),
.cssload-loading .cssload-ani3 i:nth-child(3){
	position:absolute;
	left:0;
	transform-origin:right center;
		-o-transform-origin:right center;
		-ms-transform-origin:right center;
		-webkit-transform-origin:right center;
		-moz-transform-origin:right center;
	animation:cssload-loading_cssload-ani3 4.6s infinite;
		-o-animation:cssload-loading_cssload-ani3 4.6s infinite;
		-ms-animation:cssload-loading_cssload-ani3 4.6s infinite;
		-webkit-animation:cssload-loading_cssload-ani3 4.6s infinite;
		-moz-animation:cssload-loading_cssload-ani3 4.6s infinite;
}

.cssload-loading .cssload-ani4{
	width:97px;
	font-size:0;
	top:49px;
	animation:cssload-loading_ani5 4.6s steps(1) 3.45s infinite;
		-o-animation:cssload-loading_ani5 4.6s steps(1) 3.45s infinite;
		-ms-animation:cssload-loading_ani5 4.6s steps(1) 3.45s infinite;
		-webkit-animation:cssload-loading_ani5 4.6s steps(1) 3.45s infinite;
		-moz-animation:cssload-loading_ani5 4.6s steps(1) 3.45s infinite;
}
.cssload-loading .cssload-ani4 i{
	display:inline-block;
	width: 97px;
	height: 49px;
	background:rgb(255,179,100);	 
	border-radius:0 0 49px 49px;
}
.cssload-loading .cssload-ani4 i:nth-child(3){
	background:rgb(255,89,84);
	backface-visibility: hidden;
		-o-backface-visibility: hidden;
		-ms-backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden; 
}
.cssload-loading .cssload-ani4 i:nth-child(2),
.cssload-loading .cssload-ani4 i:nth-child(3){
	position:absolute;
	left:0;
	transform-origin:center top;
		-o-transform-origin:center top;
		-ms-transform-origin:center top;
		-webkit-transform-origin:center top;
		-moz-transform-origin:center top;
	animation:cssload-loading_cssload-ani4 4.6s infinite;
		-o-animation:cssload-loading_cssload-ani4 4.6s infinite;
		-ms-animation:cssload-loading_cssload-ani4 4.6s infinite;
		-webkit-animation:cssload-loading_cssload-ani4 4.6s infinite;
		-moz-animation:cssload-loading_cssload-ani4 4.6s infinite;
}



@keyframes cssload-loading_cssload-ani1{
	25%,100%{
		transform:rotateY(180deg);
	}
}

@-o-keyframes cssload-loading_cssload-ani1{
	25%,100%{
		-o-transform:rotateY(180deg);
	}
}

@-ms-keyframes cssload-loading_cssload-ani1{
	25%,100%{
		-ms-transform:rotateY(180deg);
	}
}

@-webkit-keyframes cssload-loading_cssload-ani1{
	25%,100%{
		-webkit-transform:rotateY(180deg);
	}
}

@-moz-keyframes cssload-loading_cssload-ani1{
	25%,100%{
		-moz-transform:rotateY(180deg);
	}
}

@keyframes cssload-loading_cssload-ani2{
	25%{
		transform:rotateX(0deg);
	}
	50%,100%{
		transform:rotateX(180deg);
	}
}

@-o-keyframes cssload-loading_cssload-ani2{
	25%{
		-o-transform:rotateX(0deg);
	}
	50%,100%{
		-o-transform:rotateX(180deg);
	}
}

@-ms-keyframes cssload-loading_cssload-ani2{
	25%{
		-ms-transform:rotateX(0deg);
	}
	50%,100%{
		-ms-transform:rotateX(180deg);
	}
}

@-webkit-keyframes cssload-loading_cssload-ani2{
	25%{
		-webkit-transform:rotateX(0deg);
	}
	50%,100%{
		-webkit-transform:rotateX(180deg);
	}
}

@-moz-keyframes cssload-loading_cssload-ani2{
	25%{
		-moz-transform:rotateX(0deg);
	}
	50%,100%{
		-moz-transform:rotateX(180deg);
	}
}

@keyframes cssload-loading_cssload-ani3{
	50%{
		transform:rotateY(0deg);
	}
	75%,100%{
		transform:rotateY(180deg);
	}
}

@-o-keyframes cssload-loading_cssload-ani3{
	50%{
		-o-transform:rotateY(0deg);
	}
	75%,100%{
		-o-transform:rotateY(180deg);
	}
}

@-ms-keyframes cssload-loading_cssload-ani3{
	50%{
		-ms-transform:rotateY(0deg);
	}
	75%,100%{
		-ms-transform:rotateY(180deg);
	}
}

@-webkit-keyframes cssload-loading_cssload-ani3{
	50%{
		-webkit-transform:rotateY(0deg);
	}
	75%,100%{
		-webkit-transform:rotateY(180deg);
	}
}

@-moz-keyframes cssload-loading_cssload-ani3{
	50%{
		-moz-transform:rotateY(0deg);
	}
	75%,100%{
		-moz-transform:rotateY(180deg);
	}
}

@keyframes cssload-loading_cssload-ani4{
	75%{
		transform:rotateX(0deg);
	}
	100%{
		transform:rotateX(180deg);
	}
}

@-o-keyframes cssload-loading_cssload-ani4{
	75%{
		-o-transform:rotateX(0deg);
	}
	100%{
		-o-transform:rotateX(180deg);
	}
}

@-ms-keyframes cssload-loading_cssload-ani4{
	75%{
		-ms-transform:rotateX(0deg);
	}
	100%{
		-ms-transform:rotateX(180deg);
	}
}

@-webkit-keyframes cssload-loading_cssload-ani4{
	75%{
		-webkit-transform:rotateX(0deg);
	}
	100%{
		-webkit-transform:rotateX(180deg);
	}
}

@-moz-keyframes cssload-loading_cssload-ani4{
	75%{
		-moz-transform:rotateX(0deg);
	}
	100%{
		-moz-transform:rotateX(180deg);
	}
}

@keyframes cssload-loading_ani5{
	0%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
}

@-o-keyframes cssload-loading_ani5{
	0%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
}

@-ms-keyframes cssload-loading_ani5{
	0%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
}

@-webkit-keyframes cssload-loading_ani5{
	0%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
}

@-moz-keyframes cssload-loading_ani5{
	0%{
		opacity:1;
	}
	25%{
		opacity:0;
	}
}