@media (max-width: 48em) {
    .THIS .slds-max-medium-table_stacked-horizontal td,
    .THIS .slds-max-medium-table--stacked-horizontal td {
        text-align:left;
    }
}
.THIS {
    background-color:#fff;
}
.THIS .slds-table_bordered, .THIS .slds-table--bordered {
    border:1px solid rgb(217, 219, 221);
}
.THIS .greenOnUp svg {
    fill : #54C134;
}
.THIS .greenOnDown svg {
    fill : #54C134;
}
.THIS .truncate
{
    word-break: break-all;
}