.THIS .req:before {
    color: rgb(194, 57, 52);
    content: '*';
    margin-right:2px;
}
.THIS{
    width:100%;
    color: rgb(112, 110, 107);
    font-size: .75rem;
    line-height:2.2;
}
/*
.THIS .cLookup {
    margin:.5rem 0;
}
*/
.THIS .fullWidth{
    width:100%;
}

.THIS .slds-lookup__item > span{
     display:inline-flex;
}
    
.THIS .slds-icon_container {
    margin-right:.25rem;
}

.THIS .slds-listbox__item:hover {
    background: #d8edff;
    text-shadow: none;
    color: #16325c;
}

.THIS .optionParent1{
    line-height: 1.5;
    padding: 0.25rem 0.75rem;
    font-size: 0.8125rem;
}

.THIS .optionIcon {
   margin-top: 0.50rem;
}

.THIS .optionTitle{
        max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    margin-bottom: 0.125rem;
}

.THIS .optionline{
    display: block;
    margin-top: -0.25rem;
    color: #54698d;
}
.THIS .singleRow{
    padding-top:5px;
}

.THIS .hide{
    display:none;
}
.THIS .slds-pill__action {
    border:none;
}

@media (max-width: 48em) {
    .THIS .lookup-text {
        width:1rem;
    }
}